<% content_for :page_title, "Collections" %>

<div class="header top-offset mb-1/2">
  <h1>All <strong>collections</strong></h1>
</div>

<div class="cards">
  <%= render collection: @collections, partial: "collections/collection_card", as: :collection %>
</div>
