<% if block_property(block, "title").present? %>
  <h2><%= block_property(block, "title") %></h2>
<% end %>


<div class="video">
  <iframe class="video__iframe" width="560" height="315" src="https://www.youtube-nocookie.com/embed/<%= block_property(block, "video_id") %>" frameborder="0"></iframe>
</div>
