.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: $margin * 0.25;
  font-size: 14px;
  line-height: 1.5em;

  a,
  span {
    @include media-min(sm) {
      font-size: 18px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: $text-color-lightest;
    text-decoration: none;

    @include hover-stack {
      text-decoration: underline;
      color: $white;
    }
  }

  span {
    margin: 0 $margin * 0.125;
  }
}
