.wiki-header {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: lighten($bg-body, 25%) url("/images/wiki/bg.webp");
    background-size: cover;
    z-index: -1;
    box-shadow: 5px 0 25px rgba($black, .25);

    @include media-min(sm) {
      height: 250px;
    }

    @media (min-width: 1100px) {
      height: 275px;
    }

    @supports (background: -webkit-canvas(squares)) {
      background-image: url("/images/wiki/bg.jpg");
    }

    @include high-contrast() {
      background-image: none;
    }
  }

  &--small {
    &::before {
      height: 135px;

      @include media-min(sm) {
        height: 155px;
      }

      @media (min-width: 1100px) {
        height: 195px;
      }

      @media (min-width: 1200px) {
        height: 200px;
      }
    }
  }
}

.wiki-header__title {
  color: $white;
  text-align: center;
  margin: 0 0 $margin * 0.5;
  font-size: 21px;

  @include media-min(sm) {
    font-size: 36px;
  }
}
