@use "sass:math";

.search-terms__title {
  font-size: 18px;
  margin: 0 0 $margin * 0.25;

  @include media-min(lg) {
    margin: 0 $margin * 0.5 0 0;
    text-align: left;
  }
}

.search-terms__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.search-term {
  display: block;
  background: theme(dark, 5%);
  margin: .1em;
  padding: .5em .75em;
  font-size: $font-size-small;
  line-height: 1em;
  color: theme(text-color-light);
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    color: theme(text-color-lightest);
    background: theme(dark, 10%);
  }

  &:nth-child(n+16) {
    display: none;

    @include media-min(lg) {
      display: block;
    }
  }
}
