(() => {
  <% if @error.present? %>
    const elements = document.querySelectorAll("[data-role='infinite-scroll-marker']")

    const button = document.querySelector("[data-role='load-more-posts']")
    if (!button) {
      elements[elements.length - 1].insertAdjacentHTML("afterEnd", '<center class="mt-1/2 text-red"><%= @error %></center>')
    }
  <% elsif @revisions.any? %>
    const elements = document.querySelectorAll("[data-role='infinite-scroll-marker']")

    elements[elements.length - 1].insertAdjacentHTML("afterEnd", `
      <%= j render "feed_items" %>
      <% if @revisions.count == PAGE_SIZE %>
        <div class="infinite-scroll" data-role="infinite-scroll-marker" data-url="<%= request.original_url %>"></div>
      <% else %>
        <h4 class="mt-1/2 mb-0"><center>You've reached the end.</center></h4>
      <% end %>
    `)
  <% end %>
})()
