@import "@scss/variables",
        "@scss/functions",
        "@scss/mixins";

// Aliases don't work for glob imports
@import "../scss/general/*";
@import "../scss/elements/*";
@import "../scss/utilities/*";
