<% content_for :page_title, "Dictionary" %>

<h1 class="mt-1/1"><strong>Dictionary</strong></h1>

<h2><strong>Actions</strong></h2>
<%= render collection: @actions.sort_by { |action| action["en-US"] }.compact, partial: "item" %>

<h2><strong>Values</strong></h2>
<%= render collection: @values.sort_by { |value| value["en-US"] }.compact, partial: "item" %>
