<div class="items mt-1/1">
  <% if @articles.any? %>
    <%= render @articles %>

    <div class="flex justify-center">
      <%= paginate @articles, theme: :simple, window: 2 %>
    </div>
  <% else %>
    <p>No results</p>
  <% end %>
</div>
