$text-colors: (
  base: $text-color,
  lightest: $text-color-lightest,
  light: $text-color-light,
  dark: $text-color-dark,
  primary: theme(primary),
  discord: $discord,
  bnet: $bnet,
  wiki: $wiki,
  overwatch-2: $overwatch-2,
  'orange': $orange,
  'red': $red,
  'green': $green,
  'black': $black,
  'white': $white,
  'transparent': transparent,
);

@each $name, $color in $text-colors {
  .text-#{$name} {
    color: $color;
  }

  .hover\:#{$name}:hover {
    color: $color;
  }
}

.sm\:text-black {
  @include media-min(sm) {
    color: $black;
  }
}

$bg-colors: (
  primary: theme(primary),
  dark: theme(dark),
  darker: theme(darker),
  overwatch-2: $overwatch-2,
  wiki: $wiki,
  'orange': $orange,
  'red': $red,
  'green': $green,
  'transparent': transparent,
);

@each $name, $color in $bg-colors {
  .bg-#{$name} {
    background: $color;
  }
}

