.visibility-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: -999px;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.sm\:hidden {
  @include media-min(sm) {
    display: none;
  }
}

.sm\:inline-block {
  @include media-min(sm) {
    display: inline;
  }
}

@each $identifier, $breakpoint in $media-min-widths {
  @include media-min(#{$identifier}) {
    .#{$identifier}\:visible {
      display: initial;
    }
  }
}

.sr-only {
  opacity: 0;
  position: absolute;
  left: -9999px;
}
