<div class="banner pt-1/8 pb-1/8 pl-1/8 pr-1/8 mt-1/2 mb-1/2">
  <small class="block mb-1/8">Advertisement</small>

  <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9279201392924636"
     data-ad-slot="3402126566"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({})
  </script>
</div>
