<div class="banner pt-1/8 pb-1/8 pl-1/8 pr-1/8">
  <small class="block mb-1/8">Advertisement</small>

  <div class="hidden visible-xl">
    <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-9279201392924636"
      data-ad-slot="6665765913"></ins>
  </div>

  <div class="hidden visible-sm hidden-xl">
    <ins class="adsbygoogle"
      style="display:inline-block;width:468px;height:60px"
      data-ad-client="ca-pub-9279201392924636"
      data-ad-slot="7238565260"></ins>
  </div>

  <div class="hidden visible-xs hidden-sm">
    <ins class="adsbygoogle"
      style="display:inline-block;width:300px;height:200px"
      data-ad-client="ca-pub-9279201392924636"
      data-ad-slot="6248917221"></ins>
  </div>

  <div class="hidden-xs">
    <ins class="adsbygoogle"
      style="display:inline-block;width:250px;height:250px"
      data-ad-client="ca-pub-9279201392924636"
      data-ad-slot="5844472985"></ins>
  </div>
</div>
