<div class="well well--dark <%= current_user.present? ? "mt-1/4" : "mt-1/1" %>">

  <div class="mb-1/4 lg:mb-0 mr-1/4">
    <h3 class="mt-0 mb-0"><strong>Workshop.codes Discord</strong></h3>

    <div class="mt-1/8"><small><em>Looking for help? Looking for a place to discuss the Workshop with others?<br><strong>Join the largest Overwatch Workshop community on Discord!</strong></em></small></div>
  </div>

  <%= link_to "Join Discord", "https://discord.gg/DdxsQRD", class: "button", target: "_blank", rel: "noreferrer noopener" %>
</div>
