<div class="standout standout--compact standout--editor mt-1/2 md:mt-1/1">
  <div>
    <h3 class="mt-0 mb-1/8">
      <strong><%= t("banner.editor.title_html") %></strong>
    </h3>

    <span>
      <%= t("banner.editor.content_html") %>
    </span>
  </div>

  <div>
    <%= link_to "Take me there", editor_path, class: "button bg-overwatch-2 mt-1/4 md:mt-0" %>
  </div>
</div>
