<div class="logo-background logo-background--overwatch">
  <div class="banner mt-1/1">
    <h3 class="mt-0 mb-0"><strong>Support Workshop.codes on <span class="text-ko-fi">Ko-fi</span></strong></h3>

    <p>
      <small>
        <em>Turns out websites are expensive and ads suck.</em> <br>
        <strong>Support Workshop.codes for just <span class="text-white">$3</span>.</strong>
      </small>
    </p>

    <%= link_to "https://ko-fi.com/workshopcodes", class: "button button--ko-fi", target: "_blank", rel: "noreferrer noopener" do %>
      <%= image_tag "ko-fi.png", width: 21, height: 21, class: "mr-1/8" %>
      Support Workshop.codes
    <% end %>
  </div>
</div>
