<div class="standout standout--compact mt-1/1">
  <%= inline_svg_tag "badges/ko-fi-supporter.svg", desc: "Ko-fi logo", width: 64, height: 64, class: "ml-1/4 mr-1/2 hidden md:visible" %>

  <div class="mr-1/4">
    <h3 class="mt-0 mb-0"><strong> Support Workshop.codes on <span class="text-ko-fi">Ko-fi</span></strong></h3>

    <div class="flex justify-between mt-1/8">
      <small class="text-dark">Monthly goal</small>

      <small data-ko-fi-progress-label></small>
    </div>

    <div class="progress mt-1/8">
      <div class="progress__bar" data-role="ko-fi-progress" data-max="25"></div>
    </div>
  </div>

  <div class="ml-auto">
    <%= link_to "Support Workshop.codes", "https://ko-fi.com/workshopcodes", class: "button button--ko-fi mt-1/4 md:mt-0 md:ml-1/8 lg:mr-1/4", target: "_blank", rel: "noreferrer noopener" %>
  </div>
</div>
