<div class="standout standout--compact standout--overwatch-2 mt-1/2 md:mt-1/1">
  <%= image_tag "overwatch_2_logo_white.png", alt: "Overwatch 2 Logo", height: 120 %>

  <div class="md:mr-1/4">
    <h3 class="mt-0 mb-0">
      <strong><%= t("banner.overwatch_2.title_html") %></strong>
    </h3>
  </div>

  <div class="ml-auto">
    <%= link_to t("banner.overwatch_2.button"), "", class: "button bg-overwatch-2" %>
  </div>
</div>
