<div class="warning warning--mild md:flex align-center p-1/4 br-1 mt-1/1 text-left" style="position: relative; border: 2px solid #5774ab; overflow: hidden;">
  <a href="https://owarmory.com/" style="position: relative; z-index: 1;">
    <%= image_tag "banners/owarmory.webp", width: 175, height: 64, class: "mr-1/4 md:visible", alt: "OW Armory" %>
  </a>

  <div style="position: relative; z-index: 1;">
    <h3 class="mt-0 mb-1/8">
      <strong>
        <a href="https://owarmory.com/" target="_blank" style="color: #5774ab">OWArmory.com</a> - Discover and create Stadium builds!
      </strong>
    </h3>

    <p>
      We've created a website to find and share Overwatch Stadium builds. Discover new stategies, share your knowledge, and stay on top of the latest meta builds.
    </p>

    <a href="https://owarmory.com/" class="button button--small mt-1/8" style="background: #5774ab">
      Check it out
    </a>
  </div>

  <%= image_tag "banners/dam.webp", alt: "", style: "position: absolute; top: -10%; left: -10%; height: 120%; width: 120%; object-fit: cover; object-position: center; opacity: 0.2; filter: blur(10px); z-index: 0;" %>
</div>
