<div class="warning warning--mild flex align-center p-1/4 br-1 mt-1/1 text-left">
  <%= inline_svg_tag "icons/icon-info.svg", width: 40, height: 40, class: "mr-1/4", alt: "" %>

  <p>
    <strong class="text-white">Stadium is not available</strong>.<br>
    The new gamemode is not currently available in Custom Games or the Workshop.
  </p>
</div>
