<div class="standout standout--compact standout--floating-image standout--venture bg-darker mt-1/1">
  <div class="standout__content">
    <h3 class="mt-0 mb-0"><strong>Excavate gems with <span class="text-primary">Venture</span>!</strong></h3>

    <p class="mt-1/8 mb-1/4 text-small">
      Venture has arrived, and Workshop creators are already digging deep to unearth codes featuring this new hero. Dive in after them and discover what the Workshop has to offer!
    </p>

    <%= link_to "Unearth codes featuring Venture", "/search?hero=venture", class: "button button--ghost" %>
  </div>

  <%= image_tag "banners/venture-cutout.webp", alt: "Venture", class: "standout__image standout__shadow-image" %>

  <div style="background-image: url(<%= image_url "maps/large/webp/petra.webp" %>" class="standout__background"></div>
</div>
