<div class="standout standout--compact standout--workshop-disabled mt-1/2 md:mt-1/1">
  <%= inline_svg_tag "warning_sign.svg", alt: "", height: 60 %>

  <div>
    <h3 class="mt-0 mb-1/8">
      <strong>The Workshop is currently disabled</strong>
    </h3>

    <span>
      <%= ENV["BANNER_ROOT_COPY"] %>
    </span>
  </div>
</div>
