<div class="warning flex align-center p-1/4 br-1 mt-1/1 text-left">
  <%= inline_svg_tag "icons/icon-warning.svg", width: 40, height: 40, class: "mr-1/4", alt: "" %>
  <p><strong>The Workshop is currently in a very buggy state.</strong> Please be considerate to the Workshoppers while Blizzard continues to ignore our existence.</p>
</div>
