.activities {
  margin: 0 auto;
  width: 100%;
}

.activities__item {
  padding: .75rem 0;
  border-bottom: 1px solid $border-color;
  font-size: $font-size-small;
  line-height: 1.25em;
  text-decoration: none;

  @include media-min(xs) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.activities__timestamp {
  font-size: 12px;
  line-height: inherit;
  color: $text-color-dark;
  text-align: right;

  @include media-min(xs) {
    margin-left: 1rem;
  }
}
