@keyframes fly-in-bubble {
  from {
    transform: translateY(105%);
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  bottom: -#{$margin * 0.125};
  left: 0;
  transform: translateY(100%);
  width: 100%;
  padding: $margin * 0.25;
  border-radius: $border-radius * 0.5;
  background: theme(dark, 5%);
  box-shadow: $shadow;
  z-index: 10;
  text-align: left;
  font-size: $font-size-small;
  animation: fly-in-bubble 200ms forwards;

  &::before {
    $size: 1rem;
    content: "";
    display: block;
    position: absolute;
    left: 1rem;
    top: $size * -0.5;
    transform: rotate(45deg);
    height: $size;
    width: $size;
    background: theme(dark, 5%);
    border-top-left-radius: $border-radius * 0.25;
  }

  &--warning {
    background: $orange;
    color: $white;

    &::before {
      background: $orange;
    }
  }
}

.bubble__separator {
  margin: $margin * 0.25 0;
  background: rgba($white, 0.35);
}
