.CodeMirror {
  padding: 0;
  border: 0;
  background: $bg-dark;
  color: $text-color-lightest;
  min-height: 600px;

  .CodeMirror-selectedtext,
  .CodeMirror-selected {
    background: lighten($bg-dark, 20%);
  }

  .CodeMirror-code {
    .cm-url {
      color: $text-color;
    }

    .cm-attribute {
      color: #8e74b5;
    }

    .cm-string {
      color: #5074de;
    }

    .cm-comment {
      background: transparent;
      color: var(--color-comment);
      font-style: italic;
    }
  }

  &.CodeMirror-fullscreen {
    z-index: 1000;
  }
}

.CodeMirror-scroll {
  min-height: 600px !important;
  padding-right: #{ $margin * 0.5 };
  padding-bottom: #{ $margin };
  margin-right: -#{ $margin };
  margin-bottom: -#{ $margin };
}

.CodeMirror-cursor {
  border-color: $text-color-lightest;
}

.CodeMirror-lines {
  padding: 2rem;

  .well {
    white-space: initial;
  }
}
