.feed__item {
  padding: $margin * 0.5 0;
  border-top: 1px solid theme(border);

  @include media-min(md) {
    display: grid;
    grid-template-columns: $thumbnail-width auto;
    gap: $margin * 0.5;
  }

  .item__thumbnail {
    display: block;
  }
}

.feed__info {
  display: grid;
  grid-template: "thumbnail code" "author date";
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 $margin * 0.125;
  margin-bottom: $margin * 0.5;

  @include media-min(md) {
    display: block;
    margin: 0;
  }
}

.feed__heading {
  margin: 0 0 $margin * 0.5;
  line-height: 1em;

  .feed__item + & {
    margin-top: $margin;
  }
}

.feed__title {
  margin: 0.35rem 0;

  a {
    color: theme(text-color-lightest);
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }
}

.feed__version {
  margin-top: 0;
  font-style: italic;
}

.feed__author {
  margin: $margin * 0.25 0 0;
  font-size: var(--font-size-small);

  a {
    color: theme(text-color-lightest);
    text-decoration: none;

    @include hover-stack {
      color: $white;
    }
  }
}

.feed__date {
  margin: $margin * 0.25 0 0;
  color: theme(text-color-dark);
  font-size: 0.75rem;
  font-style: italic;

  @include media-min(md) {
    margin: $margin * 0.125 0 0;
  }
}

.feed__update-notes {
  margin-bottom: 0.5rem;
}

.feed__code {
  width: 100%;
  padding: $margin * 0.125 0;
  border-radius: $border-radius * 0.5;

  @include media-min(md) {
    height: auto;
    margin: $margin * 0.125 0;
    font-size: 21px;
  }

  svg {
    display: none;
  }

  .code__flag {
    font-size: 0.65rem;
    padding: 0.1rem 0.3rem;
  }
}

.feed__message {
  margin: 0 0 $margin * 0.5;
  font-style: italic;
}
