.fixed-box {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  padding: 1rem;
  width: 90vw;
  max-width: 300px;
  max-height: 90vh;
  background: theme(darker);
  border-radius: $border-radius;
  z-index: 10;
  overflow-y: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 

  @include styled-scrollbar;

  &--large {
    max-width: 400px;
  }

  a {
    text-decoration: none;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}