.fixed-box {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  padding: 1rem;
  width: 90vw;
  max-width: 300px;
  max-height: 90vh;
  background: theme(darker);
  border: 1px solid theme(body);
  border-radius: $border-radius;
  box-shadow: $shadow;
  z-index: 10;
  overflow-y: auto;

  @include styled-scrollbar;

  &--large {
    max-width: 400px;
  }

  a {
    text-decoration: none;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
