.images-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;

  @include media-min(sm) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.images-preview__item {
  position: relative;
  background: theme(body);
  cursor: grab;
  color: theme(body);
  border-radius: $border-radius * 0.5;
  overflow: hidden;

  @include hover-stack {
    filter: brightness(1.1);
    box-shadow: 0 0 0 2px theme(text-color-lightest);
  }

  &:active {
    cursor: grabbing;
  }

  img,
  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.images-preview__action {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  padding: .25em;
  background: theme(dark);
  color: $white;
  cursor: pointer;

  &--close {
    background: $red;
    border-radius: 0 0 0 $border-radius * 0.5;

    &:hover,
    &:active {
      background: saturate(lighten($red, 20%), 50%);
    }
  }

  .sortable-ghost & {
    display: none;
  }
}

.images-preview__progress {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: $margin * 0.25;
  aspect-ratio: 9/5;
}

.images-preview__progress-bar {
  position: relative;
  height: 1rem;
  width: 0;
  border-radius: 99px;
  background: $primary;
  transition: width 50ms;
}
