.notifications {
  position: relative;
}

.notifications__bubble {
  position: absolute;
  top: -.5em;
  right: -.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  padding: .25rem;
  margin-left: auto;
  background: $primary;
  box-shadow: 0 0 10px 2px $primary;
  color: $white;
  line-height: 1em;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  z-index: 5;
  transition: opacity 200ms;
  cursor: pointer;
}

.notifications__item {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid $border-color;
  color: $text-color-lightest;
  font-size: $font-size-small;
  line-height: 1.35em;

  .dropdown & {
    padding: .5rem $margin * 0.25;
    border-bottom: 1px solid lighten($border-color, 10%);
  }

  &:last-child {
    border-bottom: 0;
  }

  &:last-child:first-child {
    margin-top: .5rem;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

@keyframes rotate-bell {
  0% { transform: rotate(0); }
  25% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0); }
}

@keyframes move-knocker {
  0% { transform: translateX(0); }
  33% { transform: translateX(-20%); }
  66% { transform: translateX(20%); }
  100% { transform: translateX(0); }
}

.notifications__bell {
  display: flex;
  align-items: center;
  gap: $margin * 0.125;
  padding: .5em .75em;
  margin-top: .25rem;
  background: $bg-dark;
  border-radius: $border-radius;
  cursor: pointer;
  color: $text-color-lightest;

  @include media-min(mbl) {
    background: transparent;
    padding: 0;
    color: $bg-dark;
  }

  @include hover-stack {
    background: $bg-darker;
    box-shadow: 0 0 0 2px $white;
    color: $white;

    @include media-min(mbl) {
      color: $bg-darker;
      background: transparent;
      box-shadow: none;
    }
  }

  svg {
    height: 1rem;
    transform-origin: top center;

    @include media-min(mbl) {
      height: 1.5rem;
    }

    &.animating {
      animation: rotate-bell 600ms;

      path {
        &.knocker {
          animation: move-knocker 500ms 200ms;
        }
      }
    }
  }
}

.notifications__label {
  line-height: 1;
  font-weight: bold;

  @include media-min(mbl) {
    display: none;
  }
}
