<h1 class="top-offset pt-1/2">Forgot Password</h1>

<p>
  If the email address you entered was found in our system we will send you an email within a few minutes.
  <br>Be sure to check your spam folder.
</p>
