<h1 class="top-offset pt-1/2">Forgot Password</h1>

<p>
  If the emailaddress you entered was found in our system we will send you an email within 1 minute.
  <br>Be sure to check your spam folder.
</p>
