@keyframes move-in-alert {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}

.alert {
  position: fixed;
  right: $margin / 3;
  bottom: $margin / 3;
  padding: .5em 1em;
  border-radius: $border-radius;
  background: darken($primary, 10%);
  box-shadow: 0 10px 10px rgba($black, .5);
  color: $pure-white;
  font-size: 14px;
  text-decoration: none;
  z-index: 2000;
  transform: translateY(200%);
  animation: move-in-alert 200ms 500ms forwards;

  &--error {
    background: $red;
  }

  &--warning {
    background: darken($orange, 8%);
  }
}
