@keyframes move-in-alert {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}

.alert {
  position: fixed;
  right: $margin / 3;
  bottom: $margin / 3;
  padding: .5em 1em;
  border-radius: $border-radius;
  background: $primary;
  box-shadow: 0 10px 10px rgba($black, .5);
  color: $pure-white;
  font-size: 12px;
  text-decoration: none;
  z-index: 2000;
  animation: move-in-alert 100ms;

  &--error {
    background: $red;
    box-shadow: inset 0 0 0 1px lighten($red, 15%), 0 10px 10px rgba($black, .5);
  }
}
