@keyframes hinge {
  25% {
    transform: rotate(150deg);
  }

  30% {
    transform: rotate(155deg);
  }

  60% {
    transform: rotate(75deg);
  }

  85% {
    transform: rotate(92deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.hinge {
  @include media-min(sm) {
    transform-origin: 1.5rem center;
    animation: hinge 1000ms 2000ms ease-out forwards;
    z-index: 10;
  }
}
