@keyframes fly-in-april-fools {
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.april-fools {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 900px;
  padding: 0.5rem;
  transform: translateY(100%) translateX(-50%);
  opacity: 0;
  z-index: 10;
  animation: fly-in-april-fools 500ms 5000ms forwards;
}

.april-fools__image {
  max-width: 100%;
  height: auto;
}

.april-fools__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  z-index: -1;
}

.april-fools__close {
  position: absolute;
  top: -1rem;
  right: 1rem;
}
