.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: $border-radius * 2;
  aspect-ratio: 16/9;
  filter: blur(50px);
  transform: scale(1.1);
  transition: opacity 1000ms;
  opacity: 0;
  z-index: -1;

  &--visible {
    opacity: .25;
  }
}
