.content-block {
  display: block;
  padding: $margin / 2;
  background: $bg-darker;
  border-radius: $border-radius * 2;
  text-align: left;
  color: $text-color;
}

.content-block__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  a {
    text-decoration: none;
    margin-left: $margin / 8;

    &:hover,
    &:active {
      filter: brightness(1.1);
    }
  }
}

.content-block__social {
  display: flex;
  align-items: center;
  margin-bottom: $margin / 8;
  font-size: 112.5%;

  &:last-child {
    margin-bottom: 0;
  }

  &[href] {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      color: white;
      text-decoration: underline;
    }
  }

  svg {
    margin-right: $margin / 4;
  }
}

.empty-blocks-marker {
  display: none;

  &:last-child {
    display: block;
  }
}
