.button {
  display: inline-block;
  padding: .5em 1em;
  border: 0;
  background: $primary;
  color: $pure-white;
  font-size: 19px;
  font-family: "Barlow Condensed", $font-stack;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-shadow: inset 0 0 0 1px lighten($primary, 15%);
  cursor: pointer;
  transition: box-shadow 100ms;

  &:hover:not([disabled]),
  &:active:not([disabled]),
  &:focus:not([disabled]) {
    color: $pure-white;
    box-shadow: inset 0 0 0 2px $pure-white;
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[disabled] {
    opacity: .75;
  }

  &--small {
    font-size: 12px;
    font-family: $font-stack;
  }

  &--secondary {
    color: $white;
    background: $bg-dark;
    box-shadow: inset 0 0 0 1px lighten($bg-dark, 10%);
  }

  &--danger {
    background: $red;
    box-shadow: inset 0 0 0 1px lighten($red, 15%);
  }

  &--discord {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    border: 0;
    border-radius: 3px;
    background: $discord;
    box-shadow: none;
    font-family: $font-stack;
    font-size: $font-size-small;
    font-weight: medium;
  }

  &--bnet {
    @extend .button--discord;
    background: $bnet;
  }

  svg {
    margin-right: .5em;
  }

  .simple-view & {
    border: 0;
    box-shadow: none;
  }
}
