.button {
  display: inline-block;
  padding: .5em 1em;
  border: 0;
  border-radius: $border-radius;
  background: $primary;
  color: $pure-white;
  font-size: 19px;
  font-size-adjust: 0.52;
  font-family: "Barlow Condensed", "Impact";
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 100ms;

  &:hover:not([disabled]),
  &:active:not([disabled]),
  &:focus:not([disabled]) {
    color: $pure-white;
    box-shadow: inset 0 0 0 2px $pure-white;
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[disabled] {
    opacity: .75;
    background: $gray-dark;
  }

  &--small {
    font-size: 12px;
    font-family: $font-stack;
    font-weight: 600;
  }

  &--thin {
    padding: .5em .75em;
  }

  &--pill {
    border-radius: 99px;
  }

  &--secondary {
    color: $white;
    background: $bg-dark;
  }

  &--dark {
    color: $white;
    background: $bg-darker;
  }

  &--light {
    background: $pure-white;
    color: $bg-dark;

    &:hover:not([disabled]),
    &:active:not([disabled]),
    &:focus:not([disabled]) {
      opacity: .75;
      color: $bg-dark;
    }
  }

  &--danger {
    background: $red;
  }

  &--discord {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    border: 0;
    border-radius: 3px;
    background: $discord;
    box-shadow: none;
    font-size: $font-size-small;
    font-weight: medium;
  }

  &--bnet {
    @extend .button--discord;
    background: $bnet;
  }

  &--ko-fi {
    display: inline-flex;
    align-items: center;
    background: $ko-fi;
    box-shadow: none;
  }

  &--link {
    background: transparent;
    border: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    color: $white;

    &:hover:not([disabled]),
    &:active:not([disabled]),
    &:focus:not([disabled]) {
      color: $pure-white;
      box-shadow: none;
    }
  }

  svg {
    margin-right: .5em;
  }

  .simple-view & {
    border: 0;
    box-shadow: none;
  }

  .spinner {
    margin-bottom: $margin / 8;
  }
}
