.cards {
  display: grid;
  grid-gap: $margin / 4;

  @include media-min(xs) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $margin / 2;
  }

  @include media-min(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  @extend .banner;
  display: flex;
  flex-direction: column;
  padding: $margin / 4;
  text-align: left;
  font-size: 28px;
  color: $white;
  font-family: "bignoodletitlingregular", $font-stack;
}

.card__title {
  display: block;
  padding-bottom: .5rem;
  margin-bottom: auto;
  font-family: $font-stack;
  font-size: $font-size-small;
  color: $text-color;
  text-decoration: none;
}
