.CodeMirror {
  padding: 0;
  border: 0;
  background: $bg-dark;
  color: $white;
  min-height: 600px;

  .CodeMirror-selectedtext,
  .CodeMirror-selected {
    background: lighten($bg-dark, 20%);
  }

  .CodeMirror-code {
    .cm-url {
      color: $text-color;
    }

    .cm-attribute {
      color: #8e74b5;
    }

    .cm-string {
      color: #5074de;
    }
  }

  &.CodeMirror-fullscreen {
    z-index: 1000;
  }
}

.CodeMirror-scroll {
  min-height: 600px !important;
  padding-right: #{ $margin / 2 };
  padding-bottom: #{ $margin };
  margin-right: -#{ $margin };
  margin-bottom: -#{ $margin };
}

.CodeMirror-cursor {
  border-color: $white;
}

.CodeMirror-lines {
  padding: 2rem;

  .well {
    white-space: initial;
  }
}

/// CodeMirror 6

@keyframes fly-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
}

.cm-editor {
  color: $text-color-light;

  .cm-scroller {
    padding-top: $margin / 4;
    font-family: var(--editor-font, "Consolas"), monospace;
  }

  .cm-gutters {
    border-right: 0;
    background: var(--editor-background, #{$bg-dark});
    color: $text-color-dark;

    .cm-activeLineGutter {
      background: transparent;
      color: $text-color-light;
    }
  }

  .cm-content {
    padding-bottom: 75vh;
  }

  .cm-activeLine {
    background: rgba($pure-white, 0.025);
  }

  .cm-selectionBackground {
    background: lighten($bg-dark, 10%);
  }

  .cm-selectionMatch {
    background: lighten($bg-dark, 10%);
  }

  &.cm-focused .cm-selectionBackground {
    background: lighten($bg-dark, 15%);
  }

  .cm-searchMatch {
    background: lighten($bg-dark, 10%);
    box-shadow: 0 0 0 1px $primary;
  }

  .cm-matchingBracket {
    background: lighten($bg-dark, 20%) !important;
  }

  .cm-cursor {
    border-color: var(--editor-cursor-color, #ff00ff);
    border-width: calc(var(--editor-cursor-width, 3) * 1px);
  }

  .cm-completionIcon {
    padding-right: 1rem;
  }

  .cm-tooltip {
    background: darken($bg-dark, 5%);
    border: 0;
    box-shadow: $shadow;

    &.cm-tooltip-hover {
      border-radius: $border-radius;
      padding: $margin / 16 $margin / 8;
      box-shadow: none;
      color: $text-color;
      font-size: 0.75rem;
      pointer-events: none;
    }

    > ul {
      @include styled-scrollbar;
    }

    > .cm-tooltip {
      padding: 0.35rem 0.5rem;
      background: lighten($bg-dark, 5%);
      color: $text-color-light;
      white-space: pre-wrap;
    }
  }

  .cm-tooltip-arrow {
    display: none;
  }

  .cm-completionDetail {
    color: $text-color;
    font-size: 0.85em;
  }

  .cm-tooltip-autocomplete ul li[aria-selected] {
    background: lighten($bg-dark, 5%);
  }

  .cm-lintRange-error {
    box-shadow: 0 3px 0 $red;
    background: transparent;
  }

  .cm-lint-marker-error::before {
    content: "!";
    display: block;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    border-radius: 50%;
    background: $red;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 1em;
  }

  .cm-panel.cm-search {
    width: 100%;
    position: absolute;
    bottom: $margin / 4;
    right: $margin / 4;
    left: $margin / 4;
    width: calc(100% - #{ $margin / 2 });
    padding: $margin / 8;
    border-radius: $border-radius / 2;
    background: rgba(darken($bg-dark, 10%), 0.5);
    backdrop-filter: blur(10px);
    box-shadow: $shadow;
    animation: fly-in 200ms;

    input {
      @extend .form-input !optional;
      width: auto;
      padding: .25em .5em;
      border-radius: $border-radius / 4;
      font-size: $font-size-small;
      background: lighten($bg-dark, 10%);
      color: $white;

      &:focus {
        background: lighten($bg-dark, 12.5%);
        box-shadow: 0 0 0 2px rgba($pure-white, 0.5);
      }

      &::placeholder {
        font-style: italic;
        color: $text-color;
      }
    }

    label {
      color: $text-color;
      font-size: $font-size-small;
      font-family: $font-stack;
    }

    .cm-button {
      @extend .button !optional;
      @extend .button--secondary !optional;
      padding: .25em .5em;
      margin-right: 0.25em;
      border-radius: $border-radius / 4;
      background: lighten($bg-dark, 5%);
      font-size: $font-size-small;
      text-transform: none;
    }

    button[name="close"] {
      right: 0;
      padding: 0 0.25rem;
      background: transparent;
      font-size: 1.25rem;
      color: $text-color-light;
      cursor: pointer;

      &:hover {
        color: $pure-white;
      }
    }
  }

  .cm-diagnostic {
    padding: .5rem;
  }
}
