.code {
  appearance: none;
  position: relative;
  grid-area: code;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $thumbnail-height;
  padding: $margin / 6 0;
  margin-bottom: auto;
  border: 0;
  background: $bg-dark;
  border-radius: $border-radius;
  font-family: "Barlow Condensed", "Impact";
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.25em;
  font-size-adjust: 0.51;
  color: $white;
  cursor: pointer;
  overflow: hidden;

  @include hover-stack {
    outline: none;
    filter: brightness(1.15);
  }

  .item--show & {
    background: darken($bg-dark, 5%);
  }

  .item--extra-small & {
    padding: $margin / 8 0;
    font-size: 28px;

    .copy-trigger {
      height: 21px;
      width: 21px;
    }
  }

  .item--large & {
    width: 100%;
    height: auto;
    margin-top: $margin / 4;
    padding: $margin / 8 0;
    border-radius: $border-radius / 2;
    font-size: 28px;

    @include media-min(md) {
      max-width: 280px;
    }
  }
}

.code__flag {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: $border-radius;
  background: $orange;
  padding: .20rem .45rem;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
  font-family: $font-stack;
  color: $pure-white;
}
