.derivatives {
  display: grid;
  grid-gap: $margin / 4;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.derivative {
  display: flex;
  flex-direction: column;
  padding: $margin / 8;
  border-radius: $border-radius / 2;
  background: darken($bg-dark, 5%);
  color: $white;
  text-decoration: none;
  overflow: hidden;

  &[href]:hover,
  &[type]:hover {
    filter: brightness(1.15);
    cursor: pointer;
  }
}

.derivative__title {
  margin-bottom: $margin / 8;
  color: $text-color-dark;
  font-size: .75rem;
  line-height: 1em;
}

.derivative__code {
  margin-top: auto;
  color: $white;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1em;
  font-family: "Barlow Condensed", "Impact";
  text-transform: uppercase;
}
