.dropdown {
  display: inline-block;
  position: relative;
  color: $white;
}

.dropdown__toggle {
  color: $white;
  text-decoration: none;
  white-space: nowrap;

  @supports not (clip-path: polygon(0 0)) {
    color: $text-color-dark;
  }

  @include hover-stack {
    color: $pure-white;

    @supports not (clip-path: polygon(0 0)) {
      color: $black;
    }
  }
}

.dropdown__content {
  display: none;
  position: absolute;
  bottom: -.5rem;
  right: 0;
  width: 200px;
  max-height: 55vh;
  padding: .5rem 0;
  border-radius: 10px;
  background: $bg-dark;
  transform: translateY(100%);
  box-shadow: 0 10px 30px 0 rgba($black, .25), 0 3px 6px 0 rgba($black, .25);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;

  @media (max-width: 999px) {
    right: -70px;
  }

  @include styled-scrollbar();

  &--left {
    left: 0;
    right: auto;
  }

  &--large {
    width: 80vw;
    max-width: 300px;
  }

  &.active {
    display: block;
  }

  @mixin dropup() {
    bottom: auto;
    top: -.5rem;
    transform: translateY(-100%);
  }

  .dropup & {
    @include dropup;
  }

  .lg-down\:dropup & {
    @media (max-width: 999px) {
      @include dropup;
      right: 50%;
      transform: translateY(-100%) translateX(50%);
    }
  }

  hr {
    margin: $margin / 6 0;
    background: lighten($bg-dark, 10%);
  }

  small {
    font-size: 12px;
    line-height: 1.25em;
  }
}

.dropdown__item {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5rem 1rem;
  width: 100%;
  border: 0;
  background: transparent;
  color: $white;
  text-decoration: none;
  text-align: left;
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: 1.35em;
  cursor: pointer;

  @include hover-stack {
    color: $pure-white;
    background: darken($bg-dark, 5%);
  }

  img {
    display: block;
    margin-right: .75em;
    border-radius: 50%;
    background-color: $body-bg;
  }

  small {
    margin-left: 0.25rem;
    font-size: 0.65em;
  }

  .empty-image {
    display: block;
    margin-right: .75em;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: $body-bg;
    background-image: url($snowball-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
}

.dropdown__label {
  display: block;
  color: $text-color;
  padding: 1rem 1rem .5rem;

  &:first-child {
    padding-top: .5rem;
  }

  small {
    font-size: $font-size-small;
  }
}

.dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: $bg-darker;
}
