@keyframes grow-heart {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes grow-heart-circle {
  0% {
    transform: scale(0);
  }

  30% {
    background: transparent;
    box-shadow: inset 0 0 0 20px rgba($pure-white, .15);
    transform: scale(2.5);
  }

  80% {
    background: transparent;
    box-shadow: inset 0 0 0 2px rgba($pure-white, .15);
    transform: scale(2.5);
  }

  100% {
    background: transparent;
    box-shadow: inset 0 0 0 2px transparent;
    transform: scale(2.5);
  }
}

.favorite {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 2;

  svg {
    height: 22px;

    path {
      fill: rgba($pure-white, .75);
    }
  }

  &:hover,
  &:active {
    svg path {
      fill: $white;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &[disabled] {
    opacity: .5;
  }

  &--is-active {
    &:hover,
    &:active {
      svg path {
        fill: $red;
      }
    }

    svg {
      path {
        fill: $red;
      }
    }
  }

  &--animating {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: $red;
      z-index: -1;
      animation: grow-heart-circle 500ms forwards;
    }

    svg {
      animation: grow-heart 300ms;
    }
  }
}

.favorite__label {
  display: block;
  margin: 0 $margin / 3 0 $margin / 6;
  font-weight: bold;
  color: $white;
}
