@keyframes fade-in-filter-content {
  from { max-height: 0; padding-top: 0 }
  to { max-height: 20rem; padding-top: 1rem }
}

@keyframes fade-out-filter-content {
  from { max-height: 20rem; padding-top: 1rem }
  to { max-height: 0; padding-top: 0 }
}

.filter {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.filter__content {
  width: 100%;
  padding-top: 1.5rem;
  border-bottom-left-radius: $search-height / 2;
  border-bottom-right-radius: $search-height / 2;
  background: $bg-darker;
  height: 100%;
  animation: fade-in-filter-content 150ms;

  .fading-in & {
    overflow: hidden;
  }

  .fading-out & {
    overflow: hidden;
    animation: fade-out-filter-content 150ms;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -#{ $search-height / 2 };
    left: 0;
    height: $search-height / 2;
    width: 100%;
    background: $bg-darker;
  }
}

.filter__group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0 1.5rem;

  @include media-min(lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &--mobile-reverse {
    flex-direction: column-reverse;

    @include media-min(lg) {
      flex-direction: row;
    }
  }
}

.filter__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  margin: .25rem 0;
  font-size: $font-size-base;

  @include media-min(lg) {
    flex-direction: row;
    margin: .5rem 0 .5rem $margin / 2;
    text-align: left;
  }
}

.filter__label {
  color: $text-color-dark;

  &::before {
    content: "\00a0|\00a0";

    @include media-min(lg) {
      content: ""
    }
  }

  &::after {
    @include media-min(lg) {
      content: "\00a0|\00a0";
    }
  }
}

.filter__button {
  padding: .5em .75em;
  border-radius: $border-radius;
  background: $bg-dark;
}

.filter__tray {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1.5rem 1.5rem .5rem;
  margin-top: 1.5rem;
  border-bottom-left-radius: $search-height / 2;
  border-bottom-right-radius: $search-height / 2;
  background: darken($body-bg, 8%);

  @include media-min(sm) {
    flex-direction: row;
    align-items: center;
    padding: .5rem $search-height / 2;
  }

  .button {
    text-transform: none;
  }
}

.filter__actions {
  display: flex;
  margin-left: auto;
  margin-right: $search-height / 2;
  border-bottom-left-radius: $border-radius * 2;
  border-bottom-right-radius: $border-radius * 2;
  background: darken($body-bg, 8%);
  overflow: hidden;
}

.filter__link {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: .75rem;
  margin-left: auto;
  color: $white;
  font-family: $font-stack;
  font-size: $font-size-small;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $pure-white;
  }

  &:focus {
    outline: none;
  }

  &--remove {
    background: $red;
    color: $pure-white;
  }

  &--active {
    background: $primary;
    color: $pure-white;

    &:hover,
    &:active {
      background: lighten($primary, 5%);
      color: $pure-white;
    }
  }
}
