.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 1rem;
  font-size: 16px;

  @include media-min(sm) {
    font-size: 18px;
  }

  @include media-min(lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }

  hr {
    margin: $margin / 6 0;
    background: $text-color-dark;
  }
}

.filter__item {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-bottom: $margin / 12;

  @include media-min(lg) {
    flex-direction: row;
    margin-left: $margin / 2;
    margin-bottom: 0;
    text-align: left;
  }
}

.filter__label {
  color: $text-color-dark;

  &::before {
    content: "\00a0|\00a0";

    @include media-min(lg) {
      content: ""
    }
  }

  &::after {
    @include media-min(lg) {
      content: "\00a0|\00a0";
    }
  }
}

.filter__dropdown {
  position: relative;
  color: $white;
}

.filter__dropdown-toggle {
  color: $white;
  text-decoration: none;
  white-space: nowrap;

  @supports not (clip-path: polygon(0 0)) {
    color: $text-color-dark;
  }

  &:hover,
  &:active {
    color: lighten($white, 50%);

    @supports not (clip-path: polygon(0 0)) {
      color: $black;
    }
  }
}

.filter__dropdown-content {
  display: none;
  position: absolute;
  bottom: -.5rem;
  right: 0;
  width: 200px;
  max-height: 40vh;
  padding: .5rem 0;
  border-radius: 10px;
  background: $bg-dark;
  transform: translateY(100%);
  box-shadow: 0 10px 30px 0 rgba($black, .25), 0 3px 6px 0 rgba($black, .25);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;

  @include styled-scrollbar();

  &.active {
    display: block;
  }
}

.filter__dropdown-item {
  display: block;
  padding: .5rem 1rem;
  color: $white;
  text-decoration: none;
  font-size: 16px;

  &:hover,
  &:active {
    background: darken($bg-dark, 5%);
  }
}

.filter__dropdown-label {
  display: block;
  color: $text-color;
  padding: 1rem 1rem .5rem;

  &:first-child {
    padding-top: .5rem;
  }
}

.filter__tray {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: $text-color-dark;
}

.filter__actions {
  margin-left: auto;
}

.filter__link {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: auto;
  color: $text-color-dark;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $white;
  }

  &:focus {
    outline: none;
  }

  &--remove {
    color: $red;
    margin-right: 1rem;
  }
}
