@keyframes fade-in-filter-content {
  from { max-height: 0; padding-top: 0 }
  to { max-height: 20rem; padding-top: calc(1.5rem + #{ $search-height / 2 }) }
}

@keyframes fade-out-filter-content {
  from { max-height: 20rem; padding-top: calc(1.5rem + #{ $search-height / 2 }) }
  to { max-height: 0; padding-top: 0 }
}

.filter {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 100%;
  top: $search-height;
  z-index: 5;
}

.filter__content {
  position: relative;
  width: 100%;
  margin-top: $search-height / -2;
  padding-top: calc(1.5rem + #{ $search-height / 2 });
  border-bottom-left-radius: $search-height / 2;
  border-bottom-right-radius: $search-height / 2;
  background: $body-bg;
  height: 100%;
  animation: fade-in-filter-content 150ms;
  z-index: 20;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 3rem;
    bottom: .65rem;
    height: 10px;
    width: calc(100% - 6rem);
    z-index: -1;
    opacity: .45;
    background: $black;
    box-shadow: 0 0 1.5rem 1.5rem $black;
    border-radius: 99px;
    pointer-events: none;

    .simple-view & {
      display: none;
    }
  }

  .fading-in & {
    overflow: hidden;
  }

  .fading-out & {
    overflow: hidden;
    animation: fade-out-filter-content 150ms;
  }
}

.filter__group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0 1.5rem 0 0;

  &--mobile-reverse {
    flex-direction: column-reverse;
  }
}

.filter__item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  margin: .25rem 0;
  font-size: $font-size-base;

  @include media-min(lg) {
    flex-direction: row;
    margin: .25rem 0;
    text-align: left;
  }
}

.filter__label {
  color: $text-color-dark;

  &::before {
    content: "\00a0|\00a0";

    @include media-min(lg) {
      content: ""
    }
  }

  &::after {
    @include media-min(lg) {
      content: "\00a0|\00a0";
    }
  }
}

.filter__button {
  padding: .5em .75em;
  border-radius: $border-radius;
  background: $bg-dark;
}

.filter__tray {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem $search-height / 2;
  margin-top: 1.5rem;
  border-bottom-left-radius: $search-height / 2;
  border-bottom-right-radius: $search-height / 2;
  background: $bg-dark;
}

.filter__link {
  display: flex;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  padding: .65rem .5rem;
  color: $white;
  font-family: $font-stack;
  font-size: $font-size-base;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $pure-white;

    path {
      fill: $white;
    }
  }

  &:focus {
    outline: none;
  }

  &--remove {
    background: $red;
    color: $pure-white;
  }

  &--active {
    background: $primary;
    color: $pure-white;
    font-size: 12px;

    &:hover,
    &:active {
      background: lighten($primary, 5%);
      color: $pure-white;
    }
  }
}

.filter-actions {
  position: absolute;
  right: 2.5rem;
  top: 0;
  display: flex;
  z-index: 15;
}
