.footer {
  font-size: 12px;
  margin-top: $margin;
  padding: $margin / 6 0;
  border-top: 1px solid $border-color;

  @include media-min(md) {
    display: flex;
    justify-content: space-between;
    margin-top: $margin * 2;
  }

  a {
    color: $text-color;
  }
}
