.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: $margin / 2;
  padding: 0;
  color: $pure-white;

  @include media-min(mbl) {
    margin-bottom: $margin;
  }

  @include media-min(xl) {
    padding: 0 $margin / 3 0 0;
  }
}

@keyframes fade-in-header-content {
  from {
    transform: scale(1.15);
    opacity: 0;
  }
}

.header__content {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include media-min(mbl) {
    display: flex;
  }

  &--is-active {
    @media (max-width: map-get($media-min-widths, mbl) - 1) {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      padding: $margin calc(10vw - #{ $margin / 2 });
      width: 100%;
      height: 100vh;
      background: $bg-darker;
      z-index: 110;

      @include motion {
        animation: fade-in-header-content 200ms;
      }
    }
  }
}

@keyframes fade-in-search {
  from {
    max-width: 100px;
    opacity: 0
  }

  to {
    max-width: calc(100vw - 7.5rem);
  }
}

.header__search {
  display: none;
  position: relative;

  @include media-min(sm) {
    display: block;
    margin: 0 $margin / 8 0 auto;
  }

  @include media-min(mbl) {
    margin: 0 $margin / 8;
  }

  &--is-active {
    @media (max-width: map-get($media-min-widths, sm) - 1) {
      display: block;
      position: absolute;
      top: 6px;
      right: 5rem;
      width: calc(100vw - 7.5rem);
      z-index: 10;
      transform-origin: right center;

      @include motion {
        animation: fade-in-search 150ms;
      }

      .is-sticky & {
        position: relative;
        top: 0;
        left: 0;
        margin-right: auto;

        @include motion {
          transition: width 200ms;
        }

        input {
          --height: #{$search-height - 4px};
        }
      }
    }
  }

  &--mobile {
    @include media-min(sm) {
      display: none;
    }
  }
}

.header__search-trigger {
  appearance: none;
  background: transparent;
  border: 0;
  padding-left: .5rem;
  color: white;
  font-size: 32px;
  line-height: 1.2em;
  font-weight: bolder;
  text-decoration: none;

  @include media-min(sm) {
    display: none;
  }

  svg {
    display: block;

    path {
      fill: white;
    }
  }
}

.header__create {
  margin-left: auto;
  margin-right: .5rem;
  white-space: nowrap;

  @include media-min(sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.header__mobile-sticky {
  display: flex;
  flex-wrap: nowrap;
  right: $margin / 3;
  border-radius: $border-radius / 2;
  transition: background-color 200ms, box-shadow 200ms;
  z-index: 100;

  &.is-sticky {
    background: rgba($black, 0.25);
    box-shadow: 0 0 0 .25rem rgba($black, 0.25);
    width: auto !important;

    @include media-min(sm) {
      display: none;
    }
  }
}
