.ide {
  position: relative;
  min-height: 300px;
  margin-top: $margin / 2;
  box-shadow: 0 5px 15px rgba($black, .5);

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0;
    z-index: 10;
  }
}

.ide__content {
  grid-area: content;
  height: 100%;
  width: 100%;
  max-height: 75vh;
  margin: 0;
  font-size: 12px;
  line-height: 2em;
  overflow: auto;
  tab-size: 2;

  @include media-min("lg") {
    font-size: 14px;
    line-height: 2em;
  }

  @include styled-scrollbar();

  .ide--fullscreen & {
    max-height: 100%;
  }
}

.ide__code-wrapper {
  grid-area: code;
  display: grid;
  grid-template: "line-counter code";
  grid-template-columns: 3em calc(100% - 3em);
  width: 500%;
  height: 100%;
  z-index: 1;
}

.ide__code {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 .5rem;

  &::selection,
  span::selection {
    background: rgba($white, .1);
  }

  .ide--input & {
    padding: 1rem;
  }
}

.ide__line-counter {
  grid-area: line-counter;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lighten($border-color, 5%);
  color: lighten($border-color, 10%);
  z-index: 1;
}

.ide__tray {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  background: $body-bg;
  border-top: 1px solid lighten($border-color, 5%);
}

.ide__tray-item {
  position: relative;
  padding: .5em;
  border-left: 1px solid lighten($border-color, 5%);
  font-size: 10px;
  line-height: 1em;
  cursor: pointer;

  @include media-min("sm") {
    font-size: 12px;
  }

  &:hover,
  &:active {
    color: $white;
  }

  .copy__notification {
    font-size: 12px;
    padding: .5em;
    width: 100%;
  }
}

.ide__action {
  display: block;
  width: 100%;
  padding: .35rem;
  margin-bottom: 2rem;
  background: $bg-dark;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  font-size: 14px;
  cursor: pointer;
}
