.ide {
  display: grid;
  grid-template: "sidebar content";
  grid-template-columns: 250px calc(100% - 250px);
  min-height: 300px;
  margin-top: $margin * 2;
  box-shadow: 0 5px 15px rgba($black, .5);

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
  }

  &--input {
    grid-template: "content";
    grid-template-columns: 100%;
  }
}

.ide__sidebar {
  grid-area: sidebar;
  background: $body-bg;
  max-height: 75vh;
  padding: $margin / 3;
  overflow-y: auto;

  @include styled-scrollbar($body-bg);

  .ide--fullscreen & {
    max-height: 100%;
  }
}

.ide__content {
  grid-area: content;
  height: 100%;
  width: 100%;
  max-height: 75vh;
  margin: 0;
  overflow: auto;
  tab-size: 2;

  @include styled-scrollbar();

  .ide--fullscreen & {
    max-height: 100%;
  }
}

.ide__code-wrapper {
  grid-area: code;
  display: grid;
  grid-template: "line-counter code";
  grid-template-columns: 3em calc(100% - 3em);
  position: relative;
  width: 500%;
  height: 100%;
  z-index: 1;
}

.ide__code {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 .5rem;

  &::selection,
  span::selection {
    background: rgba($white, .1);
  }

  .ide--input & {
    padding: 1rem;
  }
}

.ide__line-counter {
  grid-area: line-counter;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lighten($border-color, 5%);
  color: lighten($border-color, 10%);
  z-index: 1;
}

.ide__active-line {
  position: absolute;
  top: 0;
  left: -5em;
  height: 2em;
  width: 100%;
  background: rgba($white, .05);
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

.ide__rules {
  font-style: italic;
  font-size: 14px;

  > div {
    padding: .5em 0;
    border-bottom: 1px solid $border-color;
    font-style: normal;
    cursor: pointer;

    &:hover,
    &:active,
    &.active {
      color: $white;
      background: linear-gradient(to right, rgba($white, 0) 0%,rgba($white, 0.05) 50%,rgba($white, 0) 100%);
    }

    &:first-child {
      border-top: 1px solid $border-color;
    }
  }
}

.ide__title {
  margin: 0 0 $margin / 3;
}
