.infinite-scroll {
  position: absolute;
  bottom: 0;
}

.infinite-scroll:not(:empty) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $margin / 2 0;
  padding: $margin / 2 0;
  background: var(--bg-darker);
  border-radius: $border-radius;
}
