.items {

}

.items-heading {
  display: flex;
  flex-direction: column-reverse;

  @include media-min(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  h1 {
    margin-top: $margin / 2;
    margin-bottom: 0;

    @include media-min(md) {
      margin: 0;
    }
  }
}

.items-heading__action {
  width: $code-width;
  margin-top: $margin / 2;

  @include media-min(sm) {
    margin-right: $margin / 2;
    margin-top: 0;
  }

  @include media-min(md) {
    margin-right: 0;
  }
}

.item {
  display: grid;
  grid-template:
    "title"
    "details"
    "action"
    "code";
  border-top: 1px solid $border-color;
  margin-bottom: $margin / 3;

  @include media-min(sm) {
    grid-template:
      "title code"
      "details action";
    grid-template-columns: calc(100% - #{ $code-width }) $code-width;
    margin-bottom: 0;
  }

  &--small {
    display: block;
    padding-bottom: $margin / 3;
    margin-bottom: 0;

    @include media-min(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
    }
  }

  &--single {
    margin-top: $margin * 2;
    border-top: 0;
    border-bottom: 1px solid $border-color;
  }

  &--bottom {
    grid-template: "details";
    border-top: 0;
    margin-top: $margin;

    @include media-min(md) {
      margin-top: $margin * 2;
    }
  }
}

.item__title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $margin / 3 0;
  font-size: 21px;
  font-weight: lighter;
  color: $white;

  @include media-min(sm) {
    padding-right: $margin / 3;
  }

  .item--single & {
    @include responsive-font-width(32px, map-get($media-min-widths, lg), 24px);
    padding: ($margin / 6) ($margin / 3) ($margin / 6) 0;
    line-height: 1.5em;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      box-shadow: 0 1px 0 $border-color;
    }
  }
}

.item__code {
  grid-area: code;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $margin / 6 0;
  background: $bg-dark image-url("layout/pattern-bg-light.webp");
  font-family: "bignoodletitlingregular";
  font-style: italic;
  font-size: 36px;
  line-height: 1em;
  color: $white;

  svg {
    height: 24px;
    width: 24px;
    margin-right: .25em;

    path {
      fill: $text-color-dark;
    }
  }
}

.item__details {
  grid-area: details;
  display: flex;
  flex-wrap: wrap;
  padding: $margin / 6 0 0;
  color: $text-color-dark;
  font-size: 14px;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:active {
      color: $white;
    }
  }

  .item--bottom & {
    display: block;
  }
}

.item__details-item {
  margin-right: $margin / 2;
  margin-bottom: $margin / 6;

  &:last-child {
    margin-right: 0;
  }
}

.item__action {
  grid-area: action;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $margin / 6 0;
  font-family: "bignoodletitlingregular";
  font-style: italic;
  font-size: 24px;
  color: $text-color-dark;
  text-decoration: none;
  transition: padding 100ms;

  &:hover,
  &:active {
    padding: $margin / 6;
    background: $bg-dark;
    color: $white;
  }

  svg {
    height: 16px;

    path {
      fill: $primary;
    }
  }
}

.item__actions {
  display: flex;
  align-items: center;
}

.item__description {
  margin-top: $margin;
  line-height: 1.5em;

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3 {
    margin: $margin 0 $margin / 2;
  }
}
