.items {
  position: relative;

  .simple-view & {
    hr {
      display: none;
    }
  }

  .item:last-of-type {
    border-bottom: 1px solid $border-color;
  }
}

.items-heading {
  display: flex;
  flex-direction: column-reverse;

  @include media-min(md) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: $margin / 2;
    justify-content: space-between;
  }

  h1 {
    margin-top: $margin / 2;
    margin-bottom: 0;

    @include media-min(md) {
      margin: 0;
    }
  }
}

.items-heading__action {
  @include media-min(sm) {
    width: $code-width;
  }
}

.item {
  display: grid;
  grid-template:
    "thumbnail code code"
    "title title favorite"
    "details details details";
  grid-template-columns: 50% calc(50% - #{ $favorite-width }) $favorite-width;
  border-top: 1px solid $border-color;
  margin-bottom: $margin / 3;
  padding-top: $margin / 3;

  @include media-min(sm) {
    grid-template:
      "thumbnail title favorite code"
      "thumbnail details favorite code";
    grid-template-columns: $thumbnail-width calc(100% - #{ $thumbnail-width } - #{ $favorite-width  } - #{ $code-width }) $favorite-width $code-width;
    padding: $margin / 3 0;
    margin: 0;
  }

  @supports (-ms-ime-align:auto) {
    display: block;
  }

  &--small {
    display: flex;
    align-items: center;
  }

  &--single {
    margin-top: $margin;
    border-top: 0;
    grid-template:
      "title"
      "code";

    @include media-min(sm) {
      grid-template:
        "title code"
        "details action";
      grid-template-columns: calc(100% - #{ $code-width }) $code-width;
    }

    + .item--bottom {
      margin-top: 0;
    }
  }

  &--bottom {
    grid-template: "details";
    border-top: 0;
    margin-top: $margin;

    @include media-min(md) {
      margin-top: $margin * 2;
    }
  }

  .simple-view & {
    display: grid;
    grid-template: "title favorite"
                   "code code";
    grid-template-columns: calc(100% - #{ $favorite-width * 2 }) $favorite-width * 2;
    border: 3px solid $border-color;
    margin-bottom: 1rem;
    padding: 0;

    @include media-min(sm) {
      display: grid;
      grid-template: "title favorite code";
      grid-template-columns: calc(100% - #{ $code-width + $favorite-width }) $favorite-width $code-width;
    }
  }
}

.item__favorite {
  grid-area: favorite;
  margin: $margin / 3 0 0 auto;

  @include media-min(sm) {
    margin: 23px $margin / 4 auto;
  }

  .simple-view & {
    margin-right: 1rem;
  }
}

.item__thumbnail {
  grid-area: thumbnail;
  position: relative;
  width: 120px;
  height: 120px / 16 * 9;
  background: $bg-dark;
  box-shadow: 0 10px 30px 0 rgba($black, .25), 0 3px 6px 0 rgba($black, .25);

  @include media-min(sm) {
    display: block;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($snowball-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }

  &:hover,
  &:active {
    filter: brightness(1.15);
  }

  .simple-view & {
    display: none;
  }

  img {
    display: block;
    position: relative;
    font-size: 12px;
  }
}

.item__title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $margin / 3 0;
  margin-top: auto;
  font-size: 131%;
  font-weight: lighter;
  color: $white;

  @include media-min(sm) {
    padding: $margin / 12 0 $margin / 6 $margin / 3;
  }

  .item--single & {
    @include responsive-font-width(32px, map-get($media-min-widths, lg), 24px);
    padding: $margin / 6 0;
    line-height: 1.5em;

    @include media-min(sm) {
      margin-right: $margin / 3;
      margin-bottom: 0;
    }
  }

  .item--small & {
    padding: 0 0 $margin / 6 $margin / 3
  }

  .item--extra-small & {
    padding: ($margin / 6) 0;
    font-size: 21px;
  }

  &--small {
    font-size: 18px;

    .item--single & {
      font-size: 18px;

      @include media-min(sm) {
        font-size: 24px;
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:active {
      color: $pure-white;
    }
  }

  small {
    font-size: 12px;
    color: $text-color;

    @include media-min(sm) {
      font-size: 18px;
    }
  }

  .simple-view & {
    padding: $margin / 3;
  }
}

.item__code {
  position: relative;
  grid-area: code;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $thumbnail-height;
  padding: $margin / 6 0;
  margin-bottom: auto;
  background: $bg-dark;
  border-radius: $border-radius;
  font-family: "Barlow Condensed", "Impact";
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.25em;
  font-size-adjust: 0.51;
  color: $white;
  cursor: pointer;
  overflow: hidden;

  &:hover,
  &:active {
    filter: brightness(1.15);
  }

  .item--extra-small & {
    padding: $margin / 8 0;
    font-size: 28px;

    .copy-trigger {
      height: 21px;
      width: 21px;
    }
  }

  .item--single & {
    height: 100%;
  }

  .simple-view & {
    background: $bg-dark;
    border-radius: 0;
  }
}

.item__code-flag {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: $border-radius;
  background: $orange;
  padding: .20rem .35rem;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
  font-family: $font-stack;
  color: $pure-white;
}

.item__details {
  grid-area: details;
  display: block;
  color: $text-color-dark;
  font-size: $font-size-small;

  @include media-min(sm) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: auto;
  }

  .item--bottom & {
    display: block;
    padding: 0;
  }

  .simple-view & {
    display: none;
  }
}

.item__details-item {
  display: block;
  margin: $margin / 12 0;

  @include media-min(sm) {
    margin: $margin / 12 $margin / 3;
  }

  &:last-child {
    margin-right: $margin / 3;

    @media (max-width: #{map-get($media-min-widths, sm) - 1px}) {
      margin-bottom: 0;
    }
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:active {
      color: $white;
    }
  }

  .item--bottom & {
    margin: 0 0 $margin / 6;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.item__action {
  grid-area: action;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: $margin / 6 0;
  font-family: "Barlow Condensed", "Impact";
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  font-size-adjust: 0.52;
  color: $text-color-dark;
  text-decoration: none;
  transition: padding 100ms;

  &:hover,
  &:active {
    padding: $margin / 6;
    background: $bg-dark;
    color: $white;
  }

  @include media-min(sm) {
    display: flex;
  }

  @supports (-ms-ime-align:auto) {
    display: none;
  }

  svg {
    height: 16px;

    path {
      fill: $primary;
    }
  }

  .simple-view & {
    display: none;
  }
}

.item__actions {
  flex-wrap: nowrap;
  align-items: center;
  flex-wrap: wrap;
  padding-left: $margin / 3;

  @include media-min(md) {
    display: flex;
  }

  a {
    display: block;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }
  }

  .simple-view & {
    padding: 0 1rem;
  }
}

.item__tray {
  flex: 0 0 100%;
  padding-bottom: $margin / 3;
}

.item__image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  background: $bg-darker;
}

.item__description {
  margin-top: $margin;
  line-height: 1.5em;
  overflow-wrap: break-word;

  details {
    margin-bottom: $margin / 6;
  }

  summary {
    padding: $margin / 6;
    border: 1px solid $border-color;
    cursor: pointer;

    &:hover,
    &:active {
      border-color: lighten($border-color, 10%);
    }

    &:focus {
      outline: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2 {
    margin: $margin 0 $margin / 2;
    line-height: 1.1em;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: $margin / 1.5 0 $margin / 4;
    line-height: 1.1em;
  }

  ul {
    list-style: none;
    padding-left: 1.5rem;

    @include media-min(md) {
      padding-left: 2.5rem;
    }

    li {
      position: relative;

      &::before {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        content: "•";
        color: $primary;
        padding-right: .5rem;
        transform: translateX(-100%);
      }

      ul {
        padding-left: 1.5rem;

        li::before {
          content: "◦";
        }
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ol {
    counter-reset: ordered-list;
    list-style: none;
    padding-left: 2.5rem;

    li {
      counter-increment: ordered-list;
      position: relative;

      &::before {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        content: counter(ordered-list) ".";
        color: $primary;
        padding-right: .5rem;
        transform: translateX(-100%);
      }
    }
  }

  iframe {
    max-width: 100%;
    background: var(--bg-darker);

    &[src*="gfycat"] {
      height: clamp(0px, calc((80vw - #{ $margin }) / 16 * 9), map-get($media-min-widths, lg) / 16 * 9);
    }
  }

  blockquote {
    width: 100%;
    margin: 0;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  pre {
    @include styled-scrollbar;
    width: 100%;
    overflow-x: auto;
    tab-size: 2;

    code {
      white-space: pre;
    }
  }
}
