.listings {
  @include styled-scrollbar;
  display: block;
  padding: $margin / 4;
  margin-top: $margin / 2;
  border-radius: $border-radius * 2;
  background: darken($body-bg, 5%);
  font-size: $font-size-small;
  max-height: 440px;
  overflow: auto;

  @include media-min(md) {
    margin-top: 0;
  }

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.listings__item {
  border-top: 1px solid rgba($pure-white, .1);

  &:hover,
  &:active {
    a {
      color: $pure-white;
    }
  }

  &:last-child {
    margin-bottom: .5rem;
  }

  > .listings__item-title {
    padding: .5em 0;
    cursor: pointer;
  }
}

.listings__item-title {
  display: flex;
  justify-content: space-between;
  padding: .15em;

  span:first-child {
    display: block;
    width: 75%;
    max-width: 20em;
    overflow: hidden;
    text-decoration: none;
    color: $white;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
