.logo {
  display: none;

  @include media-min(xl) {
    display: block;
    height: $logo-height / 1.25;
    margin: 0;
  }

  @media (min-width: 1300px) {
    height: $logo-height;
  }
}

.logo-mobile {
  display: block;
  height: $logo-height / 1.5;
  margin: 0;

  @include media-min(xl) {
    display: none;
  }
}

.logo-link {
  border-radius: $border-radius / 2;
  @include focus-visible-outline;

  @include hover-stack {
    filter: brightness(1.05);
  }
}
