.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-min(mbl) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: $margin / 2;
  }

  @media (min-width: 1400px) {
    margin-left: $margin;
  }
}

.navigation__item {
  display: block;
  margin-bottom: $margin / 4;
  border-radius: $border-radius / 2;
  color: $pure-white;
  text-decoration: none;
  font-family: var(--font-stack-alt);
  text-transform: uppercase;
  font-size: 18px;

  @include focus-visible-outline;

  @include media-min(mbl) {
    font-size: clamp(19px, 2vw, 24px);
    margin-right: clamp(#{ $margin / 8 }, 1.25vw, #{ $margin / 2 });
    margin-bottom: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:active,
  &:focus,
  &--active {
    color: $pure-white;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background: $pure-white;
      opacity: .5;
    }
  }

  &--active {
    &::before {
      background: $pure-white;
      opacity: 1;
    }

    &:hover::before {
      background: $pure-white;
      opacity: 1;
    }
  }

  svg {
    height: 32px;

    @include media-min(mbl) {
      height: 24px;
    }
  }
}

.navigation-trigger {
  display: flex;
  align-items: center;
  position: relative;
  height: 2.375rem;
  width: 2.375rem;
  padding: 0 .5rem;
  color: white;
  font-size: 32px;
  line-height: 1.2em;
  font-weight: bolder;
  text-decoration: none;

  @include focus-visible-outline;

  @include media-min(sm) {
    margin-left: 1rem;
  }

  @include media-min(mbl) {
    display: none;
  }

  &:focus {
    color: white;
  }

  svg {
    display: block;
  }
}

.navigation-close {
  @extend .navigation-trigger;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
