.notifications {
  position: relative;
}

.notifications__bubble {
  position: absolute;
  top: -.5em;
  right: -.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  padding: .25rem;
  margin-left: auto;
  background: $primary;
  box-shadow: 0 0 10px 2px $primary;
  color: $pure-white;
  line-height: 1em;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  z-index: 5;
  transition: opacity 200ms;
  cursor: pointer;
}

.notifications__item {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid $border-color;
  color: $white;
  font-size: $font-size-small;
  line-height: 1.35em;

  .dropdown & {
    padding: .5rem $margin / 4;
    border-bottom: 1px solid lighten($border-color, 10%);
  }

  &:last-child {
    border-bottom: 0;
  }

  &:last-child:first-child {
    margin-top: .5rem;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.notifications__icon {
  height: 1.5rem;
  margin-top: .25rem;
  cursor: pointer;

  @include hover-stack {
    path {
      fill: $pure-white;

      @include media-min(mbl) {
        fill: $bg-darker;
      }
    }
  }

  path {
    fill: $white;
    
    @include media-min(mbl) {
      fill: $bg-dark;
    }
  }
}
