.quick-filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(100px, 40vw, 150px), 1fr));
  grid-gap: $margin / 4;
}

.quick-filter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $margin / 4;
  border-radius: $border-radius;
  background: $bg-dark;
  box-shadow: $shadow;
  text-decoration: none;
  cursor: pointer;

  @include hover-stack {
    filter: brightness(1.15);
  }
}

.quick-filter__icon {
  height: 1.5rem;
  width: auto;
  margin-bottom: $margin / 8;

  path {
    fill: $white;
  }
}
