.search {
  position: relative;

  input {
    padding: calc(#{ $search-height } - (1.5em * 2)) calc(#{ $search-height / 2} + .5em);
    border-radius: $search-height / 2;

    &:placeholder-shown {
      + label {
        display: block;
      }
    }
  }

  label {
    display: none;
    position: absolute;
    left: calc(#{ $search-height / 2} + .75em);
    top: 50%;
    transform: translateY(-50%);
    font-style: italic;
    font-size: 0;
    font-weight: lighter;
    color: $text-color;
    cursor: text;

    @include media-min(sm) {
      font-size: 16px;
    }

    @include media-min(md) {
      font-size: 18px;
    }

    strong {
      color: $white;
      font-size: 21px;
      font-weight: lighter;

      @include media-min(md) {
        font-size: 24px;
      }
    }
  }
}
