.search {
  position: relative;

  input:not([type="submit"]) {
    padding: calc(#{ $search-height / 1.25 } - (1.5em * 2)) calc(#{ $search-height / 2.5});
    padding-right: 4rem;
    border-radius: $search-height / 2;

    @include media-min(sm) {
      padding: calc(#{ $search-height } - (1.5em * 2)) calc(#{ $search-height / 2} + .5em);
      padding-right: 6rem;
    }

    &:placeholder-shown {
      + label {
        display: block;
      }
    }
  }

  label {
    display: none;
    position: absolute;
    left: calc(#{ $search-height / 2.5 });
    top: 50%;
    transform: translateY(-50%);
    font-style: italic;
    font-size: 0;
    font-weight: lighter;
    color: $text-color;
    cursor: text;
    pointer-events: none;

    @include media-min(sm) {
      left: calc(#{ $search-height / 2} + .75em);
    }

    @include media-min(md) {
      font-size: 16px;
    }

    @include media-min(lg) {
      font-size: 18px;
    }

    strong {
      color: $white;
      font-size: 21px;
      font-weight: lighter;

      @include media-min(md) {
        font-size: 24px;
      }
    }
  }
}

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2.5rem;
  height: 100%;
  background: transparent image-url("icons/icon-search.svg") no-repeat;
  background-size: 24px 24px;
  background-position: center;
  border: 0;
  cursor: pointer;

  @include media-min(sm) {
    padding: 0 3rem;
    background-size: 28px 28px;
  }

  &:hover,
  &:active {
    filter: brightness(2);
    box-shadow: none;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
