.standout {
  position: relative;
  padding: $margin / 3 $margin / 4;
  text-align: center;
  background: $bg-dark;
  border-radius: $border-radius;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 4rem;
    bottom: 0;
    height: 50%;
    width: calc(100% - 8rem);
    border-radius: $border-radius * 2;
    z-index: -1;
    opacity: .45;
    background: $black;
    box-shadow: 0 0 2rem 2rem $black;

    @include media-min(sm) {
      left: 6rem;
      width: calc(100% - 12rem);
    }
  }

  &--compact {
    @include media-min(md) {
      display: flex;
      justify-content: space-between;
      padding: $margin / 3;
      align-items: center;
      text-align: left;
    }
  }

  &--workshop-disabled {
    gap: $margin / 4;
    border: 2px solid $red;

    @include media-min(md) {
      border: 0;
      background: transparent;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $red;
        border-radius: $border-radius;
        background: $bg-dark;
        z-index: -1;
      }
    }

    svg {
      display: none;

      @include media-min(md) {
        display: block;
        flex: 0 0 auto;
      }
    }
  }

  p {
    margin: .5rem 0 1rem;
  }

  a[id] img {
    background: darken($bg-dark, 10%);
    color: $text-color-dark;
    font-size: 12px;
  }
}
