$color-base: #cbf6fb;

$highlight-types: (
  string: #98C379,
  punctuation: rgba($color-base, .3),
  keyword: #E06C75,
  number: #D19A66,
  comment: rgba($color-base, .2)
);

.syntax-highlight {
  color: $color-base;
}

:root {
  @each $type, $value in $highlight-types {
    --color-#{ $type }: #{ $value };
  }
}

@each $type, $value in $highlight-types {
  .#{ $type } {
    color: var(--color-#{ $type });
  }
}
