.toast {
  position: fixed;
  left: $margin / 3;
  bottom: $margin / 3;
  max-width: 40vw;
  padding: .5em 1em;
  border-radius: $border-radius;
  background: $bg-darker;
  box-shadow: 0 10px 10px rgba($black, .5);
  color: $text-color;
  font-size: 12px;
  text-decoration: none;
  z-index: 2000;
}
