.tooltip {
  position: relative;

  &:hover,
  &:active {
    .tooltip__content {
      display: block;
    }
  }
}

.tooltip__content {
  display: none;
  position: absolute;
  bottom: -.5rem;
  left: 0;
  padding: .25rem;
  width: 200px;
  border: 1px solid $border-color;
  transform: translateY(100%);
  background: $body-bg;
  font-size: 12px;
  line-height: 1.5em;
  box-shadow: 0 10px 30px 0 rgba($black, .25), 0 3px 6px 0 rgba($black, .25);
  z-index: 10;
}
