.warning {
  border: 2px solid $primary;
  border-radius: $border-radius;
  margin-top: $margin * 2;
  padding: 1rem;
  background: $bg-dark;
  text-align: center;

  &--mild {
    border-color: $border-color;
  }
}
