.warning {
  border-radius: $border-radius;
  margin-top: $margin * 2;
  padding: 1rem;
  background: $primary;
  text-align: center;
  color: white;

  &--mild {
    border: 3px solid $border-color;
    background: $bg-darker;
    color: $text-color;
  }
}
