.well {
  position: relative;
  padding: $margin / 3;
  border-radius: $border-radius;
  background: $bg-dark;

  @include media-min(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &--simple {
    box-shadow: none;
    background: transparent
  }

  &--dark {
    background: var(--bg-darker);
  }

  &--scrollable {
    max-height: 10rem;
    overflow-y: auto;

    @include styled-scrollbar;
  }

  &--image {
    display: flex;
    flex-wrap: wrap;

    @include media-min(sm) {
      padding-left: 150px;
    }

    img {
      display: none;

      @include media-min(sm) {
        display: block
      }
    }

    .text-small {
      line-height: 1.3em;
    }
  }

  &--wiki {
    border: 2px solid $wiki;
  }

  a {
    text-decoration: none;
  }

  > div > p:first-child {
    margin-top: 0;
  }

  > div > p:last-child {
    margin-bottom: 0;
  }
}

.well__content {
  margin-top: $margin / 4;
  font-size: $font-size-small;

  @include media-min(sm) {
    margin-top: 0;
    text-align: right;
  }
}

.well__tray {
  flex: 0 0 100%;
}
