@function theme($key, $lightness: 0%) {
  $color: $primary;

  // Yeah... at least the function is nice and easy to use
  @if ($key == dark) {
    $color: $bg-dark;
  } @else if ($key == darker) {
    $color: $bg-darker;
  } @else if ($key == body) {
    $color: $bg-body;
  } @else if ($key == border) {
    $color: $border-color;
  } @else if ($key == text-color) {
    $color: $text-color;
  } @else if ($key == text-color-light) {
    $color: $text-color-light;
  } @else if ($key == text-color-lightest) {
    $color: $text-color-lightest;
  } @else if ($key == text-color-dark) {
    $color: $text-color-dark;
  } @else if ($key != primary) {
    @error "Key is not supported"
  }

  $h: hue($color);
  $s: saturation($color);
  $l: lightness($color);

  @return hsl(var(--#{$key}-h, $h), var(--#{$key}-s, $s), calc(var(--#{$key}-l, #{$l}) + #{$lightness}));
}
