@use "sass:math";

@mixin responsive-font-width($max-value, $max-width, $min-value: 10px) {
  font-size: $min-value;

  $percentage-of: math.div($min-value, $max-value) * 100;
  $min-width: math.div($max-width, $max-width * 0 + 1) * 0.01 * $percentage-of;

  @media (min-width: #{$min-width}px) {
    font-size: math.div(math.div($max-value, $max-value * 0 + 1), (math.div($max-width, $max-width * 0 + 1) * 0.01)) + vw;
  }

  @include media-min(lg) {
    font-size: $max-value;
  }
}

@mixin media-min($media) {
  $value: $media;

  @if map-has-key($media-min-widths, $media) {
    $value: map-get($media-min-widths, $media);
  }

  @media (min-width: #{ $value }) {
    @content;
  }
}

@mixin styled-scrollbar($background: $bg-dark, $thumb-color: $text-color) {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    left: -10px;
  }

  &::-webkit-scrollbar-track {
    background: $background;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid $background;
    background-color: $thumb-color;
  }

  &::-webkit-scrollbar-corner {
    background: $bg-dark;
  }
}

@mixin hover-stack() {
  &:hover,
  &:active,
  &:focus-visible {
    @content;
  }
}

@mixin inline-input() {
  -webkit-appearance: none;
  appearance: none;
  flex: 1 1 auto;
  width: 100%;
  border: 0;
  background: transparent;
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $text-color-lightest;

  &:focus {
    outline: none;
  }
}

@mixin motion() {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin focus-visible-outline($prepend: '') {
  outline-offset: 0;

  @include motion {
    transition: outline-offset 150ms;
  }

  &:focus-visible {
    outline: 2px solid $white;

    &:not(:active) {
      @if $prepend == inset {
        outline-offset: -2px;
      } @else {
        outline-offset: 3px;
      }
    }
  }
}
