@use "sass:math";

$media-min-widths: (
  xs: 400px,
  sm: 640px,
  md: 768px,
  lg: 900px,
  mbl: 1000px,
  xl: 1200px
);

$white: #fff;
$black: #000;
$gray: #90989c;
$gray-dark: #6a7277;
$red: #b33834;
$orange: #e89930;
$green: #3fbf74;

$body-bg: #1f2326;
$bg-dark: #2e3337;
$bg-darker: darken($body-bg, 5%);
$border-color: #353b3f;

$primary: #f06414;
$secondary: lighten($body-bg, 5%);
$discord: #5865f2;
$bnet: #148eff;
$overwatch-2: #ed6516;
$wiki: #00abff;
$logo-cog: #565a5d;

$text-color: $gray;
$text-color-light: lighten($gray, 10%);
$text-color-lightest: #dfdfdf;
$text-color-dark: $gray-dark;

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-stack-alt: "Barlow Condensed", "Impact", monospace;

$font-size-base: 16px;
$font-size-small: 14px;

$margin: 4rem;
$border-radius: 1rem;
$logo-height: 80px;
$search-height: 42px;
$wiki-search-height: 80px;
$header-height: $margin;
$code-width: 150px;
$thumbnail-width: 120px;
$thumbnail-height: math.div($thumbnail-width, 16) * 9;
$favorite-width: 3.5rem;

$shadow: 0 2px 1px rgba(0, 0, 0, .1),
         0 4px 2px rgba(0, 0, 0, .1),
         0 8px 4px rgba(0, 0, 0, 0.1),
         0 16px 8px rgba(0, 0, 0, 0.1),
         0 32px 16px rgba(0, 0, 0, 0.1);

:root {
  color-scheme: dark;
  --primary: #{ $primary };
  --secondary: #{ $secondary };
  --white: #{ $text-color-lightest };
  --orange: #{ $orange };
  --red: #{ $red };
  --overwatch-2: #{ $overwatch-2 };
  --wiki: #{ $wiki };
  --text-color: #{ $gray };
  --text-color-light: #{ $text-color-light };
  --text-color-dark: #{ $gray-dark };
  --bg-body: #{ $body-bg };
  --bg-dark: #{ $bg-dark };
  --bg-darker: #{ $bg-darker };
  --border-color: #{ $border-color };
  --border-radius: #{ $border-radius };
  --shadow: #{ $shadow };
  --font-size-base: #{ $font-size-base };
  --font-size-small: #{ $font-size-small };
  --font-stack: #{ $font-stack };
  --font-stack-alt: #{ $font-stack-alt };
}

.wiki {
  --primary: #{ $wiki };
}
