<article class="item">
  <div class="item__title">
    <%= link_to snippet.title, snippet_path(snippet.unique_id) %>
  </div>

  <small class="align-self-center text-sm-right">
    Made by

    <%= link_to snippet.user.username, user_path(snippet.user.username) %>
  </small>
</article>
