<div class="mt-1/1 well">
  <div class="mb-1/4 lg:mb-0">
    Hello there, <strong><%= current_user.username %></strong>. Share what you know and help us fill out the wiki.
  </div>

  <%= link_to "Create new article", new_wiki_article_path, class: "button" %>
</div>
