<blockquote class="mt-full mb-0">
  <strong>Welcome to the Workshops wiki.</strong> Here you will find in-depth information about the various aspects of the Overwatch Workshop, from events, conditions and actions, to effects and other details.
  Anyone is free to contribute to the wiki. Please help us in building a comprehensive resource!
</blockquote>

<div class="cards mt-full">
  <div class="card wiki-card">
    <h3 class="mt-0">Categories</h3>

    <%= link_to "All categories", wiki_categories_path %>
  </div>

  <div class="card wiki-card">
    <h3 class="mt-0">Popular Articles</h3>

    <%= link_to "More popular articles", wiki_articles_path %>
  </div>

  <div class="card wiki-card">
    <h3 class="mt-0">Latest Changes</h3>

    <%= link_to "All changes", wiki_edits_path %>
  </div>
</div>

<h2 class="mt-full">Questions & Answers</h2>

Most recent | Popular
