.form-input {
  display: inline-block;
  background: $bg-dark;
  width: 100%;
  padding: .5em 1em;
  border: 0;
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $white;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-style: italic;
    color: $text-color-dark;
  }

  &--large {
    width: 100%;
    height: $search-height / 1.25;
    padding: calc(#{ $search-height / 1.25 } - (1.5em * 2)) $margin / 3;
    font-size: 21px;
    font-weight: lighter;
    line-height: 1.5em;
    box-shadow: 0 10px 30px 0 rgba($black, .25), 0 3px 6px 0 rgba($black, .25);
    transition: box-shadow 200ms;

    @include media-min(sm) {
      height: $search-height;
      padding: calc(#{ $search-height } - (1.5em * 2)) $margin / 2;
      font-size: 24px;
      line-height: 1.5em;
    }

    &:focus {
      box-shadow: 0 10px 40px 5px rgba($black, .2), 0 3px 12px 5px rgba($black, .2);
    }

    .simple-view & {
      box-shadow: 0 0 0 5px $body-bg;
    }

    .high-contrast & {
      font-weight: normal;
    }

    .high-contrast.simple-view & {
      box-shadow: 0 0 0 5px var(--bg-darker);
    }
  }
}

.form-textarea {
  width: 100%;
  min-height: 600px;
  padding: $margin / 2;

  &--small {
    min-height: 300px;
  }

  &--extra-small {
    min-height: 150px;
    max-width: map-get($media-min-widths, sm);
    padding: $margin / 3;
  }
}

.form-label {
  display: block;
  margin-bottom: $margin / 6;
  font-size: 112.5%;
}

.form-group {
  margin-top: $margin / 6;
}

.form-group-uneven {
  @include media-min(sm) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: $margin / 2;
  }
}

.form-group-columns {
  @include media-min(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $margin;
  }
}

.form-group-triple {
  @include media-min(sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $margin;
  }
}

.form-group-max-width {
  @include media-min(sm) {
    max-width: map-get($media-min-widths, xs);
  }
}


.form-select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: ($margin / 3) 2.5em ($margin / 3) ($margin / 3);
  border: 0;
  background: $bg-dark;
  font-size: $font-size-base;
  color: $text-color;
  cursor: pointer;

  &:hover {
    border-color: $text-color;
  }

  &:focus {
    outline: none;
  }

  &:not(multiple) {
    background: $bg-dark url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23#{str-slice(inspect($gray), 2, 7)}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
  }

  &--small {
    padding: .6em 2.5em .6em 1em;
  }

  option {
    color: $text-color;
    background: $bg-dark;

    &[disabled] {
      color: darken($gray, 20%);
    }

    &:checked {
      background: linear-gradient($text-color, $text-color);
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin: 1px 0 0;
    border-radius: 2px;
    border: 2px solid $text-color;
    cursor: pointer;

    &[type="radio"] {
      border-radius: 50%;
    }

    &:hover {
      border-color: lighten($gray, 20%);
    }

    &:checked {
      background: $primary;
      border: 0;
    }

    &:focus {
      outline: none;
      border-color: lighten($gray, 20%);
    }
  }

  label {
    padding-left: 1rem;
    cursor: pointer;

    &:hover {
      color: lighten($gray, 20%);
    }
  }
}

input[type="checkbox"] {
  &:checked + label {
    color: $white;
  }

  &[disabled],
  &[disabled] + label {
    cursor: not-allowed;
    opacity: .25;
    color: $text-color;
    border-color: $text-color;
  }
}

input[type="file"] {
  width: 100%;
  padding: .5rem;
  border: 1px solid $border-color;
  margin-top: $margin / 4;
}

.form-hint {
  display: block;
  max-width: map-get($media-min-widths, sm);
  margin: $margin / 3 0;
  font-size: $font-size-small;
  line-height: 1.25em;
  font-style: italic;
  color: $text-color-dark;

  label + & {
    margin-top: $margin / 3 - $margin / 6;
  }
}

.field_with_errors {
  display: inline;

  input,
  select {
    border: 1px solid $red;
  }
}

.error-block {
  background: rgba($bg-dark, .5);
  border: 3px solid $red;
  padding: $margin / 3;
  margin-bottom: $margin / 2;

  ul {
    margin-bottom: 0;
  }
}

.error-block__title {
  margin: 0 0 $margin / 3;
  font-size: 21px;
}

.form-danger-zone {
  border: 4px solid $red;
  padding: $margin / 4;
  margin-top: $margin;
  font-size: $font-size-small;

  a {
    color: $white;
  }
}

.hidden-field {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
}

.url-input {
  display: flex;
  color: $text-color;
}

.inline-input {
  -webkit-appearance: none;
  appearance: none;
  flex: 1 1 auto;
  width: 100%;
  border: 0;
  background: transparent;
  font-family: $font-stack;
  font-size: $font-size-base;
  color: $white;

  &:focus {
    outline: none;
  }
}
