* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font-stack;
  font-size: $font-size-base;
}

body {
  position: relative;
  padding: $margin / 3 $margin / 3 0;
  background: $body-bg image-url("layout/pattern-bg.webp");
  color: $text-color;
  overflow-x: hidden;

  &.simple-view {
    background: $body-bg;
  }

  &.high-contrast {
    background: darken($body-bg, 5%);
  }
}

a {
  color: $text-color;
  outline: none;

  @include hover-stack {
    color: $white;
    outline: none;
  }
}

mark {
  background: transparent;
  color: $primary;
}

hr {
  height: 1px;
  margin: $margin 0;
  border: 0;
  background: $border-color;

  &.small {
    margin: $margin / 2 0;
  }

  .simple-view & {
    height: 2px;
  }
}

code {
  font-family: monospace;
  font-size: 1em;
  padding: 2px 4px;
  color: $text-color;
  background-color: $bg-dark;
  border-radius: 2px;
}

pre {
  background: darken($bg-dark, 5%);
  padding: .5rem;
  border-radius: $border-radius / 2;
  line-height: 2rem;

  code {
    padding: 0;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    font-size: $font-size-small;
    line-height: 1.5em;
  }
}

blockquote {
  display: inline-block;
  margin: $margin / 2 0;
  padding: 1em 2em 1em 2em;
  border-left: 3px solid $border-color;
  background: rgba($black, .1);
  line-height: 1.5em;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

strong {
  font-weight: bold;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: calc(#{ map-get($media-min-widths, lg) } - #{ $margin } + 20vw);
  margin: 0 auto;
  padding: 0 calc(10vw - #{ $margin / 2 });

  &--small {
    max-width: map-get($media-min-widths, xs);
    margin: 0 auto;
  }

  &--large {
    max-width: 100%;
    padding: 0 $margin / 2;
  }

  &--no-padding {
    padding: 0;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

::selection {
  color:white;
  background-color: var(--primary);
}
