* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font-stack;
  font-size: 16px;
}

body {
  position: relative;
  padding: $margin / 3;
  background: $body-bg image-url("layout/pattern-bg.webp");
  color: $text-color;
  overflow-x: hidden;
}

a {
  color: $text-color;

  &:hover,
  &:active {
    color: $white;
  }
}

mark {
  background: transparent;
  color: $primary;
}

hr {
  height: 1px;
  margin: $margin 0;
  border: 0;
  background: $border-color;

  &.small {
    margin: $margin / 2 0;
  }
}

code {
  font-family: monospace;
  font-size: 1em;
  padding: 2px 4px;
  color: $text-color;
  background-color: $bg-dark;
  border-radius: 2px;
}

pre {
  background: $bg-dark;
  border: 1px solid $border-color;
  padding: .5rem;
  line-height: 2rem;

  code {
    padding: 0;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

blockquote {
  display: inline-block;
  margin: $margin / 2 0;
  padding: 1em 2em 1em 2em;
  border-left: 3px solid $border-color;
  background: rgba($black, .1);
  line-height: 1.5em;
}

.body-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80px, 0% 100%);
  z-index: -1;

  @include media-min(sm) {
    height: 210px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0% 100%);
  }

  @media (min-width: 1000px) {
    height: 240px;
    clip-path: polygon(0 0, 100% 0, 100% 150px, 0% 100%);
  }

  @include media-min(xl) {
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 120px, 0% 100%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: calc(#{ map-get($media-min-widths, lg) - $margin } + 20vw);
  margin: 0 auto;
  padding: 0 calc(10vw - #{ $margin / 2 });
}

.logo-background {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 120vw;
    max-height: 900px;
    max-width: 900px;
    background: radial-gradient(ellipse at center, rgba($white, .05) 0%,rgba($white,0) 65%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 120vw;
    max-height: 800px;
    max-width: 800px;
    background: image-url("layout/overwatch-logo.svg");
    background-size: 120vw;
    background-position: center;
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
    opacity: .15;

    @media (min-width: 800px) {
      background-size: contain;
    }
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}
