.faq__item {
  margin-bottom: $margin * 0.125;
  border-radius: $border-radius;
  background: theme(darker);

  @include high-contrast() {
    border: 2px solid currentColor;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.faq__question {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: $border-radius;
  color: theme(text-color);
  cursor: pointer;

  @include hover-stack {
    color: theme(text-color-lightest);
  }
}

.faq__icon {
  padding-left: 1rem;
  font-size: .75rem;

  .faq__question.active & {
    transform: scaleY(-1);
  }
}
