@use "sass:math";

.footer {
  font-size: 12px;
  margin-top: $margin * 0.5;
  padding: calc($margin / 6) 0;
  border-top: 1px solid theme(border);

  @include media-min(md) {
    display: flex;
    justify-content: space-between;
  }
}

.ai-notice {
  display: block;
  opacity: 0.35;
  text-align: center;
  margin-top: $margin * 0.25;

  @include media-min(sm) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 0;
  }

  &:hover,
  &:active {
    opacity: 0.75;
  }
}
