.pagination {
  display: flex;
  justify-content: center;
  margin: $margin 0 0;

  a,
  .current {
    display: block;
    padding: .3em .5em;
    margin: 0 .15em;
    border-radius: $border-radius * 0.25;
    border: 0;
    color: $white;
    font-size: $font-size-large;
    font-family: $font-stack-alt;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    @include media-min(mbl) {
      font-size: $font-size-large;
    }
  }

  a {
    font-weight: bold;
    cursor: pointer;

    @include hover-stack {
      color: $white;
      box-shadow: inset 0 0 0 2px $white;
    }
  }
}

.page a,
.pagination .pagination__item,
.pagination .pagination__control {
  background: theme(dark);
  color: theme(text-color);

  &--current {
    color: $white;
    background: transparent;
  }

  &--inactive {
    opacity: 0.5;
    pointer-events: none;

    @include media-min(xs) {
      display: none;
    }
  }
}

.pagination .pagination__item {
  display: none;

  &--current {
    display: block;
  }

  @include media-min(xs) {
    display: block;
  }
}

.gap {
  display: none;
  padding: .25em .5em;
  margin: 0 .25em;

  @include media-min(lg) {
    display: block;
  }
}

.first,
.last {
  display: none;

  @include media-min(lg) {
    display: block;
  }
}

.next a,
.pagination .pagination__control--next {
  background: theme(primary);
  color: $white;
}
