$color-base: #cbf6fb;

$highlight-types: (
  string: #98C379,
  punctuation: #6a9955,
  keyword: #E06C75,
  number: #D19A66,
  comment: theme(text-color-dark),
  variable: #9cdcfe,
  action: #e5c069,
  value: #6796e6,
  operator: #569cd6,
  bool: #D19A66,
  invalid: $red,
  custom-keyword: #c678dd,
);

.syntax-highlight {
  color: theme(text-color-light);
}

:root {
  @each $type, $value in $highlight-types {
    --color-#{ $type }: #{ $value };
  }
}

@each $type, $value in $highlight-types {
  .#{ $type } {
    color: var(--color-#{ $type });
  }
}

.comment {
  font-style: italic;
}
