<% content_for :subject, "Reset your password" %>

<h3>Hi <%= @user.username %>,</h3>

<p>
  Someone (hopefully you) has requested a password reset for your Workshop.codes account. If you did not request a password reset, you can safely ignore this email.
</p>

<p>
  <a style="color: #f06414;" href="<%= forgot_password_url(nil, @forgot_password_token.token) %>">Click here to reset your password</a><br>
  Or by visiting this url: <%= forgot_password_url(nil, @forgot_password_token.token) %>
</p>

<p>
  <em>This link will expire within 1 hour of receiving this email.</em>
</p>
