<% content_for :subject, "Reset your password" %>

<h3>Hi <%= @user.username %>,</h3>

<p>
  You've requested for your password to be reset.
</p>

<p>
  <a style="color: #f06414;" href="<%= forgot_password_url(@forgot_password_token.token) %>">Click here to reset your password</a><br>
  Or by visiting this url: <%= forgot_password_url(@forgot_password_token.token) %>
</p>

<p>
  <em>This link expires in 1 hour of receiving this email.</em>
</p>
