<% content_for :page_title, "Accessibility" %>

<%= render "layouts/account", title: "Accessibility" do %>
  <% if flash[:alert] %>
    <div class="warning mt-0 mb-1/2"><%= flash[:alert] %></div>
  <% end %>

  <p class="mt-0 mb-1/2">
    Accessibility options help you better navigate the website in case you have difficulty.
  </p>

  <div class="well well--dark mb-1/4">
    <%= button_to "High Contrast", update_accessibility_path, method: :patch, params: { user: { high_contrast: !current_user.high_contrast } },
                  class: "switch__input",
                  form_class: "switch #{ "switch--active" if current_user.high_contrast }" %>

    <p class="form-hint mt-0 mb-0">
      All contrast on text will be increased. Thin fonts will appear thicker, making it easier to read.
    </p>
  </div>

  <div class="well well--dark mb-1/4">
    <%= button_to "Large fonts", update_accessibility_path, method: :patch, params: { user: { large_fonts: !current_user.large_fonts } },
                  class: "switch__input",
                  form_class: "switch #{ "switch--active" if current_user.large_fonts }" %>

    <p class="form-hint mt-0 mb-0">
      All regular and small fonts will appear larger. Fonts that were already large remain unchanged.
    </p>
  </div>
<% end %>
