<% content_for :subject, @content %>
<% content_for :hide_footer, "true" %>

<h3>Hey <%= @user.username %>,</h3>

<p>
  You received a new notification on <a style="color: #f06414;" href="https://workshop.codes">Workshop.codes</a>.
</p>

<p>
  <blockquote style="padding: 8px 16px 8px 16px; margin: 8px 0 0; background: #2e3337; border-left: 4px solid #939b9f">
    <%= @content %>
  </blockquote>
</p>

<hr style="border: 0; height: 1px; background: #2e3337">

<p style="font-size: 12px; margin-bottom: 0;">
  If you no longer wish to receive these emails, please log in to your <a style="color: #f06414;" href="https://workshop.codes">Workshop.codes</a> account and head over to the notifications section.
</p>
