@use "sass:math";

@keyframes fly-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
}

.cm-editor {
  --indent-marker-bg-color: #{ lighten($bg-dark, 5%) };
  --indent-marker-active-bg-color: #{ lighten($bg-dark, 15%) };
  color: $text-color-light;

  body[style*="--show-indent-markers: false"] & { // Hacky solution for css var based if statement
    --indent-marker-bg-color: transparent;
    --indent-marker-active-bg-color: transparent;
  }

  .cm-scroller {
    padding-top: $margin * 0.25;
    font-family: var(--editor-font, "Consolas"), monospace;
  }

  .cm-gutters {
    border-right: 0;
    background: transparent;
    color: $text-color-dark;

    .cm-activeLineGutter {
      background: transparent;
      color: $text-color-light;
    }
  }

  .cm-content {
    padding-bottom: 75vh;
  }

  .cm-activeLine {
    background: rgba($white, 0.025);
  }

  .cm-selectionBackground {
    background: lighten($bg-dark, 10%) !important;
  }

  .cm-selectionMatch {
    background: lighten($bg-dark, 10%);
  }

  &.cm-focused .cm-selectionBackground {
    background: lighten($bg-dark, 15%);
  }

  .cm-searchMatch {
    background: lighten($bg-dark, 10%);
    box-shadow: 0 0 0 1px $primary;
  }

  .cm-searchMatch-selected {
    background: darken($bg-dark, 10%);
  }

  .cm-matchingBracket {
    background: lighten($bg-dark, 20%) !important;
  }

  .cm-cursor {
    border-color: var(--editor-cursor-color, #ff00ff);
    border-width: calc(var(--editor-cursor-width, 3) * 1px);
  }

  .cm-completionIcon {
    padding-right: 2.15rem;
    font-size: 0.75em;

    &-value::after {
      content: "Value";
    }

    &-action::after {
      content: "Action";
    }

    &-event::after {
      content: "Event";
    }

    &-constant::after {
      content: "Const";
    }

    &-hero::after {
      content: "Hero";
    }

    &-map::after {
      content: "Map";
    }

    &-variable::after {
      content: "Other";
    }
  }

  .cm-tooltip {
    overflow: hidden;
    border-radius: $border-radius * 0.5;
    border: 0;
    background: darken($bg-dark, 5%);

    &.cm-tooltip-hover {
      max-width: 25em;
      max-height: 15em;
      overflow-y: auto;
      border-radius: $border-radius * 0.5;
      border: 1px solid $bg-darker;
      padding: $margin * 0.125;
      color: $text-color;
      font-size: 0.75rem;

      @include styled-scrollbar;
    }

    > ul {
      padding: $margin * 0.125;

      @include styled-scrollbar;
    }

    > .cm-tooltip {
      padding: 0.35rem 0.5rem;
      background: lighten($bg-dark, 5%);
      color: $text-color-light;
      white-space: pre-wrap;
    }

    .cm-diagnostic {
      background: $bg-darker;
      border-radius: 0 $border-radius * 0.5 $border-radius * 0.5 0;
      color: $text-color-lightest;
      font-weight: bold;
      font-size: 12px;
    }

    hr {
      margin: $margin * 0.125 0;
      background-color: $bg-darker
    }

    em {
      color: var(--color-custom-keyword);
      font-weight: bold;
      font-style: normal;
    }
  }

  .cm-tooltip-section:not(:first-child) {
    border: 0;
    margin-top: $margin * 0.125;
  }

  .cm-tooltip-arrow {
    display: none;
  }

  .cm-completionDetail {
    color: $text-color;
    font-size: 0.85em;
  }

  .cm-tooltip-autocomplete {
    border-radius: 0;
    border: 1px solid $bg-darker;
    box-shadow: $shadow;
  }

  .cm-tooltip-autocomplete ul li {
    padding: 0.25rem !important;
  }

  .cm-tooltip-autocomplete ul li[aria-selected] {
    background: lighten($bg-dark, 5%);
  }

  .cm-lintRange-error {
    box-shadow: 0 3px 0 $red;
    background: transparent;
  }

  .cm-lintRange-warning {
    box-shadow: 0 3px 0 $orange;
    background: transparent;
  }

  .cm-lint-marker-warning {
    content: "";

    &::before {
      content: "!";
      display: block;
      width: 1em;
      height: 1em;
      padding: 0.1em;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: $orange;
      text-align: center;
      color: black;
      font-weight: bold;
      line-height: 1.25;
    }
  }

  .cm-lint-marker-error {
    @extend .cm-lint-marker-warning;

    &::before {
      border-radius: 50%;
      background: $red;
      line-height: 1;
      clip-path: none;
    }
  }

  .cm-panel.cm-search {
    width: 100%;
    position: absolute;
    bottom: $margin * 0.25;
    right: $margin * 0.25;
    left: $margin * 0.25;
    width: calc(100% - #{ $margin * 0.5 });
    padding: $margin * 0.125;
    border-radius: $border-radius * 0.5;
    background: rgba(darken($bg-dark, 10%), 0.5);
    backdrop-filter: blur(10px);
    box-shadow: $shadow;
    animation: fly-in 200ms;

    @include safari() {
      backdrop-filter: none;
      background: rgba(darken($bg-dark, 10%), 0.75);
    }

    input {
      width: auto;
      padding: .25em .5em;
      border: 0;
      border-radius: $border-radius * 0.25;
      font-size: $font-size-small;
      background: lighten($bg-dark, 10%);
      color: $text-color-lightest;

      &:focus {
        background: lighten($bg-dark, 12.5%);
        box-shadow: 0 0 0 2px rgba($white, 0.5);
        outline: 0;
      }

      &::placeholder {
        font-style: italic;
        color: $text-color;
      }
    }

    label {
      color: $text-color;
      font-size: $font-size-small;
      font-family: $font-stack;
    }

    .cm-button {
      appearance: none;
      padding: .25em .5em;
      margin-right: 0.25em;
      border: 0;
      border-radius: $border-radius * 0.25;
      background: lighten($bg-dark, 5%);
      font-size: $font-size-small;
      color: $text-color-light;
      text-transform: none;
      cursor: pointer;

      @include hover-stack {
        outline: 0;
        background: lighten($bg-dark, 15%);
        color: $text-color-lightest;
      }
    }

    button[name="close"] {
      right: 0;
      padding: 0 0.25rem;
      background: transparent;
      font-size: 1.25rem;
      color: $text-color-light;
      cursor: pointer;

      &:hover {
        color: $white;
      }
    }
  }

  .cm-diagnostic {
    padding: .5rem;
  }

  .cm-foldGutter {
    opacity: 0;
    transition: opacity 200ms;

    span {
      padding: 0;

      &[title="Fold line"] {
        display: block;
        height: 1em;
        margin-top: -0.15em;
      }
    }
  }

  .cm-gutters:hover .cm-foldGutter {
    opacity: 1;
  }

  .cm-foldPlaceholder {
    background: transparent;
    border: 0;
    color: $text-color-dark;

    &:hover {
      color: $text-color-light;
    }
  }

  .cm-trailingSpace {
    position: relative;
    background: transparent;

    &:hover {
      &::after {
        display: block;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 2px;
      height: 1px;
      width: calc(100% - 4px);
      background: repeating-linear-gradient(90deg, var(--color-comment), var(--color-comment) 0.25rem, transparent 0.25rem,transparent 0.5rem);
      opacity: 0.5;
    }

    &::after {
      display: none;
      content: "Trailing whitespace";
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      padding: 0.25rem 0.5rem;
      border-radius: 0 $border-radius * 0.5 $border-radius * 0.5 0;
      border-left: 3px solid $text-color;
      background: darken($bg-dark, 5%);
      white-space: nowrap;
      line-height: 1;
      text-indent: 0;
      font-family: $font-stack;
      color: $text-color;
    }
  }

  .code-actions-lightbulb {
    position: absolute;
    aspect-ratio: 1;
    line-height: 1;
    font-size: 0.75rem;
    background-color: $bg-darker;
    padding: 0.25rem;
    border-radius: 2px;
    cursor: pointer;
    transform: translateX(-100%) translateY(-50%);
    opacity: 0.5;
    display: inline-block;
  }

  .code-actions-lightbulb__dropdown {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }

  // From import rainbowBrackets from 'rainbowbrackets'
  // Skipping red, despite the classname, red is too error-like.
  .rainbow-bracket-red span { color: forestgreen }
  .rainbow-bracket-orange span { color: orange }
  .rainbow-bracket-yellow span { color: yellow }
  .rainbow-bracket-green span { color: turquoise }
  .rainbow-bracket-blue span { color: dodgerblue }
  .rainbow-bracket-indigo span { color: hotpink }
  .rainbow-bracket-violet span { color: plum }
}

.indented-wrapped-line {
  @supports (-moz-appearance: none) {
    --text-indent-multiplier: -1;
    margin-left: var(--indented);
    text-indent: calc(var(--text-indent-multiplier) * var(--indented));

    &.cm-activeLine {
      box-shadow: calc((-1 * var(--indented)) + 4px) 0 0 rgba($white, 0.025)
    }

    &.cm-indent-markers {
      &::before {
        left: calc(var(--indented) * -1 + 2px);
      }
    }

    button,
    .button {
      text-indent: 0;
    }
  }
}
