@use "sass:math";

.editor-wiki-search {
  position: relative;

  input::placeholder {
    color: theme(text-color);
  }
}

.editor-wiki-results {
  position: absolute;
  bottom: math.div($margin, -8);
  width: 100%;
  padding: $margin * 0.25;
  border-radius: $border-radius;
  transform: translateY(100%);
  background: theme(darker);
  box-shadow: $shadow;
  z-index: 10;
}

.editor-wiki-results__item {
  appearance: none;
  display: block;
  width: 100%;
  border: 0;
  background: transparent;
  font-size: $font-size-base;
  color: theme(text-color);
  font-family: $font-stack;
  text-align: left;
  text-decoration: none;

  &:hover,
  &:focus {
    color: theme(text-color-lightest);
  }

  &:focus {
    outline: 2px solid theme(text-color-dark);
  }

  small {
    color: theme(text-color-dark);
  }
}
