.settings {
  .button--square {
    display: flex;
    align-items: center;
    padding: $margin * 0.125;
    height: 100%;
    background: transparent;
  }

  svg {
    height: 1.15rem;
    width: auto;
    margin-right: 0;

    path {
      fill: $text-color-lightest;
    }
  }

  hr {
    margin: $margin * 0.125 $margin * -0.25;
    background: theme(darker);

    &.large {
      margin: $margin * 0.25 $margin * -0.25;
    }
  }
}
