.shortcut {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0.5rem 0;
  border-top: 1px solid lighten($border-color, 5%);
  color: $text-color;
  font-size: $font-size-small;

  &:hover {
    background: theme(dark, 5%);
    box-shadow: -0.5rem 0 0 theme(dark, 5%), 0.5rem 0 0 theme(dark, 5%);
    color: $text-color-light;
  }
}
