$sidebar-width: clamp(var(--clamp-min), var(--sidebar-width, 300px), 80vmax); // width = height on mobile
$popout-width: clamp(var(--popout-clamp-min, var(--clamp-min)), var(--popout-width, 300px), 80vmax); // width = height on mobile
$top-height: 4rem;
$separator-color: theme(darker, -5%);

.editor {
  --clamp-min: 10vmax;
  display: grid;
  grid-template: "top" "aside" "content" "popout";
  grid-template-rows: $top-height $sidebar-width calc(100vh - #{ $sidebar-width } - #{ $popout-width }) $popout-width;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--editor-background, #{theme(dark, 2.5%)});
  z-index: 500;

  @include media-min(mbl) {
    grid-template-areas: "top top top" "aside content popout";
    grid-template-rows: $top-height auto;
    grid-template-columns: $sidebar-width auto $popout-width;
  }

  &--empty {
    grid-template-rows: $top-height auto;
  }

  &--no-wiki {
    --popout-width: 0px;
    --popout-clamp-min: 0px;
  }
}

.editor__scrollable {
  height: 100%;
  max-width: 100%;
  padding: $margin * 0.25 0 0;
  overflow: auto;

  @include styled-scrollbar;
}

.editor__add-item {
  position: sticky;
  bottom: 0;
  padding: 1.5rem 0.5rem 0.5rem;
  z-index: 5;
  background: linear-gradient(180deg,
    transparent 0,
    theme(dark, -10%) 1.5rem);
}

.editor__top {
  grid-area: top;
  position: relative;
  display: flex;
  align-items: center;
  padding: $margin * 0.25;
  box-shadow: $shadow;
  background: theme(dark, 5%);
  z-index: 10;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, theme(dark, 35%), transparent 20rem, transparent calc(100% - 20rem), var(--primary));
    opacity: 0.1;
    pointer-events: none;
    z-index: -1
  }
}

.editor__actions {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: $margin * 0.125;
  margin-left: auto;
}

.editor__mobile-actions {
  display: block;
  max-height: auto;
  overflow: visible;
  padding: $margin * 0.25;
  background: theme(darker);

  .button {
    width: 100%;
    margin-bottom: $margin * 0.125;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.editor__aside {
  grid-area: aside;
  position: relative;
  background: theme(dark, -10%);
  overflow: hidden;

  @include media-min(mbl) {
    border-right: 1px solid $separator-color;
  }

  .form-input {
    background: theme(dark, -15%);
  }

  hr {
    background: $separator-color;
  }
}

.editor__popout {
  grid-area: popout;
  position: relative;
  padding: $margin * 0.25;
  border-top: 1px solid $separator-color;
  background: theme(dark, 2.5%);

  @include media-min(mbl) {
    border-top: 0;
    border-left: 1px solid $separator-color;
  }

  .header-anchor {
    visibility: hidden;
  }
}

.editor__content {
  position: relative;
  grid-area: content;
  font-size: calc(var(--editor-font-size, 14) * 1px);

  .cm-editor {
    max-width: 100vw;

    @include media-min(mbl) {
      max-width: calc(100vw - #{$sidebar-width} - #{$popout-width});
    }
  }

  .cm-scroller {
    height: calc(100vh - #{$top-height});

    @include styled-scrollbar;
  }
}

.editor-hidden-item-indicator {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  background-color: var(--secondary);
  color: #fff;
  opacity: 0.5;
  transition: opacity 200ms linear;
  user-select: none;

  &:hover {
    opacity: 1;

    .editor-hidden-item-indicator__tooltip {
      display: initial;
    }
  }
}

.editor-hidden-item-indicator__tooltip {
  $tooltip-bg-color: theme(darker);
  $tooltip-arrow-size: 0.5rem;
  position: absolute;
  top: calc(100% + #{$tooltip-arrow-size});
  right: 0;
  width: max-content;
  max-width: 200px;
  padding: 0.25em 0.5em;
  background: $tooltip-bg-color;
  pointer-events: none;
  display: none;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -$tooltip-arrow-size;
    right: 0.5rem;
    border-inline: $tooltip-arrow-size solid transparent;
    border-bottom: $tooltip-arrow-size solid $tooltip-bg-color;
  }
}

.drag-handle {
  position: absolute;
  height: 0.75rem;
  width: 100%;
  padding: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 5;
  cursor: ns-resize;

  @include media-min(mbl) {
    cursor: ew-resize;
    height: 100%;
    width: 0.25rem;
  }

  &--left {
    top: 0;
    bottom: auto;

    @include media-min(mbl) {
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
    }
  }
}
