@use "sass:math";

.editor-folder.editor-folder {
  position: relative;

  &.editor-folder--active {
    > span > input {
      color: theme(text-color-lightest);
    }
  }

  > span > input {
    color: theme(text-color-dark);
    pointer-events: all;
  }
}

.editor-folder__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.25rem;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  transition: transform 150ms;
  user-select: none;
  color: theme(text-color-dark);
  z-index: 1;

  &:hover {
    color: theme(text-color-light);
  }

  .editor-folder--expanded > & {
    transform: rotate(90deg);
  }
}

.editor-folder__name {
  display: flex !important;
  align-items: center;

  svg {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0 0.125rem;
  }
}

.editor-folder__content {
  display: none;
  padding-left: math.div($margin, 3);

  &.editor-folder__content--expanded {
    display: block;
  }
}
