.matches {
  margin-top: $margin * 0.25;

  &--dropdown {
    padding: $margin * 0.125 0;
    border-radius: $border-radius * 0.5;
    background: theme(dark, -5%);
    box-shadow: $shadow;
    overflow: hidden;
  }
}

.matches__item {
  width: 100%;
  padding: $margin * 0.125 0;
  cursor: pointer;

  .matches--dropdown & {
    padding: $margin * 0.125 $margin * 0.25;
  }

  &:hover {
    background: theme(dark, 7.5%);
    box-shadow: $margin 0 0 theme(dark, 7.5%), $margin * -1 0 0 theme(dark, 7.5%);
  }

  &--active {
    background: theme(darker);
    box-shadow: $margin 0 0 theme(darker), $margin * -1 0 0 theme(darker);
    color: theme(text-color-lightest);
  }
}

.matches__hidden {
  opacity: 0.5;
  text-decoration: line-through;
}
