@use "sass:math";

.project {
  display: block;
  width: 100%;
  padding: $margin * 0.125;
  margin-bottom: math.div($margin, 16);
  border-radius: $border-radius * 0.5;
  background: theme(darker);
  color: theme(text-color);
  text-align: left;

  &:hover {
    background: theme(dark, 7.5%);
  }
}
