.project-recovery {
  position: absolute;
  bottom: $margin * 0.5;
  right: $margin * 0.5;
  max-width: min(30rem, 80vw);
  padding: $margin * 0.25;
  border: 2px solid $orange;
  border-radius: $border-radius;
  background: theme(dark, -10%);
  box-shadow: $shadow;
}
