.project {
  display: block;
  width: 100%;
  padding: $margin / 8;
  margin-bottom: $margin / 16;
  border-radius: $border-radius / 2;
  background: $bg-darker;
  color: $text-color;
  text-align: left;

  &:hover {
    background: darken($bg-dark, 7.5%);
  }
}
