.project-backups {
  display: flex;
  flex-direction: column;
  gap: $margin * 0.125;
}

.project-backup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $margin * 0.125;
  border-radius: $border-radius * 0.5;
  background: theme(darker);
  font-size: $font-size-small;
}
