.translation-settings {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  overflow-y: auto;
}

.translation-settings__aside {
  display: flex;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  gap: $margin * 0.125;
  padding: $margin * 0.25;
  border-top: 2px solid darken($bg-dark, 5%);
  border-bottom-left-radius: $border-radius;
  background: $bg-darker;
}

.translation-settings__keys-container {
  height: 100%;
  overflow-y: auto;
  margin-inline: -1rem;
  padding-inline: 1rem;

  @include styled-scrollbar;
}

.translation-settings__content {
  padding: $margin * 0.25;
  overflow-y: auto;

  @include styled-scrollbar;

  .form-textarea {
    width: 100%;
    max-width: calc(100% - $margin * 0.25);
  }
}

.translation-settings__item {
  appearance: none;
  display: grid;
  grid-template-columns: auto 3rem;
  width: 100%;
  padding: $margin * 0.125 0;
  border: 0;
  border-bottom: 1px solid $border-color;
  background: transparent;
  font-family: $font-stack;
  text-align: left;

  &:first-of-type {
    border-top: 1px solid $border-color;
  }

  button {
    color: $text-color;

    button:hover {
      color: $text-color-lightest;
    }
  }
}

.translation-settings__item-label {
  word-break: break-word;

  .translation-settings__item--active & {
    color: $text-color-lightest;
  }
}

.translation-settings__copy {
  margin-left: auto;
  text-transform: lowercase;
  color: $text-color-dark;

  &:hover {
    color: $text-color;
  }

  &:active {
    color: $primary;
  }
}
