.translation-settings {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.translation-settings__aside {
  display: flex;
  flex-direction: column;
  gap: $margin * 0.125;
  padding: $margin * 0.25;
  border-top: 2px solid darken($bg-dark, 5%);
  background: $bg-darker;
}

.translation-settings__content {
  padding: $margin * 0.25;

  .form-textarea {
    width: calc(100% - $margin * 0.25);
  }
}

.translation-settings__item {
  appearance: none;
  display: flex;
  width: 100%;
  padding: $margin * 0.125 0;
  border: 0;
  border-bottom: 1px solid $border-color;
  background: transparent;
  font-family: $font-stack;
  color: $text-color;
  text-align: left;
  cursor: pointer;

  &:first-of-type {
    border-top: 1px solid $border-color;
  }

  &--active,
  &:hover {
    color: $text-color-lightest;
  }
}

.translation-settings__create {
  padding: $margin * 0.25;
  margin: $margin * 0.125 $margin * -0.25 $margin * -0.25;
  border-top: 2px solid darken($bg-dark, 5%);
}

.translation-settings__copy {
  margin-left: auto;
  text-transform: lowercase;
  color: $text-color-dark;

  &:hover {
    color: $text-color;
  }

  &:active {
    color: $primary;
  }
}
