.translation-settings {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: $margin / 2;
}

.translation-settings__aside {
  display: flex;
  flex-direction: column;
  gap: $margin / 8;
}

.translation-settings__item {
  appearance: none;
  display: flex;
  width: 100%;
  padding: $margin / 8 0;
  border: 0;
  border-bottom: 1px solid $border-color;
  background: transparent;
  font-family: $font-stack;
  color: $text-color;
  text-align: left;
  cursor: pointer;

  &:first-of-type {
    border-top: 1px solid $border-color;
  }

  &--active,
  &:hover {
    color: $text-color-lightest;
  }
}

.translation-settings__copy {
  margin-left: auto;
  text-transform: lowercase;
  color: $text-color-dark;

  &:hover {
    color: $text-color;
  }

  &:active {
    color: $primary;
  }
}
