<div class="notifications dropdown mb-1/8 mbl:mb-0 mbl:mr-1/8" data-dropdown>
  <div data-action="toggle-dropdown get-notifications">
    <%= inline_svg_tag "icons/icon-bell.svg", class: "notifications__icon" %>
    <div class="notifications__bubble" data-role="notifications-count" data-turbolinks-permanent id="notifications"></div>
  </div>

  <div class="dropdown__content dropdown__content--large lg-down:dropup pt-0" data-dropdown-content>
    <div class="dropdown__header">
      <h4 class="mt-0 mb-0"><%= t("account.navigation.notifications") %></h4>

      <%= link_to "View all", notifications_path, class: "button button--link button--small", aria: { label: "View all notifications" } %>
    </div>

    <div data-notifications>
      <span class="dropdown__item"><div class="spinner spinner--small mb-1/8"></div></span>
    </div>
  </div>
</div>
