<div class="notifications__item">
  <small class="text-dark" title="<%= notification.created_at %>"><%= time_ago_in_words(notification.created_at) %> ago</small>

  <%= markdown(notification.content) %>
  <%= link_to "View", notification.go_to, class: "button button--small button--thin button--dark mt-1/8" if notification.go_to.present? %>
</div>
