@use "sass:math";

.form-input {
  display: inline-block;
  background: theme(dark);
  width: 100%;
  padding: .5em 1em;
  border: 0;
  border-radius: $border-radius * 0.5;
  font-family: $font-stack;
  font-size: $font-size-base;
  color: theme(text-color-lightest);

  @include high-contrast() {
    border: 2px solid currentColor;
  }

  &:focus,
  &:focus-within {
    outline: none;
    background: theme(dark, 5%);
    box-shadow: 0 0 0 2px rgba($white, 0.25);
  }

  &::placeholder {
    font-style: italic;
    color: theme(text-color-dark);
  }

  &--large {
    width: 100%;
    height: calc(80px * 0.8);
    padding: calc(80px - (1.5em * 2)) math.div($margin, 3);
    font-size: 21px;
    font-weight: lighter;
    line-height: 1.5em;
    transition: box-shadow 200ms;

    @include media-min(sm) {
      height: 80px;
      padding: calc(80px - (1.5em * 2)) $margin * 0.5;
      font-size: 24px;
      line-height: 1.5em;
    }

    .high-contrast & {
      font-weight: normal;
    }
  }

  .standout & {
    background: theme(dark, -5%);

    &:focus {
      background: theme(dark, 2.5%);
    }
  }
}

.form-textarea {
  width: 100%;
  min-height: 600px;
  padding: $margin * 0.5;
  border-radius: $border-radius * 0.5;

  &--small {
    min-height: 300px;
  }

  &--extra-small {
    min-height: 100px;
    max-width: map-get($media-min-widths, sm);
    padding: $margin * 0.25;
  }
}

.form-label {
  display: block;
  margin-bottom: math.div($margin, 6);
  font-size: 112.5%;
}

.form-group {
  margin-top: math.div($margin, 3);

  @include media-min(sm) {
    margin-top: math.div($margin, 6);
  }
}

.form-group-uneven {
  @include media-min(sm) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: $margin * 0.5;
  }
}

.form-group-columns {
  @include media-min(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $margin;
  }
}

.form-group-triple {
  @include media-min(sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $margin;
  }
}

.form-group-max-width {
  @include media-min(sm) {
    max-width: map-get($media-min-widths, xs);
  }
}

.form-group-inline {
  display: grid;
  grid-template-columns: 6rem calc(100% - 6rem);
  align-items: center;
  gap: $margin * 0.25;

  label {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  input {
    width: calc(100% - #{$margin * 0.25});
  }
}

.form-select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: math.div($margin, 3) 2.5em math.div($margin, 3) math.div($margin, 3);
  border: 0;
  border-radius: $border-radius * 0.5;
  background: theme(dark);
  font-size: $font-size-base;
  color: theme(text-color);
  cursor: pointer;

  @include hover-stack {
    border-color: theme(text-color);
  }

  @include high-contrast() {
    border: 2px solid currentColor;
  }

  &:focus {
    outline: none;
    background-color: theme(dark, -5%);
    box-shadow: 0 0 0 2px rgba($white, 0.25);
  }

  &:not(multiple) {
    background: theme(dark) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23#{str-slice(inspect($gray), 2, 7)}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
  }

  &--small {
    padding: .6em 2.5em .6em 1em;
  }

  option {
    color: theme(text-color);
    background: theme(dark);

    &[disabled] {
      color: darken($gray, 20%);
    }

    &:checked {
      background: linear-gradient(theme(text-color), theme(text-color));
      color: $white;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;

  input {
    -webkit-appearance: none;
    appearance: none;
    flex: 0 0 1rem;
    width: 1rem;
    height: 1rem;
    margin: 1px 0 0;
    border-radius: 2px;
    border: 2px solid theme(text-color);
    cursor: pointer;

    @include focus-visible-outline;

    &[type="radio"] {
      border-radius: 50%;
    }

    &:hover {
      border-color: lighten($gray, 20%);
    }

    &:checked {
      background: theme(primary);
      border: 0;

      @include high-contrast() {
        background: currentColor;
        border: 2px solid currentColor;
      }
    }

    &:focus {
      border-color: lighten($gray, 20%);
    }
  }

  label {
    padding-left: 1rem;
    cursor: pointer;

    &:hover {
      color: lighten($gray, 20%);
    }

    img {
      height: 1rem;
      width: 1rem;
      margin-right: .25rem;
      background: theme(darker);
    }

    small {
      font-size: 0.65rem;
    }
  }
}

input[type="checkbox"] {
  &:checked + label {
    color: theme(text-color-lightest);
  }

  &[disabled],
  &[disabled] + label {
    cursor: not-allowed;
    opacity: .25;
    color: theme(text-color);
    border-color: theme(text-color);
  }
}

input[type="file"] {
  width: 100%;
  padding: .5rem;
  border: 1px solid theme(border);
  margin-top: $margin * 0.25;
}

.form-hint {
  display: block;
  max-width: map-get($media-min-widths, sm);
  margin: math.div($margin, 3) 0;
  font-size: $font-size-small;
  line-height: 1.25em;
  font-style: italic;
  color: theme(text-color-dark);

  label + & {
    margin-top: math.div($margin, 3) - math.div($margin, 6);
  }
}

.error-help-text {
  display: none;
  color: $red;
}

.field_with_errors {
  display: inline;

  input,
  select,
  .form-input {
    border: 1px solid $red;

    &.helper-input {
      border: unset;
    }
  }

  .error-help-text {
    display: block;
  }
}

.error-block {
  background: theme(darker);
  border: 3px solid $red;
  padding: math.div($margin, 3);
  margin-bottom: $margin * 0.5;

  ul {
    margin-bottom: 0;
  }
}

.error-block__title {
  margin: 0 0 math.div($margin, 3);
  font-size: 21px;
}

.form-danger-zone {
  border: 4px solid $red;
  padding: $margin * 0.25;
  margin-top: $margin;
  font-size: $font-size-small;

  a {
    color: theme(text-color-lightest);
  }
}

.hidden-field {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  pointer-events: none;
}

.url-input {
  display: flex;
  align-items: center;
  color: theme(text-color);
  white-space: nowrap;
}

.inline-input {
  @include inline-input;

  &:focus {
    outline: none;
  }
}

.form-required {
  font-size: $font-size-small;
  color: theme(text-color-dark);
}

.range {
  padding: 0;
  margin: 0;
  height: 1rem;
  background: transparent;

  &::-moz-range-thumb {
    height: 1rem;
    width: 0.5rem;
    border-radius: $border-radius * 0.25;
    background: theme(text-color);
    border: 0;
    cursor: pointer;

    &:hover {
      background: $white;
    }
  }

  &::-moz-range-track {
    height: 0.5rem;
    border-radius: 0.5rem;
    background: theme(darker);
  }

  &::-moz-range-progress {
    height: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background: theme(primary);
  }
}

.color-input {
  padding: 0;
  border: 1px solid theme(border);
}

input[type="submit"] {
  @include focus-visible-outline;
}
