@use "sass:math";

:root {
  color-scheme: dark;
  --primary: #{ $primary };
  --secondary: #{ $secondary };
  --white: #{ $text-color-lightest };
  --orange: #{ $orange };
  --red: #{ $red };
  --overwatch-2: #{ $overwatch-2 };
  --wiki: #{ $wiki };
  --text-color: #{ $text-color };
  --text-color-light: #{ $text-color-light };
  --text-color-dark: #{ $text-color-dark };
  --bg-body: #{ $body-bg };
  --bg-dark: #{ $bg-dark };
  --bg-darker: #{ $bg-darker };
  --border-color: #{ $border-color };
  --border-radius: #{ $border-radius };
  --shadow: #{ $shadow };
  --font-size-base: #{ $font-size-base };
  --font-size-small: #{ $font-size-small };
  --font-stack: #{ $font-stack };
  --font-stack-alt: #{ $font-stack-alt };
}

.wiki {
  --primary: #{ $wiki };
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font-stack;
  font-size: $font-size-base;
}

body {
  position: relative;
  padding: 1.25rem 1.25rem 0;
  background: $body-bg url("/images/layout/pattern-bg.webp");
  color: $text-color;
  overflow-x: hidden;

  @include high-contrast() {
    background: $black;

    @include light() {
      background: $white;
    }
  }
}

a {
  color: $text-color;
  outline: none;

  @include focus-visible-outline;

  @include hover-stack {
    color: $text-color-lightest;

    @include high-contrast() {
      text-decoration: underline;
    }
  }
}

mark {
  background: transparent;
  color: var(--primary, $primary);

  @include high-contrast() {
    color: $black;
    background: $white;

    @include light() {
      color: $white;
      background: $black;
    }
  }
}

hr {
  height: 1px;
  margin: $margin 0;
  border: 0;
  background: $border-color;

  &.small {
    margin: $margin * 0.5 0;
  }
}

code {
  font-family: monospace;
  font-size: 1em;
  padding: 2px 4px;
  color: $text-color;
  background-color: $bg-dark;
  border-radius: 2px;
}

pre {
  background: darken($bg-dark, 5%);
  padding: .5rem;
  border-radius: $border-radius * 0.5;
  line-height: 2rem;

  @include high-contrast() {
    border: 2px solid currentColor;
  }

  code {
    padding: 0;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    font-size: $font-size-small;
    line-height: 1.5em;
  }
}

blockquote {
  display: inline-block;
  margin: $margin * 0.5 0;
  padding: 1em 1.5em 1em 1.5em;
  border-left: 3px solid var(--primary);
  background: rgba($black, .35);
  line-height: 1.5em;
  border-top-right-radius: $border-radius * 0.5;
  border-bottom-right-radius: $border-radius * 0.5;

  strong {
    color: $text-color-lightest;
  }

  mark strong {
    color: var(--primary);
  }
}

strong {
  font-weight: bold;
}

kbd {
  display: inline-block;
  padding: .25rem .5rem;
  background: $bg-darker;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 2px rgba($white, .4);
  color: $text-color-lightest;
  font-size: 12px;
  font-family: "Consolas", monospace;
  font-weight: bold;
  letter-spacing: -1px;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: calc(#{ map-get($media-min-widths, lg) } - #{ $margin } + 20vw);
  margin: 0 auto;

  @include media-min(xs) {
    padding: 0 calc(10vw - #{ $margin * 0.5 });
  }

  &--small {
    max-width: map-get($media-min-widths, xs);
    margin: 0 auto;
  }

  &--large {
    max-width: 100%;

    @include media-min(lg) {
      padding: 0 $margin * 0.5;
    }
  }

  &--no-padding {
    padding: 0;
  }
}
