<hr class="small" id="sources" />

<h3 class="mb-1/4">Sources</h3>

<p><em><small>This post utilizes other codes either in part or in full. This could be because they remixed them, used parts of them, were inspired by them, or other reasons.</small></em></p>

<div class="derivatives">
  <% @post.source_derivs.each do |derivative| %>
    <% if derivative.source %>
      <%= link_to post_path(derivative.source.code), class: "derivative" do %>
        <div class="derivative__title"><%= derivative.source.title.truncate(25) %></div>
        <div class="derivative__code"><%= derivative.source.code %></div>
      <% end %>
    <% else %>
      <div class="derivative">
        <div class="derivative__title"><em>Not on Workshop.codes</em></div>
        <div class="derivative__code"><%= derivative.source_code %></div>
      </div>
    <% end %>
  <% end %>
</div>
