<div class="items-heading mt-0 mb-0">
  <h2 class="mt-0 mb-0">Codes derived from this code</h2>
</div>

<blockquote>
  These codes use <strong><%= @post.code %></strong> as part of their code. This could be because they built off of it, used parts of it, used it for inspiration, or other reasons.
</blockquote>

<%= render @posts %>
