<div class="items-heading mt-0 mb-0">
  <h2 class="mt-0 mb-0">Posts derived from this post</h2>
</div>

<blockquote>
  These posts use <strong><%= @post.code %></strong> as part of their code. This could be because they remixed it, used parts of it, were inspired by it, or other reasons.
</blockquote>

<div class="cards">
  <% @posts.each do |post| %>
    <%= render "posts/card", post: post %>
  <% end %>
</div>
