<% content_for :page_title, t("users.new.title") %>
<% content_for :bg_size, "large" unless params[:page] %>

<center>
  <h1 class="mb-1/2 mt-1/1 text-black">Create an account</h1>
</center>

<div class="wrapper--small">
  <div class="well well--dark">
    <%= render "form", user: @user, url: users_path %>
  </div>

  <p><center><small><%= link_to t("users.new.login"), login_path %></small></center></p>
</div>
