<% content_for :page_title, "Create an account" %>

<h1 class="heading">Create an account</h1>

<%= render "form", user: @user, url: users_path %>

<p><small>Already have an account? <%= link_to "Log in", login_path %></small></p>
