<% content_for :page_title, @user.username %>

<div class="heading">
  <h1>Workshop Codes by <strong><%= @user.username %></strong> <%= tag.em "- Page #{ params[:page] }" if params[:page] %></h1>
</div>

<main class="items">
  <%= render "posts/posts" %>

  <%= paginate @posts %>
</main>
