<div class="w-100">
  This block type is not supported for the time being. It will continue to function in your post but it can not be edited. Editing functionality will return at a later date.
</div>
