.text-white {
  color: $white !important;
}

.text-dark {
  color: $text-color-dark;
}

.text-base {
  color: $text-color;
}

.text-red {
  color: $red !important;
}

.fill-current-color {
  path {
    fill: currentColor;
  }
}
