.text-white {
  color: $white !important;
}

.hover\:text-white:hover {
  color: $white;
}

.text-pure-white {
  color: $pure-white;
}

.text-dark {
  color: $text-color-dark;
}

.bg-dark {
  background: $bg-dark;
}

.bg-darker {
  background: $bg-darker;
}

.b-dark {
  border: 1px solid $bg-dark;
}

.text-base {
  color: $text-color;
}

.text-black {
  color: $black;
}

.text-red {
  color: $red !important;

  &[href] {
    &:hover,
    &:active {
      color: lighten($red, 15%) !important;
    }
  }
}

.bg-red {
  background: $red;
}

.text-primary {
  color: $primary;
}

.text-orange {
  color: $orange;
}

.text-ko-fi {
  color: $ko-fi;
}

.fill-current-color {
  path {
    fill: currentColor;
  }
}
