.text-white {
  color: $white !important;
}

.text-dark {
  color: $text-color-dark;
}

.text-base {
  color: $text-color;
}

.text-red {
  color: $red !important;

  &[href] {
    &:hover,
    &:active {
      color: lighten($red, 15%) !important;
    }
  }
}

.text-primary {
  color: $primary;
}

.text-ko-fi {
  color: $ko-fi;
}

.fill-current-color {
  path {
    fill: currentColor;
  }
}
