.visibility-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: -999px;
}

.hidden {
  display: none;
}

@each $identifier, $breakpoint in $media-min-widths {
  @include media-min(#{$identifier}) {
    .hidden-#{$identifier} {
      display: none;
    }

    .visible-#{$identifier} {
      display: initial;
    }
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.sm\:inline-block {
  @include media-min(sm) {
    display: inline;
  }
}

.inline-flex {
  display: inline-flex;
}

.faded {
  opacity: .5;
}

.fade-out {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.overflow-visible {
  overflow: visible;
}

.relative {
  position: relative;
}
