.visibility-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: -999px;
}

.hidden {
  display: none;
}

@each $identifier, $breakpoint in $media-min-widths {
  @include media-min(#{$identifier}) {
    .hidden-#{$identifier} {
      display: none;
    }

    .visible-#{$identifier} {
      display: initial;
    }
  }
}

.block {
  display: block;
}

.faded {
  opacity: .5;
}
