.visibility-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: -999px;
}

.hidden {
  display: none;
}

.hidden-sm {
  @include media-min(sm) {
    display: none;
  }
}

.hidden-md {
  @include media-min(md) {
    display: none;
  }
}

.visible-sm {
  @include media-min(sm) {
    display: initial;
  }
}

.visible-md {
  @include media-min(md) {
    display: initial;
  }
}
