.flex {
  width: 100%;
  display: flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-self-center {
  align-self: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  align-items: start;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
