$offset-values: (
  'auto': auto,
  0: 0,
  1\/1: $margin,
  1\/2: $margin / 2,
  1\/4: $margin / 4,
  1\/8: $margin / 8,
  1\/16: $margin / 16
);

$properties: (
  padding: p,
  margin: m,
  gap: gap
);

$directions: (
  "": "",
  "-left": l,
  "-right": r,
  "-top": t,
  "-bottom": b
);

@each $property, $property-abr in $properties {
  @each $direction, $direction-abr in $directions {
    @each $name, $value in $offset-values {
      .#{ $property-abr }#{ $direction-abr }-#{ $name } {
        #{ $property }#{ $direction }: $value;
      }
    }
  }
}

@each $breakpoint, $breakpoint-value in map-remove(map-remove($media-min-widths, xs), xl) {
  @media (min-width: $breakpoint-value) {
    @each $property, $property-abr in $properties {
      @each $direction, $direction-abr in $directions {
        @each $name, $value in $offset-values {
          .#{ $breakpoint }\:#{ $property-abr }#{ $direction-abr }-#{ $name } {
            #{ $property }#{ $direction }: $value;
          }
        }
      }
    }
  }
}

.top-offset {
  margin-top: $margin;

  @include media-min(sm) {
    margin-top: $margin * 1.75;
  }
}
