.top-offset {
  margin-top: $margin;

  @include media-min(sm) {
    margin-top: $margin * 2;
  }
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-eigth {
  margin-top: $margin / 8;
}

.mt-quarter {
  margin-top: $margin / 4;
}

.mt-half {
  margin-top: $margin / 2;
}

.mt-full {
  margin-top: $margin;
}

.mr-quarter {
  margin-right: $margin / 4;
}

.mr-half {
  margin-right: $margin / 2;
}

.mr-0 {
  margin-right: 0;
}

.mb-quarter {
  margin-bottom: $margin / 4;
}

.mb-half {
  margin-bottom: $margin / 2;
}

.mb-full {
  margin-bottom: $margin;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.pt-full {
  padding-top: $margin;
}

.align-self-center {
  align-self: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.mb-sm-0 {
  @include media-min(sm) {
    margin-bottom: 0;
  }
}

.mt-sm-0 {
  @include media-min(sm) {
    margin-top: 0;
  }
}

.w-md-75 {
  @include media-min(md) {
    width: 75%;
  }
}

.w-100 {
  width: 100%;
}
