.top-offset {
  margin-top: $margin;

  @include media-min(sm) {
    margin-top: $margin * 2;
  }
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-half {
  margin-top: $margin / 2;
}

.mt-full {
  margin-top: $margin;
}

.mb-half {
  margin-bottom: $margin / 2;
}

.mb-full {
  margin-bottom: $margin;
}

.ml-auto {
  margin-left: auto;
}

.pt-full {
  padding-top: $margin;
}

.align-self-center {
  align-self: center;
}

.mb-sm-0 {
  @include media-min(sm) {
    margin-bottom: 0;
  }
}

.w-md-75 {
  @include media-min(md) {
    width: 75%;
  }
}
