.text-md-right {
  @include media-min(md) {
    text-align: right;
  }
}

.text-sm-right {
  @include media-min(sm) {
    text-align: right;
  }
}

.text-md-center {
  @include media-min(md) {
    text-align: center;
  }
}
