.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-md-right {
  @include media-min(md) {
    text-align: right;
  }
}

.text-sm-right {
  @include media-min(sm) {
    text-align: right;
  }
}

.text-md-center {
  @include media-min(md) {
    text-align: center;
  }
}

.text-small {
  font-size: $font-size-small;
}

.text-italic {
  font-style: italic;
}

.line-height {
  line-height: 1.5rem;
}
