<section class="revisions">
  <div class="items-heading mt-0 mb-0">
    <h2 class="mt-0">Update Log <small>(<%= @post.revisions.where(visible: true).size %>)</small></h2>
  </div>

  <% @post.revisions.where(visible: true).order(created_at: :desc).each do |revision| %>
    <%= render "revisions/revision", revision: revision %>
  <% end %>
</section>
