<section class="revisions">
  <div class="heading items-heading mb-half">
    <h2>Update Log</h2>
  </div>

  <% @post.revisions.where(visible: true).order(created_at: :desc).each do |revision| %>
    <%= render "revisions/revision", revision: revision %>
  <% end %>
</section>
