<section class="revisions">
  <div class="items-heading mt-0 mb-0">
    <h2 class="mt-0">Update Log <small>(<%= @revisions_count %>)</small></h2>
  </div>

  <%= render collection: @revisions, partial: "revisions/revision", as: :revision %>

  <% if @revisions.size < @revisions_count %>
    <em>Only showing the latest <%= @revisions.size %> revisions</em>
  <% end %>
</section>
