<section class="revisions">
  <div class="heading items-heading mb-1/2">
    <h2 class="mt-0">Update Log for <strong><%= @post.title %></strong> <small>(<%= @revisions.size %>)</small></h2>
  </div>

  <% @revisions.where(visible: true).each do |revision| %>
    <%= render "revisions/revision", revision: revision %>
  <% end %>
</section>
