<% content_for :page_title, "Viewing difference between #{ @revision.code } and #{ @revision.post.code }" %>

<h2 class="heading mb-quarter">Comparing difference between <strong><%= @revision.code %></strong> and <strong><%= @revision.post.code %></strong></h2>

<%= link_to "Return to post", post_path(@revision.post.code) %>

<p class="mt-half">
  <small>
    <strong>Green</strong> = What has been added since this version. <br>
    <strong>Red</strong> = What has been removed since this version.
  </small>
</p>

<div class="well mt-half">
  <%= @difference.html_safe %>
</div>
