$sidebar-width: var(--sidebar-width, 300px);
$popout-width: var(--popout-width, 300px);
$top-height: 4rem;

.editor {
  display: grid;
  grid-template: "top" "aside" "content" "popout";
  grid-template-rows: $top-height auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $bg-dark;
  z-index: 500;

  @include media-min(md) {
    grid-template-areas: "top top top" "aside content popout";
    grid-template-columns: $sidebar-width auto $popout-width;
  }
}

.editor__scrollable {
  height: 100%;
  max-width: 100%;
  padding: $margin / 4 0;
  overflow: auto;

  @include styled-scrollbar;
}

.editor__top {
  grid-area: top;
  display: flex;
  align-items: center;
  padding: $margin / 4;
  background: lighten($bg-dark, 5%);
}

.editor__aside {
  grid-area: aside;
  position: relative;
  background: darken($bg-dark, 5%);
  overflow: hidden;
}

.editor__popout {
  grid-area: popout;
  position: relative;
  padding: $margin / 4;
  border-left: 1px solid lighten($border-color, 5%);
}

.editor__content {
  grid-area: content;
  font-size: var(--font-size, 14px);

  .cm-editor {
    @include media-min(md) {
      max-width: calc(100vw - #{$sidebar-width} - #{$popout-width});
    }
  }

  .cm-scroller {
    height: calc(100vh - #{$top-height});

    @include styled-scrollbar;
  }
}

.editor__mobile-warning {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: $margin / 4;
  background: $red;
  color: $white;

  @include media-min(md) {
    display: none;
  }
}

.drag-handle {
  position: absolute;
  height: 100%;
  width: 0.5rem;
  padding: 0;
  border-radius: 99px;
  top: 0;
  right: 0;
  transform: translateX(50%);
  z-index: 20;
  opacity: 0;
  cursor: ew-resize;

  &--left {
    left: 0;
    right: auto;
    transform: translateX(-50%);
  }
}
