$sidebar-width: clamp(10vmax, var(--sidebar-width, 300px), 80vmax); // width = height on mobile
$popout-width: clamp(10vmax, var(--popout-width, 300px), 80vmax); // width = height on mobile
$top-height: 4rem;

.editor {
  display: grid;
  grid-template: "top" "aside" "content" "popout";
  grid-template-rows: $top-height $sidebar-width calc(100vh - #{ $sidebar-width } - #{ $popout-width }) $popout-width;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--editor-background, #{$bg-dark});
  z-index: 500;

  @include media-min(mbl) {
    grid-template-areas: "top top top" "aside content popout";
    grid-template-rows: $top-height auto;
    grid-template-columns: $sidebar-width auto $popout-width;
  }

  &--empty {
    grid-template-rows: $top-height auto;
  }
}

.editor__scrollable {
  height: 100%;
  max-width: 100%;
  padding: $margin / 4 0;
  overflow: auto;

  @include styled-scrollbar;
}

.editor__top {
  grid-area: top;
  position: relative;
  display: flex;
  align-items: center;
  padding: $margin / 4;
  background: lighten($bg-dark, 5%);
  box-shadow: $shadow;
  z-index: 10;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, lighten($bg-dark, 35%), transparent 20rem, transparent calc(100% - 20rem), var(--primary));
    opacity: 0.1;
    pointer-events: none;
    z-index: -1
  }
}

.editor__actions {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: $margin / 8;
  margin-left: auto;
}

.editor__mobile-actions {
  display: block;
  max-height: auto;
  overflow: visible;
  padding: $margin / 4;
  background: $bg-darker;

  .button {
    width: 100%;
    margin-bottom: $margin / 8;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.editor__aside {
  grid-area: aside;
  position: relative;
  background: darken($bg-dark, 5%);
  overflow: hidden;
}

.editor__popout {
  grid-area: popout;
  position: relative;
  padding: $margin / 4;
  border-top: 1px solid lighten($border-color, 5%);
  background: $bg-dark;

  @include media-min(mbl) {
    border-top: 0;
    border-left: 1px solid lighten($border-color, 5%);
  }
}

.editor__content {
  grid-area: content;
  font-size: calc(var(--editor-font-size, 14) * 1px);

  .cm-editor {
    max-width: 100vw;

    @include media-min(mbl) {
      max-width: calc(100vw - #{$sidebar-width} - #{$popout-width});
    }
  }

  .cm-scroller {
    height: calc(100vh - #{$top-height});

    @include styled-scrollbar;
  }
}

.drag-handle {
  position: absolute;
  height: 0.5rem;
  width: 100%;
  padding: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: ew-resize;

  @include media-min(mbl) {
    height: 100%;
    width: 0.5rem;
  }

  &--left {
    top: 0;
    bottom: auto;

    @include media-min(mbl) {
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
    }
  }
}
