.matches {
  margin-top: $margin / 4;

  &--dropdown {
    padding: $margin / 8 0;
    border-radius: $border-radius / 2;
    background: darken($bg-dark, 5%);
    box-shadow: $shadow;
    overflow: hidden;
  }
}

.matches__item {
  width: 100%;
  padding: $margin / 8 0;
  cursor: pointer;

  .matches--dropdown & {
    padding: $margin / 8 $margin / 4;
  }

  &:hover {
    background: darken($bg-dark, 7.5%);
    box-shadow: $margin 0 0 darken($bg-dark, 7.5%), $margin * -1 0 0 darken($bg-dark, 7.5%);
  }

  &--active {
    background: $bg-darker;
    box-shadow: $margin 0 0 $bg-darker, $margin * -1 0 0 $bg-darker;
    color: $white;
  }
}

.matches__hidden {
  opacity: 0.5;
  text-decoration: line-through;
}
