<h1 class="heading">Terms of Service for <strong>Workshop.codes</strong></h1>

<p><em>Last Updated: December 7th, 2024</em></p>

<p>The Workshop.codes Terms of Service, which consist of the <%= link_to "Privacy Policy", "/privacy-policy", class: "text-lightest" %> and the <%= link_to "Rules and Policies", "#site-rules", class: "text-lightest" %> outlined below, govern your access to and use of our services. By continuing to use Workshop.codes, you agree to be bound by the Terms of Service.</p>

<h2 class="mt-1/2 mb-1/2" id="site-rules">Workshop.codes Rules and Policies:</h2>

<p>The Workshop.codes community is committed to two key values:</p>
<ol>
  <li><mark>Build for everyone, not just yourself</mark></li>
  <li><mark>Be respectful of everyone</mark></li>
</ol>

<p>The rest of these rules and policies are clarifications, extensions, and specifications upholding these core values.</p>

<ol>
  <li>
    <p>User-generated content, including usernames and hyperlinked content, must be respectful and appropriate.</p>
    <ol class="list list--lower-alpha">
      <li><p>Discriminatory language or jokes which target race, age, sex, sexuality, gender, disability, etc. will not be tolerated.</p></li>
      <li><p>No explicit content of any kind, including gore, pornography, nudity, or excessive violence.</p></li>
      <li><p>Content must be accurate, relevant, and free from misleading or clickbait elements. <em>(Rule in effect starting December 7th, 2024)</em></p></li>
      <li><p>Only post organically created content that you have the right to post. <em>(Rule in effect starting December 7th, 2024)</em></p></li>
    </ol>
  </li>

  <li>
    <p>Disruptive behavior, including, but not limited to, harassment, trolling, impersonation, misrepresentation, spamming, and scamming, is not permitted.</p>
  </li>

  <li>
    <p>Sensitive topics are not permitted on Workshop.codes. This includes politics and religion.</p>
    <ul class="list list--disc">
      <li><p>In this context, sensitive topics are defined as topics which are not directly relevant to video games, Overwatch, or the Overwatch Workshop, and which may cause significant distress or discomfort for users.</p></li>
    </ul>
  </li>

  <li>
    <p>Posts must be substantive and include a valid, in-game generated import code.</p>
    <ol class="list list--lower-alpha">
      <li><p>Please note that import codes generated within the Chinese Overwatch region are not valid for the rest of the world, and thus are not allowed.</p></li>
      <li><p>If an import code is generated on PTR, the post must be flagged as such with the "PTR Only?" checkbox (found within the Settings tab of the post edit page).</p></li>
      <li><p>Posts whose primary import codes become invalid for any reason, including, but not limited to, expiration or being overwritten by an unrelated creation, are subject to deletion unless said post contains a valid code snippet.</p></li>
    </ol>

    <p>In order to be considered substantive, a post must include some meaningful modification to a base gamemode (e.g. Quick Play, No Limits, Competitive, FFA Deathmatch), whether that be through the custom game settings or the Workshop. This stipulation is to prevent the posting of "spam" modes which function essentially identically to a provided preset.</p>
  </li>

  <li>
    <p>Plagiarism will not be tolerated. This includes, but is not limited to, the following:</p>
    <ul class="list list--disc">
      <li><p>Deleting/disabling actions which display credits to players</p></li>
      <li><p>Falsely claiming or otherwise representing oneself to be the author of a piece of code</p></li>
      <li><p>Not respecting the wishes of a creator to be credited when utilizing their work within one's own creation</p></li>
    </ul>

    <p>Creators are encouraged, but not required, to utilize the derivatives system to ensure that they are providing an adequate amount of credit. The derivatives system is activated by checking the "This code is a fork/uses other codes" checkbox when creating or updating a post.</p>

    <p>Posting on behalf of another player is permitted. However, in this scenario, the post title must clearly identify the original author (for example, "MODE TITLE by AUTHOR NAME").</p>
  </li>

  <li>
    <p>Obfuscation is heavily discouraged.</p>
    <ol class="list list--lower-alpha">
      <li><p>In this context, obfuscation refers to any deliberate attempt by a Workshop creator to prevent, hinder, or otherwise obstruct efforts to modify or access their work.</p></li>
      <li><p>Sharing techniques or tools whose primary function is obfuscation is not permitted on Workshop.codes.</p></li>
      <li><p>Modes which utilize obfuscation may be posted to Workshop.codes, and are currently not distinguished from other posts. However, do note that this may be subject to change without warning in the future.</p></li>
    </ol>
  </li>

  <li>
    <p>Posted Workshop content must abide by the <a href="https://www.blizzard.com/en-us/legal/2749df07-2b53-4990-b75e-a7cb3610318b/custom-game-acceptable-use-policy" target="_blank" class="text-lightest">Blizzard Custom Game Acceptable Use Policy</a> and the <a href="https://www.blizzard.com/en-us/legal/fba4d00f-c7e4-4883-b8b9-1b4500a402ea/blizzard-end-user-license-agreement" target="_blank" class="text-lightest">Blizzard End User License Agreement</a>, as well as any applicable rules or policies listed on this page.</p>
  </li>

  <li>
    <p>Workshop.codes staff reserve the right to take action against any content for any reason.</p>
  </li>
</ol>

<p>If you have any questions about these terms, please contact the Workshop.codes staff via the #wsc-discussion channel in the <a target="_blank" rel="noreferrer noopener" href="https://discord.gg/DdxsQRD" class="text-lightest">Workshop.codes Discord.</a></p>
