<div class="cards">
  <div class="card w-100 h-100" href="#" data-action="create-block" data-content-type="post" data-name="gallery">
    <h3 class="card__title mt-0 mb-0">Gallery</h3>

    <small class="text-base">A grid of images</small>
  </div>
</div>
