<div class="well well--dark inline-flex w-100" data-id="<%= @block.id %>">
  <h3 class="mt-0 mb-1/4"><%= @block.name.humanize %></h3>
  
  <%= render "blocks/post/settings/#{ @block.name }", block: @block %>
</div>

