<% return unless block_property(block, "questions").present? && block_property(block, "questions").any? %>

<div class="faq faq--<%= block.id %>">
  <% block_property(block, "questions").each_with_index do |question, index| %>
    <% next unless question.present? %>

    <% label_id = "label-#{ block.id }-#{ index }" %>
    <% controls_id = "faq-#{ block.id }-#{ index }" %>

    <details class="faq__item">
      <summary class="faq__question">
        <%= tag.div sanitize(question), id: label_id %>
        <div class="faq__icon" aria-hidden="true">▼</div>
      </summary>

      <div class="faq__answer">
        <hr class="mt-0 mb-1/4" />
        <%= sanitize(markdown(block_property(block, "answers")[index])) %>
      </div>
    </details>
  <% end %>
</div>
