<%= link_to wiki_category_path(category.slug), class: "card mb-1/4" do %>
  <h4 class="mt-0 mb-0">
    <%= category.title %>
    <small class="text-base">(<%= category.articles.approved.uniq { |a| a.group_id }.length %>)</small>

    <% if category.description.present? %>
      <div class="card__content">
        <%= category.description %>
      </div>
    <% end %>
  </h4>
<% end %>
