<div class="modal" role="dialog" aria-label="<%= title %>">
  <div class="modal__backdrop" data-role="modal-backdrop"></div>

  <div class="modal__content">
    <h2 class="modal__title"><%= title %></h2>

    <%= render "form" %>
  </div>
</div>
