<html>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
</html>

<center>
  <h1 style="font-size: 64px;" class="mb-0 mt-1/1"><strong>500</strong></h1>
  <h2 class="mt-1/4">Something went wrong on our end</h2>

  <%= link_to "Return home", root_path, class: "button mt-1/2" %>
</center>
