<html>
  <%= vite_stylesheet_tag "application.scss" %>
</html>

<div class="block md:pt-1/1 ml-auto mr-auto text-center" style="max-width: 600px">
  <div class="well p-0 overflow-hidden flex-nowrap">
    <div class="p-1/2">
      <h1 style="font-size: 64px; line-height: 1em" class="mt-0 mb-0"><strong>500</strong></h1>
      <h2 class="mt-1/4 mb-0">Something went wrong on our end</h2>

      <%= link_to "Return home", root_path, class: "button mt-1/2" %>
    </div>

    <div class="text-right">
      <%= image_tag "ollie/ollie-burn.png", width: 300 %>
    </div>
  </div>
</div>
