<center>
  <h1 style="font-size: 64px;" class="mb-0 mt-1/1"><strong>404</strong></h1>
  <h2 class="mt-1/4">The page you were looking for was not found</h2>

  <p>The page may have been moved, removed, or has otherwise vanished</p>
</center>
