<center>
  <h1 style="font-size: 64px;" class="mb-0 mt-full"><strong>422</strong></h1>
  <h2 class="mt-quarter">The change you wanted was rejected</h2>

  <p>Maybe you tried to change something you didn't have access to</p>
</center>
