<center class="block pt-1/1">
  <h1 style="font-size: 64px;" class="mb-0 top-offset"><strong>422</strong></h1>
  <h2 class="mt-1/4">The change you wanted was rejected</h2>

  <p>Maybe you tried to change something you didn't have access to</p>
</center>
