<% content_for :page_title, "Workshop.codes Script Editor" %>

<%= javascript_pack_tag "editor.js", "data-turbolinks-track": "reload", defer: true %>

<div class="fullscreen-overlay">
  <div class="spinner"></div>
</div>

<%= svelte_component "Editor", { values: @values, actions: @actions, defaults: @defaults, _projects: @projects } %>
