<% content_for :page_title, "Editor | Workshop.codes Script Editor" %>
<% content_for :og_description, "The Workshop.codes Overwatch Workshop Script Editor enables editing your Workshop Script right from your browser using an intuitive and easy to use text based editor. Useful for new and experienced programmers!" %>
<% content_for :og_summary_small, "true" %>

<%= javascript_pack_tag "editor.js", "data-turbolinks-track": "reload", defer: true %>

<div class="fullscreen-overlay">
  <div class="spinner"></div>
</div>

<div class="wiki">
  <%= svelte_component "Editor", {
    bugsnagApiKey: ENV["BUGSNAG_API_KEY"],
    _isSignedIn: current_user.present?
  } %>
</div>
