<% content_for :page_title, "Workshop.codes Script Editor" %>

<%= javascript_pack_tag "editor.js", "data-turbolinks-track": "reload", defer: true %>

<div class="fullscreen-overlay">
  <div class="spinner"></div>
</div>

<div class="wiki">
  <%= svelte_component "Editor", {
    values: @values,
    actions: @actions,
    constants: @constants,
    defaults: @defaults,
    heroes: heroes,
    maps: maps,
    _projects: @projects,
    _isSignedIn: current_user.present?
  } %>
</div>
