<% content_for :page_title, "Editor | #{(@project.title + " | ") if @project.present?} Workshop.codes Script Editor" %>
<% content_for :og_summary_small, "true" %>

<%= javascript_pack_tag "editor.js", "data-turbolinks-track": "reload", defer: true %>

<div class="fullscreen-overlay">
  <div class="spinner"></div>
</div>

<div class="wiki">
  <%= svelte_component "Editor", {
    events: @events,
    values: @values,
    actions: @actions,
    constants: @constants,
    defaults: @defaults,
    heroes: heroes,
    maps: maps,
    _projects: @projects,
    _isSignedIn: current_user.present?
  } %>
</div>
