<% content_for :page_title, "Editor | Workshop.codes Script Editor" %>
<% content_for :og_description, "The Workshop.codes Overwatch Workshop Script Editor enables editing your Workshop Script right from your browser using an intuitive and easy to use text based editor. Useful for new and experienced programmers!" %>
<% content_for :og_summary_small, "true" %>

<%= vite_stylesheet_tag "editor.scss", defer: true %>
<%= vite_javascript_tag "editor.ts", "data-turbolinks-track": "reload", defer: true %>

<% loading_tips = [
  "The only limit is your imagination... and element limits.",
  "Not working as expect? Just add a Wait!",
  "Error: Success."
].freeze %>

<div class="fullscreen-overlay text-center pl-1/4 pr-1/4">
  <h1>Workshop.codes Script Editor</h1>
  <div class="spinner" aria-live="polite" role="status"></div>
  <p data-role="loading-screen-tip" class="mt-1/2"><%= loading_tips.sample %></p>
</div>

<div class="wiki">
  <%= svelte_component "Editor", {
    bugsnagApiKey: ENV["BUGSNAG_API_KEY"],
    _isSignedIn: current_user.present?
  } %>
</div>
