<h1>This editor is no longer supported.</h1>

<%= link_to "Go home", root_url, class: "button button--ghost" %>
<%= link_to "Use the Workshop.codes editor instead", editor_url, class: "button button--ghost" %>
