.CodeMirror {
  padding: 0;
  border: 0;
  background: $bg-dark;
  color: $white;
  min-height: 600px;

  .CodeMirror-selectedtext,
  .CodeMirror-selected {
    background: lighten($bg-dark, 20%);
  }

  .CodeMirror-code {
    .cm-url {
      color: $text-color;
    }

    .cm-attribute {
      color: #8e74b5;
    }

    .cm-string {
      color: #5074de;
    }
  }

  &.CodeMirror-fullscreen {
    z-index: 1000;
  }
}

.CodeMirror-scroll {
  min-height: 600px !important;
  padding-right: #{ $margin / 2 };
  padding-bottom: #{ $margin };
  margin-right: -#{ $margin };
  margin-bottom: -#{ $margin };
}

.CodeMirror-cursor {
  border-color: $white;
}

.CodeMirror-lines {
  padding: 2rem;

  .well {
    white-space: initial;
  }
}

/// CodeMirror 6

.cm-editor {
  color: $text-color-light;
  font-family: "Consolas", monospace;

  .cm-gutters {
    border-right: 0;
    background: $bg-dark;
    color: $text-color-dark;

    .cm-activeLineGutter {
      background: transparent;
      color: $text-color-light;
    }
  }

  .cm-activeLine {
    background: rgba($pure-white, 0.025);
  }

  .cm-selectionBackground {
    background: lighten($bg-dark, 10%);
  }

  .cm-selectionMatch {
    background: lighten($bg-dark, 10%);
  }

  &.cm-focused .cm-selectionBackground {
    background: lighten($bg-dark, 15%);
  }

  .cm-matchingBracket {
    background: lighten($bg-dark, 20%) !important;
  }

  .cm-cursor {
    border-color: #ff00ff;
    border-width: 3px;
  }

  .cm-completionIcon {
    padding-right: 1rem;
  }

  .cm-tooltip {
    background: darken($bg-dark, 5%);
    border: 0;
    box-shadow: $shadow;

    > ul {
      @include styled-scrollbar;
    }

    > .cm-tooltip {
      background: lighten($bg-dark, 5%);
      color: $text-color-light;
    }
  }

  .cm-completionDetail {
    color: $text-color;
    font-size: 0.85em;
  }

  .cm-tooltip-autocomplete ul li[aria-selected] {
    background: lighten($bg-dark, 5%);
  }

  .ͼd {
    color: var(--color-number);
  }

  .ͼe {
    color: var(--color-string);
  }

  .ͼb {
    color: var(--color-keyword);
  }

  .ͼc {
    color: var(--color-value);
  }

  .ͼm {
    color: var(--color-comment);
  }

  .ͼ5 {
    color: var(--color-punctuation);
    text-decoration: none;
  }

  .ͼ7 {
    color: var(--color-action);
    text-decoration: none;
  }
}
