.form-tags__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 .25rem .25rem .25rem;
}

.form-tags__input {
  @include inline-input;
  width: initial;
  margin-top: .25rem;
  padding: .2rem .25rem;
}

.form-tags__tag {
  display: flex;
  white-space: nowrap;
  border-radius: .1rem;
  margin-right: .25rem;
  margin-top: .25rem;
  padding: .2rem .13rem .15rem .2rem;
  background: darken($primary, 10%);
}

.form-tags__remove-tag {
  padding: 0 .15rem;
  background: transparent;
  border: none;
  color: $white;
  cursor: pointer;
}

.form-tags-autocomplete-results__anchor {
  position: relative;
}

.form-tags-autocomplete-results {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: .2rem 0;
  padding: .25rem;
  background: $bg-dark;
  border: solid 1px $border-color;
  border-radius: .25rem;
  max-height: 20rem;
  overflow-y: auto;
  z-index: 100;
  text-align: left;

  .list-element {
    list-style: none;
    padding: .25rem;

    &.tag-item {
      cursor: pointer;

      &:hover,
      &:focus {
        background: lighten($bg-dark, 10%);
        outline: none;
        color: $white;
      }
    }
  }
}
