<h2 class="mt-1/1" id="description-title">Description</h2>

<div class="form-group">
  <div class="form-hint" id="description-hint">
    Write a short description that will help people play your game. A quick description of the controls and rules will help explain what's going on. <br>
    <strong>This description is full Markdown enabled.</strong> **bold**, _italic_, <%= link_to("and everything else", "https://workshop.codes/wiki/articles/markdown+on+workshop-codes", target: "_blank") %>. Add YouTube videos using <code>[youtube VIDEO_ID]</code>. (Video ID is in bold: youtube.com/watch?v=<strong>FqnKB22pOC0</strong>)
  </div>

  <%= form.file_field :videos, multiple: true, direct_upload: true, class: "hidden-field", data: { action: "form-videos" } %>
  <%= form.text_area :description,
    class: "form-input form-textarea",
    data: {
      role: "simple-mde markdown-textarea",
      enable_blocks: true,
      max_length: POST_DESCRIPTION_LIMIT,
      abilities: ability_icons,
      heroes: hero_names
    },
    aria: {
      labelledby: "description-title",
      describedby: "description-hint"
    } %>
</div>

<%= render "posts/form/controls", form: form %>
