<h2 class="mt-1/1"><%= t("posts.form.images.title") %></h2>

<div class="form-group">
  <p class="form-hint">
    <%= t("posts.form.images.help_html") %>
  </p>

  <%= render "posts/form/image_upload", form: form %>
</div>
