<% return unless block_property(block, "collections").present? %>

<% if block_property(block, "title").present? %>
  <h2><%= block_property(block, "title") %></h2>
<% end %>

<div>
  <% collections = @user.collections.where(id: block_property(block, "collections")).limit(6) %>
  <%= render collection: collections, partial: "collections/collection_card", as: :collection %>
</div>
