<% active = params[:tab].present? && params[:tab] == "blocks" %>

<div class="tabs-content <%= "tabs-content--active" if active %>" data-tab="blocks">
  <h2 class="mt-1/1 mb-0">Blocks</h2>

  <div data-role="blocks block-sortable">
    <em class="block text-dark mt-1/2"><small>Reorder blocks by dragging them</small></em>
    <em class="empty-blocks-marker mt-1/2">You have not yet created any blocks</em>

    <% if @blocks.present? %>
      <% @blocks.each do |block| %>
        <%= render "blocks/profile/block_settings", block: block %>
      <% end %>
    <% end %>
  </div>

  <h2 class="mt-1/1">Create blocks</h2>

  <p class="form-hint">
    <mark>Blocks allow you to customise the landingpage of your profile.</mark> Add blocks to your profile to highlight particular codes or other aspects you want to show off. <strong>You can add a maximum of 5 blocks.</strong>
  </p>

  <%= render "blocks/profile/add_blocks" %>
</div>
