<h2>Collections made by <%= tag.strong @user.clean_username %></h2>

<div class="cards">
  <%= render collection: @collections, partial: "collections/collection_card", as: :collection %>
</div>

<%= tag.em "#{ @user.clean_username } has not yet created any collections" if @user.collections.none? %>
