<p class="mt-0">You must authenticate in order to transfer or delete this archive post.</p>
<p>Authenticating via the button below will not permanently store any of your data on our servers.</p>

<%= link_to "/auth/bnet?auth_only_no_user=1&redirect_path=#{archive_path(code: @post.code)}", method: :post, class: "button button--bnet mt-1/8", data: { prefetch: false } do %>
  <%= inline_svg_tag "bnet.svg", height: 24 %>
  <%= t "archive.navigation.authenticate" %>
<% end %>
