<hr class="small" id="archive" />

<h3>Archival Notice</h3>

<p><em><small>This post was originally hosted on workshop.elohell.gg, a site which is no longer online. If this was originally your post, you may click the button below to transfer this post to your Workshop.codes account or delete this post entirely.</small></em></p>

<%= link_to "Archive Actions", archive_path(code: post.code), class: "button mt-1/4" %>
