<div class="warning mt-0 mb-1/2">
  <mark>Many inputs have been filled automatically from your original post on <em>workshop.elohell.gg</em>. Some settings can not be filled automatically and require your attention.</mark> Please go through the form and fill in what's missing.
</div>
