<div class="warning warning--orange">
  <p>
    <strong><%= t("posts.show.expired.title") %></strong>
    <small><%= t("posts.show.expired.content") %></small>
  </p>

  <% if current_user == @post.user %>
    <div class="mt-1/8">
      <p><small><%= t("posts.show.immortal.content") %></small></p>

      <%= button_to t("posts.show.immortal.button"),
          immortalise_post_path,
          method: :post,
          params: { code: @post.code },
          data: { disable_with: t("global.processing"), confirm: "Are you sure? Check your code before clicking this button. This action cannot be undone." },
          form: { autocomplete: "off" },
          remote: true,
          class: "button button--light button--small text-orange mt-1/8" %>
    </div>
  <% end %>
</div>
