<div class="card-carousel">
  <div class="skip-links">
    <a href="#past-carousel" data-turbolinks="false">Skip past carousel</a>
  </div>

  <div data-role="carousel-cards" data-max="10" data-url="" class="cards cards--on-fire">
    <%= render collection: @hot_posts, partial: "card", as: :post, locals: { eager_load_first_index: true } %>
  </div>

  <button class="card-carousel__control card-carousel__control--previous card-carousel__control--disabled" disabled="disabled" data-action="carousel-previous" aria-label="Previous">
    <%= inline_svg_tag "layout/carousel-left.svg", width: 30, height: 30 %>
  </button>

  <button class="card-carousel__control card-carousel__control--next" data-action="carousel-next" aria-label="Next">
    <%= inline_svg_tag "layout/carousel-right.svg", width: 30, height: 30 %>
  </button>
</div>

<div id="past-carousel"></div>
