<div class="warning warning--orange bg-overwatch-2">
  <div>
    <strong>Overwatch 2</strong> Beta Compatible

    <em class="tooltip tooltip--right">
      (?)
      <div class="tooltip__content">
        This code is tagged as being importable in the Overwatch 2 Beta.
        It is possible the code was only valid for a previous beta, or that functionality has broken due to Overwatch 2 Beta updates.
        A code that works in the Overwatch 2 Beta will not work in Overwatch 1.
      </div>
    </em>
  </div>
</div>
