<div class="warning warning--orange bg-overwatch-2 shadow-block">
  <div>
    <strong>Overwatch 2</strong> Beta

    <em class="tooltip tooltip--right">
      (?)
      <div class="tooltip__content">
        This code is tagged as being importable in the Overwatch 2 Beta.
        The Overwatch 2 Beta is no longer available and as a result this code will no longer function.
      </div>
    </em>
  </div>
</div>
