<div class="warning warning--orange bg-overwatch-2">
  <div>
    <strong>Overwatch 2</strong> Beta Compatible

    <em class="tooltip tooltip--right">
      (?)
      <div class="tooltip__content">
        This code is verified to be compatible with the Overwatch 2 Beta.
        There is no guarantee that codes will function between different beta phases.
        A code that works in the Overwatch 2 Beta will not work in Overwatch 1.
      </div>
    </em>
  </div>
</div>
