<main class="items">
  <% if @posts.any? %>
    <%= render @posts %>
    <hr class="mt-0 mb-0">
  <% else %>
    <p>There doesn't seem to be anything here</p>

    <blockquote>
      <% quote = quotes.sample %>
      <em><%= quote["quote"] %></em>
      -&nbsp;<%= quote["by"] %>
    </blockquote>
  <% end %>
</main>
