<div class="items-heading mt-1/1 mb-1/2">
  <h2 class="mb-0"><strong>Users</strong> Also Like</h2>
</div>

<div class="cards">
  <%= render collection: @post.recommended_posts.includes(:user), partial: "card", as: :post %>
</div>
