<div class="items-heading mt-1/1 mb-1/2">
  <h2 class="mb-0"><strong>Users</strong> Also Like</h2>
</div>

<div class="cards" data-partial="similar-posts">
  <%= render collection: @post.recommended_posts, partial: "card", as: :post %>
</div>
