<% return unless @post.tags.present? %>

<div class="items-heading mt-1/1 mb-1/2">
  <h2 class="mb-0"><strong>Similar</strong> Codes</h2>
</div>

<div data-action="get-partial" data-get-on-load="true" data-target="similar-posts" data-url="<%= similar_posts_url(@post.id) %>"></div>
<div class="cards" data-partial="similar-posts">
  <div class="infinite-scroll"><div class="spinner"></div></div>
</div>
