<div data-toggle-content>
  <h2 class="heading mb-1/2">Code Snippet</h2>

  <%= button_tag "Toggle code snippet", class: "button button--secondary", data: { action: "toggle-content load-snippet", id: @post.id } %>

  <div data-role="content-to-toggle snippet-container" style="display: none">
    <div class="mt-half">Loading...</div>
  </div>
</div>
