<div class="items-heading mt-0 mb-1/2">
  <h2 class="mt-0 mb-0">Snippet</h2>
</div>


<div class="ide">
  <pre class="ide__content"><div class="ide__code-wrapper"><div class="ide__line-counter"></div>
    <div class="hidden" data-copy="snippet"></div>
    <code class="ide__code microlight" data-role="ide-content">Loading...</code>
    <div class="ide__tray">
      <button class="ide__tray-item" data-action="toggle-ide-fullscreen">Fullscreen</button>
      <button class="ide__tray-item" data-action="copy-to-clipboard" data-target="snippet">Copy to clipboard</button>
    </div>
  </div></pre>
</div>
