<div class="items-heading mt-0 mb-1/2">
  <h2 class="mt-0 mb-0">Source code</h2>
</div>

<% if @post.project.present? %>
  <%= link_to editor_path(uuid: @post.project), class: "project-link #{ "mb-1/4" if @post.snippet.present? }", target: "_blank" do %>
    <%= vite_inline_svg_tag "images/logo-small.svg", width: 24, height: 24 %>

    <span>View this project in the <strong>Workshop.codes Script Editor</strong></span>

    <%= vite_inline_svg_tag "images/icons/icon-right-arrow.svg", width: 18, height: 18, class: "project-link__arrow" %>
  <% end %>
<% end %>

<% if @post.snippet.present? %>
  <div class="ide shadow-block">
    <pre class="ide__content"><div class="ide__code-wrapper"><div class="ide__line-counter"></div>
      <div class="hidden" data-copy="snippet"></div>
      <code class="ide__code microlight" data-role="ide-content">Loading...</code>
      <div class="ide__actions">
        <button class="ide__actions-item" data-action="toggle-ide-fullscreen">Fullscreen</button>
        <button class="ide__actions-item" data-action="copy-to-clipboard" data-target="snippet">Copy to clipboard</button>
      </div>
    </div></pre>
  </div>
<% end %>
