<div data-toggle-content>
  <h2 class="heading mb-1/2">Code Snippet</h2>

  <%= button_tag "Show code snippet", class: "button button--secondary",
                 data: {
                   action: "toggle-content load-snippet",
                   id: @post.id,
                   show_with: "Hide code snippet",
                   hide_with: "Show code snippet"
                 } %>

  <div data-role="content-to-toggle snippet-container" style="display: none">
    <div class="ide">
      <%=
        tag.pre(
          tag.div(
            tag.div(class: "ide__line-counter") +
            tag.code("Loading...",
              class: "ide__code microlight",
              spellcheck: "false",
              data: { role: "ide-content", copy: "current-content" }) +
            tag.div(
              tag.div("Fullscreen", class: "ide__tray-item", data: { action: "toggle-ide-fullscreen" }) +
              tag.div("Copy to clipboard", class: "ide__tray-item", data: { action: "copy-ide-content", target: "current-content" }),
              class: "ide__tray"
            ),
          class: "ide__code-wrapper"),
        class: "ide__content")
      %>
    </div>
  </div>
</div>
