<div data-toggle-content>
  <h2 class="heading mb-half">Code Snippet</h2>

  <%= button_tag "Toggle code snippet", class: "button button--secondary", data: { action: "toggle-content" } %>

  <div data-role="content-to-toggle" style="display: none">
    <div class="ide">
      <div class="ide__sidebar">
        <%= link_to "View variables", "#", class: "ide__action", data: { action: "view-ide-variables" } %>

        <h3 class="ide__title">Rules</h3>

        <div class="ide__rules" data-role="ide-rules">
          No Rules are declared.
        </div>
      </div>

      <%=
        tag.pre(
          tag.div(
            tag.div(class: "ide__line-counter") +
            tag.code(@post.snippet,
              class: "ide__code microlight syntax-highlight",
              spellcheck: "false",
              data: { role: "ide-content", copy: "current-content" }) +
            tag.div(
              tag.div("View Fullscreen", class: "ide__tray-item", data: { action: "toggle-ide-fullscreen" }) +
              tag.div("Copy current Rule", class: "ide__tray-item", data: { action: "copy-to-clipboard", target: "current-content" }) +
              tag.div("Copy all Rules", class: "ide__tray-item", data: { action: "copy-ide-content", target: "current-content" }),
              class: "ide__tray"
            ),
          class: "ide__code-wrapper"),
        class: "ide__content")
      %>
    </div>
  </div>
</div>
