<% cache [current_locale, current_user.recommended_posts] do %>
  <h2 class="mt-1/1 mb-0"><strong>Recommended</strong> Codes</h2>

  <p class="text-small"><em>Recommendations based on your favorited codes. Favorite more codes to get better recommendations!</em></p>

  <section>
    <%= render collection: current_user.recommended_posts, partial: "post", as: :post %>
  </section>
<% end %>
