<% display_type = @display_type || "list" %>

(() => {
  <% if @error.present? %>
    const elements = document.querySelectorAll("[data-role='infinite-scroll-marker']")

    const button = document.querySelector("[data-role='load-more-posts']")
    if (!button) {
      elements[elements.length - 1].insertAdjacentHTML("afterEnd", `
        <div class="flex justify-center">
          <div class="mt-1/2 button button--secondary pr-1/1 pl-1/1" data-role="load-more-posts" data-load-method="load-more-button" data-url="<%= request.original_url %>">An error occurred. Try again?</div>
        </div>
      `)
    }
  <% elsif @posts.any? %>
    <%# Remove the error button if the request succeeds after retry %>
    const button = document.querySelector("[data-role='load-more-posts']")
    if (button) {
      button.remove()
    }

    const elements = document.querySelectorAll("[data-role='infinite-scroll-marker']")

    elements[elements.length - 1].insertAdjacentHTML("afterEnd", `
      <% if display_type == "list" %>
        <%= j render @posts %>
      <% else %>
        <%= render collection: @posts, partial: "posts/card", as: :post  %>
      <% end %>

      <% if @posts.size == 20 %>
        <div class="infinite-scroll" data-role="infinite-scroll-marker" data-load-method="infinite-scroll" data-url="<%= request.original_url %>"></div>
      <% else %>
        <h4 class="mt-1/2 mb-0"><center>You've reached the end.</center></h4>
      <% end %>
    `)
  <% end %>
})()
