<% content_for :page_title, "#{ t("navigation.recent") }" %>

<div class="heading">
  <h1>
    <% if params[:page] %>
      <strong>Latest</strong> Codes
      <%= tag.small "- Page #{ params[:page] }" if params[:page].to_i > 1 %>
    <% else %>
      <strong>Latest</strong> Codes
    <% end %>
  </h1>
</div>

<%= render "posts" %>
