<% content_for :page_title, "Create new" %>

<h1 class="heading"><%= t(".title_html") %></h1>

<%= render "elohell_alert" if params[:elohell].present? %>

<%= render "form", post: @post, path: posts_path %>
