<% content_for :page_title, "Create new Item" %>

<h1 class="heading"><strong>Create new</strong> Workshop Code</h1>

<%= render "elohell_alert" if params[:elohell].present? %>

<%= render "form", post: @post, path: posts_path %>
