<% content_for :page_title, "#{ t("navigation.on_fire") } #{ "| Page #{ params[:page] }" if params[:page] }" %>

<div class="heading">
  <h1>
    <%= inline_svg_tag "icons/icon-onfire.svg", class: "title-icon" %>
    <%= t(".title_html") %> <%= tag.small "- Page #{ params[:page] }" if params[:page] %>
  </h1>
</div>

<%= render "posts" %>
