.images-preview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: $margin / 2;

  &:not(:empty) {
    margin-top: $margin / 2;
  }
}

@keyframes fade-in-image-preview-item {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.images-preview__item {
  position: relative;
  background: $body-bg;
  animation: fade-in-image-preview-item 200ms;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.images-preview__action {
  position: absolute;
  bottom: -.25rem;
  transform: translateY(100%);
  font-size: 12px;
  cursor: pointer;

  &:hover,
  &:active {
    color: $white;
  }
}
