.images-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin / 2.5;
  width: 100%;

  @include media-min(sm) {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: $margin / 2;
  }

  &::before {
    display: none;
  }

  &:not(:empty) {
    margin-top: $margin / 2;
    min-height: $margin * 2;

    &::before {
      content: "Drag images to change their order";
      display: block;
      grid-column: span 3;
      font-size: $font-size-small;
      line-height: 1.25em;
      font-style: italic;
      color: $text-color-dark;

      @include media-min(sm) {
        grid-column: span 6;
      }
    }
  }
}

@keyframes fade-in-image-preview-item {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.images-preview__item {
  position: relative;
  background: $body-bg;
  animation: fade-in-image-preview-item 200ms;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.images-preview__action {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .25em .5em;
  background: $red;
  font-size: 12px;
  color: $white;
  cursor: pointer;

  &:hover,
  &:active {
    color: $white;
    background: darken($red, 5%);
  }

  .sortable-ghost & {
    display: none;
  }
}

.images-preview__progress {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  padding: $margin / 4;
  border: 1px solid $border-color;
  aspect-ratio: 1/1;
}

.images-preview__progress-bar {
  position: relative;
  height: 1rem;
  width: 0;
  border-radius: 99px;
  background: $primary;
  transition: width 50ms;
}
