.CodeMirror {
  padding: $margin / 2;
  border: 0;
  background: $bg-dark;
  color: $white;
  height: 600px;

  .CodeMirror-selectedtext,
  .CodeMirror-selected {
    background: lighten($bg-dark, 20%);
  }

  .CodeMirror-code {
    .cm-url {
      color: $text-color;
    }
  }
}

.CodeMirror-scroll {
  padding-right: #{ $margin / 2 };
  padding-bottom: #{ $margin };
  margin-right: -#{ $margin };
  margin-bottom: -#{ $margin };
}

.CodeMirror-cursor {
  border-color: $white;
}

.editor-toolbar {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  padding: 0;
  opacity: 1;
  margin-bottom: .25rem;

  &:hover {
    opacity: 1;
  }

  &.fullscreen {
    padding-left: 10px;
    padding-right: 10px;
    background: var(--bg-darker);

    &::before,
    &::after {
      display: none;
    }
  }

  a,
  button {
    display: block;
    border: 0;
    margin-top: .25rem;
    margin-right: .25rem;
    background-color: $bg-dark;
    color: $text-color !important;
    font-size: 1rem;

    &.active,
    &:hover {
      background-color: lighten($bg-dark, 10%);
      color: $text-color-light !important;
      border: 0;
    }

    i {
      font-style: normal;
    }

    &.dropdown-open {
      position: relative;
      background: lighten($bg-dark, 10%);
    }
  }

  i.separator {
    border: 0;
    margin: 0 $margin / 8;
  }
}

.editor-dropdown {
  position: absolute;
  right: 0;
  top: 2rem;
  max-height: 300px;
  width: 150px;
  background: $bg-dark;
  border: 1px solid $text-color-dark;
  border-radius: $border-radius;
  overflow-y: auto;
  text-align: left;
  font-size: $font-size-small;
  z-index: 20;

  small {
    display: block;
    padding: .5rem;
  }
}

.editor-dropdown__item {
  padding: .25em .75em;
  text-align: left;
  font-size: $font-size-small;

  &:hover,
  &:active {
    background: lighten($bg-dark, 5%);
    color: $white;
  }
}

.fa-bold::before {
  content: "B";
  font-weight: bold;
}

.fa-italic::before {
  content: "i";
  font-style: italic;
}

.fa-header::before {
  content: "H";
  font-weight: bold;
}

.fa-quote-left::before {
  content: "❞";
  font-weight: bold;
}

.fa-list-ul::before {
  content: "•";
}

.fa-list-ol::before {
  content: "1";
}

.fa-link::before {
  content: "🔗";
}

.fa-image::before {
  content: "🖼️";
}

.fa-minus::before {
  content: "⚊";
}

.fa-highlight::before {
  content: "h";
  color: $primary;
}

.fa-code::before {
  content: "<>";
  font-weight: bold;
  font-size: $font-size-small;
}

.editor-toolbar button[title="Gallery"],
.editor-toolbar button[title="Insert Table"],
.editor-toolbar button[title*="Hero Icon"] {
  width: auto;
  padding: 0 .5rem;
}

.fa-table::before {
  content: "Table";
  font-size: 12px;
}

.fa-gallery::before {
  content: "Gallery";
  font-size: 12px;
}

.fa-hero-icon::before {
  content: "Hero";
  font-size: 12px;
}

.fa-arrows-alt::before {
  content: "⛶";
}
