.body-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 160px;
  width: 100%;
  background: lighten($body-bg, 65%);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90px, 0% 100%);
  z-index: -5;

  @include media-min(xl) {
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 120px, 0% 100%);
  }

  @include high-contrast() {
    display: none;
  }

  &--medium {
    height: 380px;
    clip-path: polygon(0 0, 100% 0, 100% 230px, 0% 100%);

    @media (min-width: 1300px) {
      height: 420px;
    }
  }

  &--large {
    height: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 280px, 0% 100%);

    @include media-min(sm) {
      height: 410px;
      clip-path: polygon(0 0, 100% 0, 100% 300px, 0% 100%);
    }

    @media (min-width: 1100px) {
      height: 440px;
      clip-path: polygon(0 0, 100% 0, 100% 350px, 0% 100%);
    }

    @include media-min(xl) {
      height: 500px;
      clip-path: polygon(0 0, 100% 0, 100% 320px, 0% 100%);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-indent: 10000px
  }
}

.string-lights {
  pointer-events: none;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.logo-background {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 120vw;
    max-height: 900px;
    max-width: 900px;
    background: radial-gradient(ellipse at center, rgba($white, .04) 0%,rgba($white,0) 65%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 120vw;
    max-height: 800px;
    max-width: 800px;
    background-image: var(--image-data-uri);
    background-size: 120vw;
    background-position: center;
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
    opacity: .15;

    @media (min-width: 800px) {
      background-size: contain;
    }

    @include high-contrast() {
      display: none;
    }
  }
}
