.content-block {
  display: block;
  padding: $margin * 0.5;
  background: theme(darker);
  border-radius: $border-radius;
  text-align: left;
  color: theme(text-color);
}

.content-block__title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    margin-left: $margin * 0.125;

    @include hover-stack {
      filter: brightness(1.1);
    }
  }
}

.content-block__social {
  display: flex;
  align-items: center;
  margin-bottom: $margin * 0.125;
  font-size: 112.5%;

  &:last-child {
    margin-bottom: 0;
  }

  &[href] {
    color: theme(text-color-lightest);
    text-decoration: none;

    @include hover-stack {
      color: $white;
      text-decoration: underline;
    }
  }

  svg {
    margin-right: $margin * 0.25;
  }
}

.empty-blocks-marker {
  display: none;

  &:last-child {
    display: block;
  }
}
