@use "sass:math";

.cards {
  position: relative;
  display: grid;
  grid-gap: $margin * 0.25;

  @include media-min(450px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $margin * 0.5;
  }

  @include media-min(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  &--auto {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &--fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &--on-fire {
    display: grid;
    grid-template-columns: repeat(30, 100%);
    grid-gap: 0;
    margin: 0 math.div($margin, -8);
    overflow-x: hidden;
    padding-bottom: math.div($margin, 1.5);

    @include media-min(xs) {
      grid-template-columns: repeat(30, 50%);
    }

    @include media-min(md) {
      grid-template-columns: repeat(30, 33.33%);
      margin: 0 math.div($margin, -4);
    }

    > div > div {
      height: 100%;
    }

    .card {
      display: flex;
      flex: 0 0 auto;
      width: calc(100% - #{ $margin * 0.25 });
      height: 100%;
      margin: 0 $margin * 0.125;

      @include media-min(md) {
        margin: 0 $margin * 0.25;
        width: calc(100% - #{ $margin * 0.5 });
      }
    }

    .card__code {
      height: auto;
    }
  }

  &.initialised {
    display: grid;

    > div > div {
      padding: 0 $margin * 0.125;

      @include media-min(md) {
        padding: 0 $margin * 0.25;
      }
    }

    .card {
      display: flex;
      width: 100%;
      margin: 0;
    }
  }

  .grid-full-width {
    grid-column: 1;
    grid-column-end: 4;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $margin * 0.25;
  border: 0;
  border-radius: $border-radius;
  background: darken($bg-dark, 3.5%);
  text-align: left;
  color: $text-color-lightest;
  text-decoration: none;
  overflow: hidden;
  box-shadow: $shadow;

  &[href]:hover,
  &[type]:hover {
    background: darken($bg-dark, 2%);
    cursor: pointer;

    &::before {
      opacity: 1;
    }
  }

  a[href]:hover,
  a[href]:active,
  a[href]:focus {
    img {
      filter: brightness(1.15);
    }
  }

  .code {
    flex-shrink: 0;
    height: auto;
    padding: $margin * 0.125 0;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.25em;
  }
}

.card__image {
  position: relative;
  display: block;
  width: calc(100% + #{ $margin * 0.5 });
  height: auto;
  margin: -#{ $margin * 0.25 } -#{ $margin * 0.25 } $margin * 0.25;
  background: $body-bg;
  font-size: 12px;
  z-index: 1;
}

.card__author {
  display: inline-block;
  margin-top: $margin * 0.125;
  color: var(--text-color-dark);

  a {
    color: var(--text-color-dark);
    text-decoration: none;

    @include hover-stack {
      color: $text-color-lightest;
    }
  }
}

.card__title {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding-bottom: .5rem;
  margin-bottom: auto;
  font-family: $font-stack;
  font-size: 16px;
  color: $text-color-lightest;
  text-decoration: none;

  &[href] {
    @include hover-stack {
      color: $white;
    }
  }
}

.card__content {
  margin-top: 1em;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  color: $text-color;
}

.card__blurred-background {
  display: none;
  pointer-events: none;

  @supports (mask-image: linear-gradient(black, white)) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .2;
    z-index: 0;
    object-fit: cover;
    filter: blur(50px);
    mask-image: linear-gradient(170deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 300px);
  }

  @media (prefers-reduced-motion) {
    display: none;
  }
}
