@use "sass:math";

.code {
  appearance: none;
  position: relative;
  grid-area: code;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $thumbnail-height;
  padding: math.div($margin, 6) 0;
  margin-bottom: auto;
  border: 0;
  background: $bg-dark;
  border-radius: $border-radius;
  font-family: $font-stack-alt;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.25em;
  color: $text-color-lightest;
  cursor: pointer;
  overflow: hidden;

  @include hover-stack {
    box-shadow: inset 0 0 0 2px $white;
    filter: brightness(1.15);
  }

  &:focus-visible {
    box-shadow: none;
  }

  .item--show & {
    background: darken($bg-dark, 5%);
  }

  .item--extra-small & {
    padding: $margin * 0.125 0;
    font-size: 28px;

    .copy-trigger {
      height: 21px;
      width: 21px;
    }
  }

  .item--large & {
    width: 100%;
    height: auto;
    margin-top: $margin * 0.25;
    padding: $margin * 0.125 0;
    border-radius: $border-radius * 0.5;
    font-size: 28px;

    @include media-min(md) {
      max-width: 280px;
    }
  }
}

.code__flag {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: $border-radius;
  background: $orange;
  padding: .20rem .45rem;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
  font-family: $font-stack;
  color: $white;
}
