.copy-trigger {
  height: 18px;
  width: 18px;
  margin-right: .25em;
  cursor: pointer;

  path {
    fill: theme(text-color-dark);
  }

  @include hover-stack {
    filter: brightness(2);
  }
}

.copy {
  display: inline-block;
  position: relative;
}

@keyframes fade-out-notification {
  to {
    opacity: 0;
  }
}

.copy__notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 .5em;
  border-radius: $border-radius * 0.5;
  background: $primary;
  font-weight: normal;
  font-size: 16px;
  line-height: 1em;
  color: $white;
  font-family: $font-stack-alt;
  text-align: center;
  animation: fade-out-notification 500ms forwards;
  animation-delay: 500ms;
  pointer-events: none;
}
