.derivatives {
  display: grid;
  grid-gap: $margin * 0.25;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.derivative {
  display: flex;
  flex-direction: column;
  padding: $margin * 0.125;
  border-radius: $border-radius * 0.5;
  background: darken($bg-dark, 5%);
  color: $text-color-lightest;
  text-decoration: none;
  overflow: hidden;

  &[href]:hover,
  &[type]:hover {
    filter: brightness(1.15);
    cursor: pointer;
  }
}

.derivative__title {
  margin-bottom: $margin * 0.125;
  color: $text-color-dark;
  font-size: .75rem;
  line-height: 1em;
}

.derivative__code {
  margin-top: auto;
  color: $text-color-lightest;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1em;
  font-family: $font-stack-alt;
  text-transform: uppercase;
}
