.gallery {
  --grid-min-width: 230px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-width), 1fr));
  grid-gap: 1rem;
  margin: 2rem 0;
  color: $text-color-lightest;
  text-align: center;

  &--input {
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--grid-min-width) - 30px), 1fr));
  }
}

.gallery__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $bg-darker;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before {
      content: "Enlarge";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, .5);
      font-family: $font-stack-alt;
      text-transform: uppercase;
      color: $white;
      font-size: 24px;
    }

    .gallery--input & {
      &::before {
        display: none;
      }
    }
  }

  img {
    display: block;
	  margin: 0 auto;
    width: 100%;
    height: auto;
    color: $text-color-dark;
    font-size: 14px;
  }
}

.gallery__title {
  margin-top: auto;
  padding: .5rem;
}
