@keyframes fade-in-lootbox {
  to {
    opacity: 1;
  }
}

.lootbox {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;

  &--active {
    @include media-min(mbl) {
      display: block;
      opacity: 0;
      animation: fade-in-lootbox 1000ms 2000ms forwards;
    }
  }
}

@keyframes shake-lootbox {
  0%, 20% { transform: translateX(0); }
  5% { transform: translateX(-5px) rotate(-4deg); }
  10% { transform: translateX(5px) rotate(4deg); }
  15% { transform: translateX(-3px) rotate(-2deg); }
}

.lootbox__box {
  position: absolute;
  bottom: calc(clamp($margin * 0.25, 4vw, $margin * 0.5) + $margin * 0.65);
  left: clamp($margin * 0.25, 4vw, $margin * 0.35);
  width: clamp(100px, 25vw, 200px);
  height: auto;
  z-index: 2;
  filter: drop-shadow(0 0 2rem #fbc14a);
  animation: shake-lootbox 2000ms 4000ms infinite;
}

.lootbox__background {
  position: absolute;
  bottom: $margin * 0.75;
  left: 0;
  width: clamp(225px, 50vw, 420px);
  height: auto;
  pointer-events: none;
}

@keyframes slide-lootbox {
  to {
    transform: translateX(0);
  }
}

.lootbox__label {
  position: relative;
  height: auto;
  width: 21.5rem;
  padding: $margin * 0.25;
  background: $bg-darker;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  z-index: 1;
  transform: translateX(-25rem);
  animation: slide-lootbox 500ms 2000ms forwards;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -11rem;
    width: 20rem;
    height: 100%;
    background: $primary;
    transform: rotate(-58deg);
  }
}

.lootbox__title {
  font-family: $font-stack-alt;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $white;
  font-style: normal;

  strong {
    color: $primary;
  }
}

.lootbox__controls {
  font-family: $font-stack-alt;
  font-size: 1.25rem;
  font-style: italic;
  color: $text-color-light;

  strong {
    color: $primary;
  }
}

.lootbox__windows {
  @include safari() {
    display: none;
  }
}

.lootbox__mac {
  display: none;

  @include safari() {
    display: inline;
  }
}
