$ollie-login-size: 100px;

.ollie-login {
  width: $ollie-login-size;
  height: $ollie-login-size;
  margin: 0 auto;
  border-radius: 50%;
  background: theme(dark, 5%);
  overflow: hidden;

  @include high-contrast() {
    border: 2px solid currentColor;
  }
}

.ollie-login__images {
  position: relative;
  width: $ollie-login-size;
  height: $ollie-login-size;
  margin-top: $ollie-login-size;
  padding: $margin * 0.25;
  transition: margin 500ms;

  &--loaded {
    margin-top: 0;
  }
}

.ollie-login__body {
  position: absolute;
  bottom: 0;
  left: $ollie-login-size * 0.1;
  width: $ollie-login-size * 0.8;
  height: auto;
  z-index: 1;
}

.ollie-login__pupils {
  position: absolute;
  bottom: $ollie-login-size * 0.48;
  left: $ollie-login-size * 0.24;
  width: $ollie-login-size * 0.33;
  box-shadow: $ollie-login-size * 0.05 0 0 white;
  height: auto;
  transition: transform 50ms;
  z-index: 0;
}

.ollie-login__arm-left {
  position: absolute;
  bottom: $ollie-login-size * 0.01;
  left: $ollie-login-size * 0.09;
  width: $ollie-login-size * 0.28;
  z-index: 5;
  transition: transform 200ms;

  &.out-of-view {
    transform: rotate(30deg) translateY(110%);
  }
}

.ollie-login__arm-right {
  position: absolute;
  bottom: $ollie-login-size * 0.08;
  left: $ollie-login-size * 0.42;
  width: $ollie-login-size * 0.41;
  z-index: 5;
  transition: transform 200ms;

  &.out-of-view {
    transform: rotate(-30deg) translateY(110%);
  }
}
