.quick-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $margin * 0.25;

  @include media-min(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.quick-filter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $margin * 0.25;
  border-radius: $border-radius;
  background: $bg-dark;
  box-shadow: $shadow;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  @include hover-stack {
    filter: brightness(1.15);
  }

  @include high-contrast() {
    border: 2px solid currentColor;
  }
}

.quick-filter__icon {
  height: 1.5rem;
  width: auto;
  margin-bottom: $margin * 0.125;

  path {
    fill: $text-color-lightest;
  }
}
