.scroll-indicator-wrapper {
  position: relative;
  overflow: hidden;

  &.is-sticky {
    z-index: 50;
  }
}

.scroll-indicator {
  display: flex;;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: auto;
  width: 1.5rem;
  height: 100%;
  background: rgba(darken($bg-body, 5%), .85);
  box-shadow: 0 0 1.5rem 1.5rem rgba(darken($bg-body, 5%), .85);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms;

  &--left {
    left: 0;
    right: auto;
  }

  &--active {
    opacity: 1;
  }

  svg {
    height: 1rem;

    path {
      fill: $text-color;
    }
  }
}
