@use "sass:math";

.search {
  position: relative;
  z-index: 10;

  input:not([type="submit"]) {
    height: var(--height, $search-height);
    padding: 0 $search-height * 0.5;
    padding-right: 4rem;
    border-radius: $search-height * 0.5;
    transition: border-radius 100ms;
    transition-delay: 180ms;
    background: theme(darker);

    @include media-min(sm) {
      padding-right: 6rem;
      width: 22.5vw;
      min-width: 280px;
      box-shadow: none;
      background: theme(dark);
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &:focus {
      box-shadow: 0 0 0 2px $white;
      background: theme(dark, 5%);
    }

    &:placeholder-shown {
      + label {
        display: block;
      }
    }
  }

  label {
    display: none;
    position: absolute;
    left: $search-height * 0.5;
    top: 50%;
    transform: translateY(-50%);
    font-style: italic;
    font-size: $font-size-base;
    font-weight: normal;
    color: $text-color-lightest;
    cursor: text;
    pointer-events: none;
    z-index: 2;

    .high-contrast & {
      font-weight: normal;
    }
  }
}

.search__submit {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1.15rem 0 0.5rem;
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
  z-index: 2;

  @include hover-stack {
    filter: brightness(2);
    box-shadow: none;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.search__tray {
  appearance: none;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  max-height: 0;
  transform: translateY(100%);
  border-bottom-left-radius: $search-height * 0.5;
  border-bottom-right-radius: $search-height * 0.5;
  background: theme(dark, -5%);
  z-index: 1;
  overflow: hidden;
  transition: max-height 200ms, box-shadow 50ms;
  transition-delay: 50ms;

  @include styled-scrollbar;

  input:focus + label + &,
  &:active {
    display: block;
    max-height: 400px;
    box-shadow: 0 20px 20px 0 rgba($black, .25), 0 6px 6px 0 rgba($black, .25);
    transition-timing-function: linear;
    transition-delay: 50ms;
  }
}

.search__results {
  width: 100%;
  padding: 0;
  max-height: 15rem;
  overflow: auto;

  @include styled-scrollbar;

  &--empty {
    padding: math.div($margin, 4) 2rem;

    @include media-min(sm) {
      padding: math.div($margin, 4) 3rem;
    }
  }
}

.search__item {
  display: block;
  flex: 0 0 100%;
  width: 100%;
  padding: .25rem 2rem;
  color: $text-color-lightest;
  text-decoration: none;
  font-size: 18px;

  @include media-min(sm) {
    padding: .25rem 3rem;
  }

  &:hover,
  &:active {
    color: $white;
    background: theme(dark);
  }

  &:first-child {
    margin-top: 1rem;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.search__item-category {
  margin-left: .5em;
  font-size: $font-size-small;
  color: $text-color;
}
