.skip-links {
  position: absolute;
  top: $margin * 0.25;
  left: $margin * 0.25;
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;

  &:focus-within {
    height: auto;
    width: fit-content;
    padding: $margin * 0.25;
    background: $bg-dark;
    border-radius: $border-radius;
    opacity: 1;
    z-index: 5;
  }

  a {
    display: block;
    color: $white;
    font-weight: bold;
    text-decoration: none;
  }
}
