@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  width: 2rem;
  height: 2rem;

  &::after {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .25rem solid $text-color;
    border-color: $text-color rgba($white, .1) rgba($white, .1);
    animation: spinner 750ms linear infinite;

    @include high-contrast() {
      content: "Loading...";
      border: 0;
      animation: none;
      font-weight: bold;
    }
  }

  &--small {
    width: 1.5rem;
    height: 1rem;

    &::after {
      width: 1rem;
      height: 1rem;
    }
  }
}
