@use "sass:math";

.standout {
  position: relative;
  padding: math.div($margin, 3) $margin * 0.25;
  text-align: center;
  background: theme(dark);
  border-radius: $border-radius;
  box-shadow: $shadow;

  @include high-contrast() {
    border: 2px solid currentColor;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 4rem;
    bottom: 0;
    height: 50%;
    width: calc(100% - 8rem);
    border-radius: $border-radius * 2;
    z-index: -1;
    opacity: .45;
    background: $black;
    box-shadow: 0 0 2rem 2rem $black;

    @include media-min(sm) {
      left: 6rem;
      width: calc(100% - 12rem);
    }
  }

  &--compact {
    @include media-min(md) {
      display: flex;
      justify-content: space-between;
      padding: math.div($margin, 3);
      align-items: center;
      text-align: left;
    }
  }

  &--floating-image {
    padding-bottom: 200px;
    text-align: center;

    @include media-min(md) {
      padding-bottom: math.div($margin, 3);
      padding-right: 200px;
      text-align: left;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      @include media-min(md) {
        right: 0;
        left: auto;
        transform: none;
      }
    }
  }

  &--border {
    border: 2px solid $primary;
  }

  &--workshop-disabled {
    gap: $margin * 0.25;
    justify-content: flex-start;
    background: $red;
    color: $white;

    svg {
      display: none;

      @include media-min(md) {
        display: block;
        flex: 0 0 auto;
      }
    }
  }

  &--editor {
    display: block;
    gap: 0;
    padding: $margin * 0.25;
    overflow: hidden;
    box-shadow: $shadow;
    text-decoration: none;

    @include hover-stack {
      background: theme(dark, 2.5%);
      color: theme(text-color-light);
    }

    &::before {
      display: none;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(330deg, transparent 50%, var(--standout-color, #{$overwatch-2}));
      opacity: 0.1;
      pointer-events: none;
    }

    .button {
      white-space: nowrap;
      background: var(--standout-color, #{$overwatch-2});
    }
  }

  &--venture {
    padding-top: clamp(150px, 45vw, 170px);
    padding-bottom: math.div($margin, 3);
    border: 4px solid theme(dark);

    @include media-min(md) {
      padding: math.div($margin, 3);
    }

    .standout__content {
      position: relative;
      z-index: 1;

      @include media-min(md) {
        max-width: 50%;
      }
    }

    .standout__image {
      width: 300px;
      max-width: 100%;
      top: -50px;

      @include media-min(lg) {
        width: 400px;
        bottom: -60px;
        right: -60px;
      }
    }
  }

  &--wide {
    grid-column: span 2;
  }
}

.standout__subtitle {
  color: theme(text-color-dark);
}

.standout__heading {
  color: var(--standout-color, #{$overwatch-2});
}

.standout__description {
  display: none;
  margin-top: $margin * 0.125;
  font-size: $font-size-small;
  line-height: 1.25em;
  text-align: left;

  @include media-min(md) {
    display: block;
  }
}

.standout-grid {
  display: flex;
  flex-direction: column;
  gap: $margin * 0.25;

  @include media-min(lg) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.standout__shadow-image {
  filter: drop-shadow(0 10px 15px rgba($black, 0.5));
  pointer-events: none;
  z-index: 1;
}

.standout__background {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  opacity: 0.75;
  z-index: 0;
  mask-image: linear-gradient(to top, transparent 30%, black);

  @include media-min(md) {
    mask-image: linear-gradient(to right, transparent 30%, black);
  }
}
