.tag {
  display: inline-block;
  padding: .15em .35em;
  margin: 0 .1em;
  border-radius: 5px;
  background: theme(darker);
  color: theme(text-color);
  line-height: 1.25em;
  text-decoration: none;
}
