@use "sass:math";

.update-notes {
  margin: math.div($margin, 1.15) 0 $margin * 0.25;
  border: 2px solid theme(border, 10%);
  background: theme(body);
}

.update-notes__header {
  position: relative;
  padding: $margin * 0.25 $margin * 0.25 $margin * 0.25 calc(1.5rem + 90px);
  background: theme(body, 5%);

  &--no-image {
    padding: $margin * 0.25;
  }
}

.update-notes__title {
  margin: 0 !important;
  font-size: 1.5rem;
  font-weight: bold;
  color: theme(text-color-lightest);
}

.update-notes__body {
  padding: $margin * 0.25;
}

.update-notes__description {
  border-left: 4px solid theme(primary);
  padding-left: $margin * 0.25;
  margin-bottom: $margin * 0.25;
}

.update-notes__icon {
  position: absolute;
  bottom: $margin * 0.125;
  width: 90px;
  height: 90px;
  left: $margin * 0.125;
  background: theme(darker);
  border: 2px solid theme(text-color);

  img {
    display: block;
    width: 90px;
  }
}

.update-notes__list {
  margin: 0;
}

.update-notes__item {
  display: flex;
  align-items: flex-start;
  margin: $margin * 0.25 0 0;

  &:first-child {
    margin-top: 0;
  }
}

.update-notes__ability {
  width: 40px;
  padding: math.div($margin, 16);
  margin-right: $margin * 0.125;
  border: 2px solid theme(text-color-dark);
}

.update-notes__name {
  line-height: 1.5rem;
  font-weight: bold;
  color: theme(text-color-lightest);
}

.update-notes__changes {
  margin: 0 0;
  padding-left: 1.5rem !important;
}
