.user-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $margin;
  color: rgba($white, .75);

  @include media-min(mbl) {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
    margin-left: auto;
    font-size: $font-size-small;
  }
}

.user-block__action {
  display: inline-block;
  padding: .5em .75em;
  border-radius: $border-radius;
  background: theme(dark);
  line-height: 1;
  font-weight: bold;
  color: theme(text-color-lightest);
  text-decoration: none;
  transition: box-shadow 100ms;

  @include high-contrast() {
    border: 2px solid currentColor;
  }

  @include media-min(mbl) {
    padding: .325em .75em;
  }

  &:hover,
  &:active,
  &:focus {
    background: theme(darker);
    box-shadow: 0 0 0 2px $white;
    text-decoration: none;
    color: $white;
  }
}

.user-block__create {
  margin-top: $margin * 0.5;
  margin-bottom: $margin * 0.5;

  @include media-min(mbl) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
