.warning {
  padding: $margin * 0.125 $margin * 0.25;
  background: $primary;
  text-align: center;
  color: $white;

  @include high-contrast() {
    border: 2px solid currentColor;
  }

  &--alert {
    background: $green;
  }

  &--mild {
    background: theme(darker);
    color: theme(text-color);
  }

  &--red,
  &--error {
    margin-top: $margin * 2;
    padding: 1rem;
    background: $red;
  }

  &--orange,
  &--warning {
    background: $orange;
    font-size: $font-size-small;
  }

  p {
    margin: 0;
  }

  svg {
    flex: 0 0 auto;
  }

  a:not(.button) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}
