.warning {
  padding: $margin * 0.125 $margin * 0.25;
  background: $primary;
  text-align: center;
  color: white;

  &--alert {
    background: $green;
  }

  &--mild {
    background: $bg-darker;
    color: $text-color;
  }

  &--red,
  &--error {
    margin-top: $margin * 2;
    padding: 1rem;
    background: $red;
  }

  &--orange,
  &--warning {
    background: $orange;
    font-size: $font-size-small;
  }

  p {
    margin: 0;
  }
}
