@use "sass:math";

.well {
  position: relative;
  padding: math.div($margin, 3);
  border-radius: $border-radius;
  background: $bg-dark;

  @include media-min(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &--simple {
    box-shadow: none;
    background: transparent
  }

  &--dark {
    background: $bg-darker;
  }

  &--scrollable {
    max-height: 10rem;
    overflow-y: auto;

    @include styled-scrollbar;
  }

  &--image {
    display: flex;
    flex-wrap: wrap;

    @include media-min(sm) {
      padding-left: 150px;
    }

    img {
      display: none;

      @include media-min(sm) {
        display: block
      }
    }

    .text-small {
      line-height: 1.3em;
    }
  }

  &--wiki {
    border: 2px solid $wiki;
  }

  a {
    text-decoration: none;
  }
}

.well__content {
  margin-top: $margin * 0.25;
  font-size: $font-size-small;

  @include media-min(sm) {
    margin-top: 0;
    text-align: right;
  }
}

.well__tray {
  flex: 0 0 100%;
}

.well__marker {
  position: absolute;
  right: math.div($margin, 3);
  top: 0;
  padding: 0 $margin * 0.125;
  transform: translateY(-50%);
  border-radius: $border-radius;
  background: $bg-dark;
  font-size: 0.75rem;
  color: $white;
  font-weight: bold;
}
