<% content_for :page_title, "Activity Log" %>

<%= render "layouts/account", title: "Activity" do %>
  <div class="activities">
    <%= render @activities %>

    <%= paginate @activities %>
  </div>
<% end %>
