<% return if current_user %>

<figure class="pt-1/2 md:pt-1/1 m-0 text-center adv-ad">
  <div class="ad">
    <figcaption class="ad__title">Advertisement</figcaption>

    <div class="ad_content" id="387450583">
      <script type="text/javascript">
        var iframe = document.querySelector("#397450583").querySelector("iframe")
        if (iframe) iframe.remove()

        try {
          window._mNHandle.queue.push(function (){
            window._mNDetails.loadTag("387450583", "728x90", "387450583");
          });
        }

        catch (error) {}
      </script>
    </div>
  </div>
</figure>
