<% return if current_user %>
<% return if controller_name == "profiles" %>

<figure class="pt-1/1 pb-1/1 m-0 text-center adv-ad">
  <div class="ad">
    <figcaption class="ad__title">Advertisement</figcaption>

    <div class="ad_content" id="806506428">
      <script type="text/javascript">
        var iframe = document.getElementById("806506428").querySelector("iframe")
        if (iframe) iframe.remove()

        try {
          window._mNHandle.queue.push(function (){
            window._mNDetails.loadTag("806506428", "728x90", "806506428");
          });
        }
        catch (error) {}
      </script>
    </div>
  </div>
</figure>
