<div class="alerts" data-role="alerts">
  <% flash.each do |type, message| %>
    <% next if type == "alert" %>
    <div class="alerts__alert <%= "alerts__alert--#{type}" if ["warning", "error"].include? type.to_s %>">
      <p class="mt-1/16 mb-1/16"><%= message %></p>
      <%= button_tag "✕", class: "button p-0 pl-1/16 pr-1/16 text-white", data: { role: "dismiss-parent" } %>
    </div>
  <% end %>

  <div class="alerts__alert alerts__alert--error" style="animation: none; transform: none">
    ⚠
    <div>
      Due to an <%= link_to "unspecified issue", "https://us.forums.blizzard.com/en/overwatch/t/overwatch-2-known-issues-february-7-2023/783293", target: "_blank", rel: "noreferrer noopener" %>, importing custom games via import codes is <strong>currently disabled</strong>. This means that you <strong>cannot</strong> import any of the posts listed on this website.
    </div>
  </div>
</div>
