<footer class="footer">
  <p>
    Copyright &copy; 2019 | All images and icons belong to their respective owner.
  </p>

  <p class="text-right">
    Contribute on <%= link_to "GitHub", "https://github.com/Mitcheljager/workshop.codes", target: "_blank", rel: "noreferrer noopener" %>
  </p>
</footer>
