<div class="dropdown lg-down:dropup" data-dropdown>
  <button class="dropdown__toggle button button--secondary button--thin button--small bg-light" data-action="toggle-dropdown">
    <%= I18n.locale %>
  </button>

  <div class="dropdown__content" data-dropdown-content>
    <div class="dropdown__label">
      Language
    </div>

    <small class="block text-base pl-1/4 pr-1/4 mb-1/4">Set the website language</small>

    <hr>

    <%= link_to "en - English", url_for(params.clone.permit!.merge(locale: nil)), class: "dropdown__item", data: { prefetch: false } %>
    <%= link_to "ko - 한국어", url_for(params.clone.permit!.merge(locale: :ko)), class: "dropdown__item", data: { prefetch: false } %>
  </div>
</div>
