<div class="lootbox" aria-hidden="true" data-role="lootbox">
  <%= image_tag "lootbox.png", class: "lootbox__box" %>
  <%= image_tag "lootbox-bg.png", class: "lootbox__background" %>

  <div class="lootbox__label">
    <div class="lootbox__title">You've earned a <strong>free lootbox</strong></div>
    <div class="lootbox__controls">
      Press
      <strong class="lootbox__windows">CTRL+W</strong>
      <strong class="lootbox__mac">CMD+W</strong>
      to claim
    </div>
</div>
