<div class="profile-block">
  <div class="lg:mr-1/4">
    <% if current_user %>
      <%= link_to current_user.username.split("#")[0], account_path, class: "profile-block__action" %>
    <% else %>
      <%= link_to t("navigation.login"), login_path, class: "profile-block__action" %>
    <% end %>
  </div>

  <%= link_to t("navigation.create"), current_user.present? ? new_post_path : login_path, class: "button profile-block__create lg:mr-1/4" %>

  <%= render "locale_picker" %>
</div>
