<% cache "search_terms" do %>
  <div class="search__tray">
    <div class="search-terms">
      <h3 class="search-terms__title"><strong>Popular</strong> Search&nbsp;terms</h3>

      <div class="search-terms__content">
        <% search_terms.each do |search_term| %>
          <%= link_to search_term.properties, root_path + "search/#{ search_term.properties }", class: "search-term" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
