<div data-toggle-content data-close-on-outside-click>
  <nav class="filter">
    <div class="filter__content dropdown__content--left" data-role="content-to-toggle" data-partial style="display: none">
      <div class="spinner spinner--small ml-1/4 mb-1/4"></div>
    </div>
  </nav>

  <div class="filter-actions">
    <% if is_filter_active? %>
      <%= button_tag "Filter active", name: "Filter is active", class: "filter__link filter__link--active",
                     data: {
                      action: "toggle-content get-filter-content",
                      url: filter_partial_path(params.permit!),
                      animation_timing: 150
                    },
                     aria: { label: "Filter is active" } %>
    <% end %>

    <%= button_tag inline_svg_tag("icons/icon-filter.svg", height: 21, width: 21), name: "Toggle filter", class: "filter__link",
                    data: {
                      action: "toggle-content get-filter-content",
                      url: filter_partial_path(params.permit!),
                      animation_timing: 150,
                    },
                    aria: {
                      label: "Toggle filter"
                    } %>
  </div>
</div>
