<div class="modal" data-modal="report">
  <div class="modal__backdrop" data-role="modal-backdrop"></div>

  <div class="modal__content">
    <h2 class="modal__title">Report <%= params[:concerns_model] %> <strong><%= @post.code if @post.present? %></strong></h2>

    <%= render "form_#{ params[:concerns_model] }" %>
  </div>
</div>
