<div class="modal" data-modal="report">
  <div class="modal__backdrop" data-role="modal-backdrop"></div>

  <div class="modal__content">
    <h2 class="modal__title">Report code <strong><%= @post.code %></strong></h2>

    <%= render "form" %>
  </div>
</div>
