<div class="form-group mt-1/2">
  <%= form.label "Title (optional)", class: "form-label" %>
  <%= form.text_field "properties[title]", value: block_property(block, "title"), class: "form-input", autocomplete: "off" %>
</div>

<div class="form-group mt-1/2">
  <%= form.label "Codes (max 6)", class: "form-label" %>
  <p class="form-hint">Select up to 6 codes to display in a carousel.</p>
  <% if @user.posts.any? %>
    <%= svelte_component "LimitedCheckboxes", {
                         name: "block[properties[posts]][]",
                         limit: 6,
                         options: @user.posts.select(:id, :title, :created_at).public?.order(created_at: :desc).collect {|p| [ p.title, p.id ] },
                         selected: block_property(block, "posts") || [] } %>
  <% else %>
    <p>You've not yet posted anything.</p>
  <% end %>
</div>
