<div class="form-group mt-1/2">
  <%= form.label "Title (optional)", class: "form-label" %>
  <%= form.text_field "properties[title]", value: block_property(block, "title"), class: "form-input", autocomplete: "off" %>
</div>

<div class="form-group mt-1/2">
  <%= form.label "Collections (max 6)", class: "form-label" %>
  <% if @user.collections.any? %>
    <%= svelte_component "LimitedCheckboxes", {
                         name: "block[properties[collections]][]",
                         options: @user.collections.select(:id, :title, :created_at).order(created_at: :desc).collect {|p| [ p.title, p.id ] },
                         selected: block_property(block, "collections") || [],
                         limit: 6 } %>
  <% else %>
    <p>You've not yet posted anything.</p>
  <% end %>
</div>
